<div class="modal-header">
    <h3 class="modal-title">{{data.name?'Edit Agency Information':'Adding an agency'}}</h3>
</div>
<div class="modal-body">
    <form name="agencyForm" class="form-horizontal" role="form" novalidate>
        <div class="form-group" ng-repeat="field in fields">
            <div class="col-sm-5">
                <label class="control-label">{{field.label}}</label>
                <label class="control-label" ng-if="field.required">*</label>
            </div>
            <div class="col-sm-7">
            
                <input type="{{field.type?field.type:'text'}}" class="form-control" ng-model="data[field.name]" ng-required="field.name=='name'||field.name=='address1'" ng-if="field.name != 'postCode' && field.name != 'companyRegNo' && field.name != 'companyVatNo' && field.name != 'country'">
                <input type="{{field.type?field.type:'text'}}" class="form-control" ng-model="data[field.name]" ng-required="field.name=='postCode'" ng-if="field.name == 'postCode'" orig-postcode>
                <input type="{{field.type?field.type:'text'}}" class="form-control" ng-model="data[field.name]" ng-required="field.name=='companyRegNo'" ng-if="field.name == 'companyRegNo'" ng-pattern="/^(\d{8})+$/">
                <input type="{{field.type?field.type:'text'}}" class="form-control" ng-model="data[field.name]" ng-required="field.name=='companyVatNo'" ng-if="field.name == 'companyVatNo'" ng-pattern="/^(\d{9})+$/">
                <ui-select ng-model="data[field.name]" theme="select2" search-enabled="true" ng-if="field.name == 'country'" ng-required = "field.name=='country'">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item.code as item in countries | filter: $select.search">{{item.name}}</ui-select-choices>
                </ui-select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="isSaving || agencyForm.$invalid">
        <span ng-show="!isSaving"><i class="fa fa-save"></i> &nbsp; Save </span>
        <span ng-show="isSaving"><i class="fa fa-spinner fa-spin"></i> &nbsp; Saving... </span>
    </button>
    <button class="btn btn-warning" ng-click="cancel()"><i class="fa fa-close"></i> &nbsp; Cancel</button>
</div>