<!-- Right Sidebar Menu  -->
<div class="sidebar-menu-inner" ng-controller="AgencySidebarController">
  <div class="company-logo">
    <img src="http://placehold.it/300x150" class="user-photo" alt="image" />    
  </div>
  <div class="add-agency">
    <div class="form-group hidden-xs hidden-sm">
      <button type="button" class="btn btn-success form-control" ng-click="openAddAgencyWin()">Add New Agency</button>
    </div>
  </div>

  <div class="main-menu">
    <div class="menu-wrapper green-light-color">
      <p class="entry-title col-lg-12"><i class="fa fa-check-square-o pull-left"></i>Current Pending Candidates</p>
      <ul>
        <li><a href="#">ggg</a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>    
    </div>
    <div class="menu-wrapper green-light-color">
      <p class="entry-title col-lg-12"><i class="fa fa-clock-o pull-left"></i>New Registrations</p>
      <ul>
        <li><a href="#">ggg</a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
    <div class="menu-wrapper green-color">
      <p class="entry-title col-lg-12"><i class="fa fa-users pull-left"></i>New Agencies</p>
      <ul>
        <li><a href="#">ABC Recruitment</a></li>
        <li><a href="#">123 Recruitment</a></li>
        <li><a href="#">Time Recruitment</a></li>
      </ul>
    </div>
  </div>

  <ul id="left-menu" class="main-menu">
    <li><a href="#"><i class="fa fa-check-square-o sky-brand"></i><span class="title">Current Pending Candidates</span></a></li>
    <li><a href="#"><i class="fa fa-clock-o sky-brand"></i><span class="title">New Registrations</span></a></li>
    <li><a href="#"><i class="fa fa-users sky-brand"></i><span class="title">New Agencies</span></a></li>
  </ul>
</div>
