<!-- Right Sidebar Menu  -->
<div class="sidebar-menu-inner" ng-controller="AgencySidebarController">
  <div class="company-logo">
    <img src="http://placehold.it/300x150" class="user-photo" alt="image" />    
  </div>
  <ul id="left-menu" class="main-menu">
    <li><a href="#"><i class="fa fa-check-square-o sky-brand"></i><span class="title">Current Pending Candidates</span></a></li>
    <li><a href="#"><i class="fa fa-clock-o sky-brand"></i><span class="title">New Registrations</span></a></li>
    <li><a href ng-click="addNewAgency()"><i class="fa fa-users sky-brand"></i><span class="title">New Agencies</span></a></li>
  </ul>
</div>
