<div class="table-view-layout">
    <div class="table-view-main-content">
        <div class="table-view padding-10 meta-box container-fluid">
            <div class="tv-search-row">
                <div class="tv-search-container">
                    <div class="tv-search">
                        <input class="form-control" type="text" placeholder="Search" />
                    </div>
                    <div class="tv-search-btn">
                        <button class="btn btn-success form-control">Go</button>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-2 nonepadding text-right">
                    <button ng-click="addNewAgency()" class="btn btn-success">
                        <i class="fa fa-plus"></i> Add Agency
                    </button>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12" id="agency_list">
                    <div orig-grid="gridOptions" external-scope="$scope"></div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="button" class="btn btn-success form-control" ng-disabled="isLoading" ng-show="ableLoadMore" ng-click="loadAgencies(false)">Load More...</button>
                </div>
            </div>
        </div>
    </div>

    <div class="sidemenu right-sidebar">
        <div ng-include="'views/agency/_rightmenu.html'"></div>
    </div>
</div>