<div class="col-xs-12">
	<p class="entry-title">Default Invoicing <a class="icon-edit pull-right" href="javascript:void(0);" ng-click="openAgencyDefaultInvoicing()"><i class="fa fa-edit"></i></a>
	</p>
	<ul class="col-sm-5 entry-content">
		<li class="clearfix">Holiday Pay included <span class="meta">{{payrollData.defaultInvoicing.holidayPayIncluded?'Yes':'No'}}</span>
		</li>
		<li class="clearfix">Employers NI included <span class="meta">{{payrollData.defaultInvoicing.employersNiIncluded?'Yes':'No'}}</span>
		</li>
		<li class="clearfix">VAT charged <span class="meta">{{payrollData.defaultInvoicing.invoiceVatCharged?'Yes':'No'}}</span>
		</li>
		<li class="clearfix">Invoice Method <span class="meta">{{payrollData.defaultInvoicing.invoiceMethod.description}}</span>
		</li>
		<li class="clearfix">Invoice Design <span class="meta">{{payrollData.defaultInvoicing.invoiceDesign.name}}</span>
		</li>
	</ul>
	<div class="col-sm-1 entry-content"></div>
	<ul class="col-sm-6 entry-content">
		<li class="clearfix">Invoice Email Primary
			<a ng-href="mailto:{{payrollData.defaultInvoicing.invoiceEmailPrimary}}"><span class="meta-o">{{payrollData.defaultInvoicing.invoiceEmailPrimary}}</span></a>
		</li>
		<li class="clearfix">Invoice Email Secondary
			<a ng-href="{{payrollData.defaultInvoicing.invoiceEmailSecondary}}"><span class="meta-o">{{payrollData.defaultInvoicing.invoiceEmailSecondary}}</span></a>
		</li>
		<li class="clearfix">Payment Terms <span class="meta">{{payrollData.defaultInvoicing.paymentTerms.description}}</span>
		</li>
		<li class="clearfix">Invoice to <span class="meta">{{payrollData.defaultInvoicing.invoiceTo.name}}</span>
		</li>
	</ul>
</div>

<div class="col-xs-12">
	<p class="entry-title">Default Payroll <a class="icon-edit pull-right" href="javascript:void(0);" ng-click="openAgencyDefaultPayroll()"><i class="fa fa-edit"></i></a>
	</p>
	<ul class="col-sm-5 entry-content">
		<li class="clearfix">Product Type <span class="meta">{{payrollData.defaultPayroll.productType.description}}</span>
		</li>
		<li class="clearfix">Margin Charged to agency <span class="meta">{{payrollData.defaultPayroll.marginChargedToAgency?'Yes':'No'}}</span>
		</li>
		<li class="clearfix">Margin Type <span class="meta">{{payrollData.defaultPayroll.marginType.description}}</span>
		</li>
	</ul>
	<div class="col-sm-1 entry-content"></div>
	<ul class="col-sm-6 entry-content">
		<li class="clearfix">Margin Amount <span class="meta">&#163;{{payrollData.defaultPayroll.marginAmount || '0'}}</span>
		</li>
		<li class="clearfix">Holiday Amount <span class="meta">{{payrollData.defaultPayroll.holidayAmount || '0'}}&percnt;</span>
		</li>
	</ul>
</div>