<div class="col-xs-12">
  <p class="entry-title">Default Invoicing <a class="icon-edit pull-right" href="javacript:void(0)" ng-click="openAgencyDefaultInvoicing()"><i class="fa fa-edit"></i>edit</a></p>
</div>
<div class="col-xs-12">
  <div class="row entry-content">
    <div class="col-sm-5 nonepadding">
      <div class="col-sm-12 form-group">Holiday Pay included <span class="meta-o">{{payrollData.default_invoicing.holiday_pay_included?'Yes':'No'}}</span></div>
      <div class="col-sm-12 form-group">Employers NI included <span class="meta-o">{{payrollData.default_invoicing.employers_ni_included?'Yes':'No'}}</span></div>
      <div class="col-sm-12 form-group">VAT charged <span class="meta-o">{{payrollData.default_invoicing.invoice_vat_charged?'Yes':'No'}}</span></div>
      <div class="col-sm-12 form-group">Invoice Method <span class="meta-o">{{payrollData.default_invoicing.invoice_method}}</span></div>
      <div class="col-sm-12 form-group">Invoice Design <span class="meta-o">{{payrollData.default_invoicing.invoice_design}}</span></div>
    </div>
    <div class="col-sm-7 nonepadding">
      <div class="col-sm-12 form-group">Invoice Email Primary
        <a ng-href="mailto:{{payrollData.default_invoicing.invoice_email_primary}}"><span class="meta">{{payrollData.default_invoicing.invoice_email_primary}}</span></a>
      </div>
      <div class="col-sm-12 form-group">Invoice Email Secondary
        <a ng-href="{{payrollData.default_invoicing.invoice_email_secondary}}"><span class="meta">{{payrollData.default_invoicing.invoice_email_secondary}}</span></a>
      </div>
      <div class="col-sm-12 form-group">Payment Terms <span class="meta-o">{{payrollData.default_invoicing.payment_terms}}</span></div>
      <div class="col-sm-12 form-group">Invoice to <span class="meta-o">{{payrollData.default_invoicing.invoice_to}}</span></div>
    </div>	
  </div>
</div>
<div class="col-xs-12">
  <p class="entry-title">Default Payroll <a class="icon-edit pull-right" href="javacript:void(0)" ng-click="openAgencyDefaultPayroll()"><i class="fa fa-edit"></i>edit</a></p>
</div>
<div class="col-sm-12">	
  <div class="row entry-content">
    <div class="col-sm-5 nonepadding">
      <div class="col-sm-12 form-group">Product Type <span class="meta-o">{{payrollData.default_payroll.product_type}}</span></div>
      <div class="col-sm-12 form-group">Margin Charged to agency <span class="meta-o">{{payrollData.default_payroll.margin_charged_to_agency?'Yes':'No'}}</span></div>
      <div class="col-sm-12 form-group">Margin Type <span class="meta-o">{{payrollData.default_payroll.margin_type}}</span></div>
    </div>
    <div class="col-sm-7 nonepadding">
      <div class="col-sm-12 form-group">Margin Amount <span class="meta-o">&#163;{{payrollData.default_payroll.margin_amount || '0'}}</span></div>	
      <div class="col-sm-12 form-group">Holiday Amount <span class="meta-o">{{payrollData.default_payroll.holiday_amount || '0'}}&percnt;</span></div>
    </div>	
  </div>
</div>	