<div class="col-md-6">
	<p class="entry-title">Sales<a class="icon-edit pull-right" href="javascript:void(0);" ng-click=""><i class="fa fa-edit"></i></a>
	</p>
	<ul class="entry-content">
		<li>Lead Sales<span class="meta">{{}}</span>
		</li>
		<li>Commission Profile<span class="meta">{{}}</span>
		</li>
		<li>Account Manager<span class="meta">{{}}</span>
		</li>
	</ul>
</div>

<div class="col-md-6">
	<p class="entry-title">Administration Cost <a class="icon-edit pull-right" href="javascript:void(0);" ng-click="openAgencyDefaultInvoicing()"><i class="fa fa-edit"></i></a>
	</p>
	<ul class="entry-content">
		<li>Per Referral<span class="meta">{{}}</span>
		</li>
		<li>Per Timesheet<span class="meta">{{}}</span>
		</li>
		<li>Timesheet Gross<span class="meta">{{}}</span>
		</li>
	</ul>
</div>