<div class="col-xs-12">
  <p class="entry-title">Sales</p>
</div>


<form name="form" role="form" novalidate>
  <div class="col-sm-12">	
    <div class="row">
      <div class="col-xs-12 nonepadding">
        <div class="col-sm-4 col-xs-6 form-group">Lead Sales</div>
        <div class="col-sm-2 col-xs-6 form-group">
          <select class="form-control" ng-model="data.sales.lead_sales">
            <option>User</option>
          </select>
        </div>
        <div class="col-sm-4 col-xs-6 form-group">Commission Profile</div>
        <div class="col-sm-2 col-xs-6 form-group">
          <select class="form-control" ng-model="data.sales.commision_profile">
            <option>User</option>
          </select>
        </div>
      </div>
      <div class="col-xs-12 nonepadding">	
        <div class="col-sm-4 col-xs-6 form-group">Account Manager</div>
        <div class="col-sm-2 col-xs-6 form-group">
          <select class="form-control" ng-model="data.sales.account_manager">
            <option>User</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <p class="entry-title">Administration cost</p>
  </div>

  <div class="col-sm-12">
    <div class="row">
      <div class="col-xs-12 nonepadding">
        <div class="col-sm-4 col-xs-6 form-group">Per Referral</div>
        <div class="col-sm-3 col-xs-6  form-group">
          <input type="text" class="form-control" ng-model="data.administration_cost.per_referral">
        </div>
      </div>
      <div class="col-xs-12 nonepadding">	
        <div class="col-sm-4 col-xs-6 form-group">Per Timesheet</div>
        <div class="col-sm-3 col-xs-6 form-group">
          <input type="text" class="form-control" ng-model="data.administration_cost.per_timesheet">
        </div>
      </div>  
      <div class="col-xs-12 nonepadding">
        <div class="col-sm-4 col-xs-6 form-group">Timesheet Gross</div>
        <div class="col-sm-3 col-xs-6 form-group">
          <input type="text" class="form-control" ng-model="data.administration_cost.timesheet_gross">
        </div>
      </div>
    </div>
  </div>
</form>

<div class="col-sm-12 text-right">
  <button class="btn btn-primary" ng-click="save()" ng-disabled="isSaving || form.$invalid">
    <span ng-show="!isSaving"><i class="fa fa-save"></i> &nbsp;Save </span>
    <span ng-show="isSaving"><i class="fa fa-spinner fa-spin"></i> &nbsp; Saving... </span>
  </button>
</div>