<div class="col-md-6">
    <p class="entry-title">Sales<a class="icon-edit pull-right" href="javascript:void(0);" ng-click=""><i class="fa fa-edit"></i> edit</a>
    </p>
    <div class="entry-content">
        <div class="row">
            <div class="col-xs-12 nonepadding">
                <div class="col-xs-12 form-group">Lead Sales<span class="meta">{{}}</span>
                </div>
                <div class="col-xs-12 form-group">Commission Profile<span class="meta">{{}}</span>
                </div>
                <div class="col-xs-12 form-group">Account Manager<span class="meta">{{}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <p class="entry-title">Administration Cost <a class="icon-edit pull-right" href="javascript:void(0);" ng-click="openAgencyDefaultInvoicing()"><i class="fa fa-edit"></i> edit</a>
    </p>
    <div class="entry-content">
        <div class="row">
            <div class="col-xs-12 form-group">Per Referral<span class="meta">{{}}</span>
            </div>
            <div class="col-xs-12 form-group">Per Timesheet<span class="meta">{{}}</span>
            </div>
            <div class="col-xs-12 form-group">Timesheet Gross<span class="meta">{{}}</span>
            </div>
        </div>
    </div>
</div>