// google font
@import url('http://fonts.googleapis.com/css?family=Questrial');

@import "global/variables";

@import "libs/angular-ui-select/select2";

$fa-var-check: "";
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";
// endbower

// purecss grids and responsiveness bundle
@import "_pure";


@import "global/index";
@import "pages/index";
@import "add_timesheet";


body > div.page-container.container-fluid.lty-body.ng-scope > div.main-content.ng-scope > div.ng-scope > div > div.orig-grid-wrapper.ng-isolate-scope > div > ul > li.ng-scope.active > a {
    background-color: $green;
}