<div class="container form-control">
	<h2 style="color:green;margin-bottom:30px">
		Adding an attachement of Earnings
	</h2>
<form class="form-horizontal">
	<div class="row form-group">
    <label class="col-xs-2 control-label">Candidate Name</label>
    <div class="col-xs-3 no-padding-left">
        <input type="text" readonly class="form-control"/>
    </div>

    <label class=" col-xs-offset-2 col-xs-2  control-label">Candidate ID</label>
    <div class="col-xs-3 no-padding-left">
      <input type="text" readonly class="form-control" />
    </div>
	</div>
	<div class="col-xs-12"><hr class="divder" style="margin-bottom:50px"></div>

	<div class="row form-group">
		    <div class="col-xs-3">
						<label class="control-label">Type</label>
		        <select class="form-control">
		        	<option>1</option>
		        	<option>2</option>
		        	<option>3</option>
		        	<option>4</option>
		        </select>
		    </div>

		    <div class="col-xs-3 col-xs-offset-1">
						<label class="control-label">Priority</label>
		        <select class="form-control ">
		        	<option>1</option>
		        	<option>2</option>
		        	<option>3</option>
		        	<option>4</option>
		        </select>
		    </div>

		    <div class="col-xs-3 col-xs-offset-1">
						<label class="control-label">Deduction Type</label>
		        <select class="form-control ">
		        	<option>1</option>
		        	<option>2</option>
		        	<option>3</option>
		        	<option>4</option>
		        </select>
		    </div>
	</div>
	<div class="row col-xs-12" style="width:100%;margin-bottom:20px"></div>
	<div class="row form-group">
		<label class="col-xs-4 control-label ">Effective Date</label>
    <div class="col-xs-3 no-padding-left">
        <input type="text" class="form-control"/>
    </div>
  </div>

  <div class="row form-group">
		<label class="col-xs-4 control-label ">End Date</label>
    <div class="col-xs-3 no-padding-left">
        <input type="text" class="form-control"/>
    </div>
  </div>

  <div class="row form-group">
		<label class="col-xs-4 control-label ">Deduction (or) rate</label>
    <div class="col-xs-3 no-padding-left">
        <input type="text" class="form-control"/>
    </div>
  </div>

  <div class="row form-group">
		<label class="col-xs-4 control-label ">Admin Fee</label>
    <div class="col-xs-3 no-padding-left">
        <input type="text" class="form-control"/>
    </div>
  </div>

  <div class="row form-group">
		<label class="col-xs-4 control-label ">Order Reference</label>
    <div class="col-xs-3 no-padding-left">
        <input type="text" class="form-control"/>
    </div>
  </div>

  <div class="row form-group">
		<label class="col-xs-4 control-label ">Total Attachment</label>
    <div class="col-xs-3 no-padding-left">
        <input type="text" class="form-control"/>
    </div>
  </div>

  <div class="row form-group">
		<label class="col-xs-4 control-label ">Deduction This Period</label>
    <div class="col-xs-3 no-padding-left">
        <input type="text" class="form-control"/>
    </div>
  </div>

  <div class="row form-group">
		<label class="col-xs-4 control-label ">Deducation Carried Forwards</label>
    <div class="col-xs-3 no-padding-left">
        <input type="text" class="form-control"/>
    </div>
  </div>

  <div class="row form-group">
		<label class="col-xs-4 control-label ">Protectted Minimum Carried Forwards</label>
    <div class="col-xs-3 no-padding-left">
        <input type="text" class="form-control"/>
    </div>
  </div>

  <div class="row form-group">
		<label class="col-xs-4 control-label ">Deduction so far</label>
    <div class="col-xs-3 no-padding-left">
        <input type="text" class="form-control"/>
    </div>
  </div>

  <div class="row form-group">
		<label class="col-xs-4 control-label ">Deduction Brought Forwards</label>
    <div class="col-xs-3 no-padding-left">
        <input type="text" class="form-control"/>
    </div>
  </div>

  <div class="row form-group">
		<label class="col-xs-4 control-label ">Protected Minimum Brought Forwards</label>
    <div class="col-xs-3 no-padding-left">
        <input type="text" class="form-control"/>
    </div>
  </div>

  <div class="row form-group">
		<label class="col-xs-4 control-label ">Last Paid Date</label>
    <div class="col-xs-3 no-padding-left">
        <input type="text" class="form-control"/>
    </div>
  </div>

  
	</form>
</div>