
			<div class="modal-content">
			<button ng-click="logMe()">logMe</button>
				<div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Create Invoice</h4>
				</div><!-- modal-header -->
				
				<div class="modal-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Select agency</label>
                                    <div class="col-xs-6 no-padding-left">
                                        <select ng-model = "displayAgencies" 
                                                ng-options="agency.name for agency in agencies" 
                                                class="form-control">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Select branch</label>
                                    <div class="col-xs-6 no-padding-left">
                                        <select ng-model = "displayBranches"
                                                
                                                class="form-control">
                                            <option ng-repeat="($index,value) in branches" ng-bind="value.name"></option>
                                        </select>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </form>
                    <br/>
                    <div class="row"> 
                        <div class="col-sm-12">
                            <h4>Select timesheet batch to invoice:</h4>
                            <div class="tableWrapper tableWrapperHeight140">
                                 <table class="table table-striped">
                                     <tbody>
                                         <tr ng-click="clicked = true" ng-repeat="batch in timeBatches">
                                             <td style="cursor:pointer;" 
                                                 ng-mouseleave = "hover = false"ng-mouseover = "hover = true" 
                                                 ng-class="{'info':$index == selected || hover}" 
                                                 ng-click="sendBatch(batch._id,$index)" >
                                                 {{batch._id}}
                                             </td>
                                         </tr>
                                     </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                        
                    <form class="form-horizontal">
                        <div class="row">
                            
                            <div class="col-sm-12">
                                <h4>Company Defaults</h4>
                            </div>
                            
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Holiday pay included</label>
                                    <div class="col-xs-6">
                                        <select ng-model = "holidayPayIncluded"  class="form-control">
                                            <option ng-show="select.$pristine" 
                                                    value="{{holidayPayIncluded}}">
                                                    {{holidayPayOption}}
                                            </option>
                                            <option value="true" >Yes</option>
                                            <option value="false" >No</option>
                                        </select>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-xs-6 control-label">Employers NI included</label>
                                    <div class="col-xs-6">
                                        <select ng-model = "employersNiIncluded" class="form-control">
                                            <option ng-show="select.$pristine" value="{{employersNiIncluded}}">        {{employersNiOption}}
                                            </option>
                                            <option value = "true">Yes</option>
                                            <option value = "false">No</option>
                                        </select>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-xs-6 control-label">VAT charged</label>
                                    <div class="col-xs-6">
                                        <select ng-model = "invoiceVatCharged" class="form-control">
                                            <option ng-show="select.$pristine" value="{{invoiceVatCharged}}">        {{invoiceVatOption}}
                                            </option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-xs-6 control-label">Invoice design</label>
                                    <div class="col-xs-6">
                                        <select ng-model = "invoiceDesignModel" 
                                                ng-options = "item.name for item in invoiceDesignArray" 
                                                class="form-control">
                                        </select>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-xs-6 control-label">Margin amount</label>
                                    <div class="col-xs-6">
                                        
                                        <input ng-model = "marginAmount" type="number" min="0" 
                                               class="form-control" placeholder = "{{marginAmount}}">
                                    </div>
                                 </div>
                            </div>
                            
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group form-group-email">
                                    <label class="col-xs-6 control-label">Invoice email primary</label>
                                    <div class="col-xs-6 control-label">{{invoiceEmailPrimary}}</div>
                                </div>
                                <div class="form-group form-group-email">
                                    <label class="col-xs-6 control-label">Invoice email secondary</label>
                                    <div class="col-xs-6 control-label">{{invoiceEmailSecondary}}</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Payment terms</label>
                                    <div class="col-xs-6">
                                        <select ng-model="paymentTermsModel" 
                                                ng-options="item.description for item in paymentTermsArray" 
                                                class="form-control">
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Margin charged to agency</label>
                                    <div class="col-xs-6">
                                        <select ng-model="marginChargedToAgency" class="form-control">
                                            <option value="marginChargedToAgency" ng-show="select.$pristine">        {{marginChargedToAgencyOption}}
                                            </option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Holiday amount</label>
                                    <div class="col-xs-6">
                                        <input ng-model = "holidayAmount" type="number" min="0" 
                                               class="form-control" placeholder="{{holidayAmount}}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
				</div><!-- modal-body -->
				    
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-xs-2">
                                <a href="#" type="button" class="btn pull-left">Cancel</a>
                            </div>
                             <div class="col-xs-6 no-padding-left">
                                 <div>
                                     Checked and confirmed the above details?
                                     <input ng-model = "checkbox" type="checkbox" style="margin-left:5px;"/>
                                 </div>
                             </div>
                             <div class="col-xs-4 no-padding-left">
                                 <a href ng-disabled="checkbox == false" ng-click="proceed(); invoiceOverview()"   type="button" class="btn">Proceed and Generate&#160;
                                    <i class="fa fa-chevron-right"></i>
                                 </a>
                            </div>
                        </div>
                  </div><!-- modal footer -->
		 	</div><!-- modal content -->
