<div style="margin-left:50px;">
	<div class="col-xs-12;margin-top:30px;">
		<label style="margin-right:40px;">Select Agency</label>
		<select>
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		</select>
	</div>

	<div >
		<div style="margin-top:70px">
			<span style="margin-right:40px;"  >
				<label >Number Of Timesheets</label>
			</span>
			<span >
				<span>ck</span>
			</span>
		</div>

		<div style="margin-top:25px">
			<span style="margin-right:40px;"><label >Number Of Uploads</label></span>
			<span >ck</span>
		</div>
		
		<div style="margin-top:25px">
			<span style="margin-right:40px;"><label >Manually Added Timesheets</label></span>
			<span >ck</span>
		</div>

		<div style="margin-top:25px">
			<span style="margin-right:40px;"><label >Invoices To Generate</label></span>
			<span >ck</span>
		</div>

		<div style="margin-top:25px">
			<span style="margin-right:40px;"><label >validation To Generate</label></span>
			<span >ck</span>
		</div>
		
		<div style="margin-top:25px">
			<span style="margin-right:40px;"><label >Gross</label></span>
		</div>
		<div style="margin-left:25px">
			<div style="margin-top:10px">
				<span style="margin-right:40px;"><label >Validation  1</label></span>
				<span >ck</span>
			</div>
			
			<div style="margin-top:25px">
				<span style="margin-right:40px;"><label >Validation  2</label></span>
				<span >ck</span>
			</div>

			<div style="margin-top:25px">
				<span style="margin-right:40px;"><label >Validation  3</label></span>
				<span >ck</span>
			</div>

			<div style="margin-top:25px">
				<span style="margin-right:40px;"><label >Validation  4</label></span>
				<span >ck</span>
			</div>
		</div>
		<p style="margin-top:50px">Sending To</p>
		<div class="row">
			<p class="col-xs-2">test@gmail.com</p>
			<p class="col-xs-2"><a href="">edit</a></p>

		</div>
		<div class="row">
			<p class="col-xs-2">test@gmail.com</p>
			<p class="col-xs-2"><a href="">edit</a></p>
		</div>
		<div class="row col-xs-12" >
			<div class="col-xs-8" ></div>
			<div align="right" class="col-xs-2"><p>
			<button style="" class="btn btn-fail" >cancel</button>

			</div>
			<div align="left" class="col-xs-2">
			<button style="" class="btn btn-success" >send</button>
			</div>
		</div>
	</div>

</div>