<div class="container form-control" style="width:75%">
	 <!-- select row -->

		<div class="col-xs-12"> <!-- page -->
			<div class="col-xs-6"> <!--first half -->

				<div class="row">
					<h2 class="col-xs-6"> End Period </h2>
				</div>
				<div class="row">	
					<div class="col-xs-6">	
						<select class="form-control" style="margin-bottom:20px;">
							<option>Weekly</option>
						</select>
					</div>		
				</div>	

				<div class="row">
					<div class="col-xs-7">Back Up successful</div>
							<div class="col-xs-3">	
								<button class="btn btn-success col-xs-12">Run</button>
							</div>
					<div class="col-xs-2 text-right">
						 <span class="fa fa-spinner"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">Reports generated</div>
					<div class="col-xs-6 text-right">
						 <span class="glyphicon glyphicon-ok"></span>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6">Payments confirmed</div>
					<div class="col-xs-6 text-right">
						 <span class="glyphicon glyphicon-ok"></span>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-7">RTI submission made</div>
					<div class="col-xs-3 text-right">	
							<button class="btn btn-success col-xs-12 ">Run</button>
					</div>
					<div class="col-xs-2 text-right">
						 <span class="glyphicon glyphicon-ok"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-7">Employees to re-process</div>
					<div class="col-xs-3 text-right">999999</div>
					<div class="col-xs-2 text-right">
						 <span class="glyphicon glyphicon-list"></span>
					</div>
				</div>
				<div class="row" style="margin-bottom:90px;">
					<div class="col-xs-7">Employees processed & not paid</div>
					<div class="col-xs-3 text-right">999999</div>
					<div class="col-xs-2 text-right">
						 <span class="glyphicon glyphicon-list"></span>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-7">Employees on hold</div>
					<div class="col-xs-3 text-right">999999</div>
				</div>
				<div class="row">
					<div class="col-xs-7">Employees left</div>
					<div class="col-xs-3 text-right">999999</div>
				</div>
				<div class="row">
					<div class="col-xs-7">Employees on holiday</div>
					<div class="col-xs-3 text-right">999999</div>
				</div>			
			</div>
				
			<div class="col-xs-6"> <!-- second half -->
				<div class="row" style="margin-top:20px;">
					<div class="col-xs-6">Current Period</div>
					<div class="col-xs-6 text-right">46</div>
				</div>
				<!-- <div class="col-xs-6"></div> -->
				<div class="row" style="margin-bottom:60px;">
					<div class="col-xs-6">Process date</div>
					<div class="col-xs-6 text-right">99/99/9999</div>
				</div>
				<div class="row">
					<div class="col-xs-6">Total employee count</div>
					<div class="col-xs-6 text-right">9999</div>
				</div>
				<div class="row">
					<div class="col-xs-6">Employee processed</div>
					<div class="col-xs-6 text-right">9999</div>
				</div>
				<div class="row">
					<div class="col-xs-6">Unpaid Invoices</div>
					<div class="col-xs-6 text-right">9999</div>
				</div>
				<div class="row">
					<div class="col-xs-6">Paid invoices</div>
					<div class="col-xs-6 text-right">9999</div>
				</div>
				<div class="row">
					<h4 class="col-xs-6"><strong>Compare to control report</strong></h4>
					
				</div>

				<div class="row">
					<div class="col-xs-4">Total income</div>
					<div class="col-xs-4 text-right">&pound; 9999</div>
					<div class="col-xs-4 text-right"> <input type="checkbox"></div>
				</div>

				<div class="row">
					<div class="col-xs-4">Total outgoing tax</div>
					<div class="col-xs-4 text-right">&pound; 9999</div>
					<div class="col-xs-4 text-right"> <input type="checkbox"></div>
				</div>

				<div class="row">
					<div class="col-xs-4">Tax</div>
					<div class="col-xs-4 text-right">&pound; 9999</div>
					<div class="col-xs-4 text-right"> <input type="checkbox"></div>
				</div>

				<div class="row">
					<div class="col-xs-4">NI</div>
					<div class="col-xs-4 text-right">&pound; 9999</div>
					<div class="col-xs-4 text-right"> <input type="checkbox"></div>
				</div>

				<div class="row">
					<div class="col-xs-4">ERNI</div>
					<div class="col-xs-4 text-right">&pound; 9999</div>
					<div class="col-xs-4 text-right"> <input type="checkbox"></div>
				</div>

				<div class="row">
					<div class="col-xs-4">Other</div>
					<div class="col-xs-4 text-right">&pound; 9999</div>
					<div class="col-xs-4 text-right"> <input type="checkbox"></div>
				</div>

				<div class="row">
					<div class="col-xs-4">Margin</div>
					<div class="col-xs-4 text-right">&pound; 9999</div>
					<div class="col-xs-4 text-right"> <input type="checkbox"></div>
				</div>
				<div class="row"		>
						<div class="col-xs-8 text-right"><a  href="#">cancel</a></div>
						<div class="col-xs-4 text-right">
								<button class="btn btn-success col-xs-12">End Period</button>
						</div>
				</div>
				
			</div>
			
		</div>
	
	
</div>