<div class="container-fluid payroll-home">
    <div class="span12">
        <div class="panel panel-default top-spacer">
            <div class="panel-heading">Payroll Overview<select class="form-control" ng-change="getPayroll(periodType)" ng-model="periodType" ng-options="option.code as option.description for option in periodTypeValues"></select></div>
            <div class="panel-body  panel-custom ">
                <div class="row col-xs-12">
                    <div class="col-xs-offset-10 col-xs-2">
                    </div>
                </div>
                <div class="payroll-overview row col-xs-12">
                    <ul>
                        <li class="dropdown"><i class="fa fa-file-excel-o fa-3x icon-center"></i>
                            <h5>Schedules Uploaded</h5><a ng-click="viewCompanies('Schedules Uploaded')" style="cursor:pointer">{{payroll.stats.schedulesUploaded}}</a>

                        </li>
                        <li class="dropdown"><i class="fa fa-file-excel-o fa-3x icon-center"></i>
                            <h5>Validations Approved</h5><a ng-click="viewCompanies('Validations Approved')" style="cursor:pointer">{{payroll.stats.validationsApproved}}</a>

                        </li>
                        <li class="dropdown"><i class="fa fa-file-excel-o fa-3x icon-center"></i>
                            <h5>Invoices sent</h5><a ng-click="viewCompanies('Invoices sent')" style="cursor:pointer">{{payroll.stats.invoicesSent}}</a>

                        </li>
                        <li class="dropdown"><i class="fa fa-file-excel-o fa-3x icon-center"></i>
                            <h5>Invoices Receipted</h5><a ng-click="viewCompanies('Invoices Receipted')" style="cursor:pointer">{{payroll.stats.invoicesReceipted}}</a>

                        </li>
                        <li class="dropdown"><i class="fa fa-file-excel-o fa-3x icon-center"></i>
                            <h5>Awaiting Payroll</h5><a ng-click="viewCompanies('Awaiting Payroll')" style="cursor:pointer">{{payroll.stats.awaitingPayroll}}</a>

                        </li>
                        <li class="dropdown"><i class="fa fa-file-excel-o fa-3x icon-center"></i>
                            <h5>Number of Payrolls Unpaid</h5><a ng-click="viewCompanies('Number of Payrolls Unpaid')" style="cursor:pointer">{{payroll.stats.payrollsUnpaid}}</a>
                        </li>
                    </ul>
                </div>
                <div class="payroll-overview">
                    <div style="margin-top: 150px; padding: 0" class="view-all">
                        <button type="button" class="btn btn-success" ng-click="viewAction()">View All</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="span12">
        <div class="panel panel-default">
            <div class="panel-heading">Pre-Payroll</div>
            <div class="panel-body pre-payroll">
                <ul>
                    <li>
                        <a style="cursor:pointer" ng-click="openCreateValidation()">Create&nbsp;Validation</a>
                    </li>
                    <li>
                        <a href ng-click="createInvoice()">Create&nbsp;Invoice</a>
                    </li>
                    <li>
                    	<a href ng-click="openReceiptFunds()" >Receipt&nbsp;Funds</a>
                    </li>
                    <li>
                        <a ng-href="#">Run Banking Report</a>
                    </li>
                    <li>
                        <a href ng-click="importTimesheets()">Import&nbsp;Timesheets</a>
                    </li>
                    <li ng-file-select="onFileSelect($files)">
                        <a href >Import&nbsp;Expenses</a>
                    </li>
                    <li>
                        <a ng-href="#">Import&nbsp;Margin</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="span12 bottom-spacer">
        <div class="panel panel-default">
            <div class="panel-heading">Payroll</div>
            <div class="panel-body payroll-actions">
                <ul>
                    <li>
                        <a ui-sref="app.payroll.approveTimesheets">Approve&nbsp;Timesheets</a>
                    </li>
                    <li>
                    	<a style="cursor:pointer" ui-sref="app.payroll.runPayroll">Run&nbsp;Payroll</a>
                    </li>
                    <li>
                        <a ng-href="#">NET&nbsp;Pay&nbsp;reports</a>
                    </li>
                    <li>
                        <a ng-href="#">Create&nbsp;BACS&nbsp;File</a>
                    </li>
                    <li>
                        <a ng-href="#">Confirm&nbsp;Payments</a>
                    </li>
                    <li>
                        <a ng-href="#">Upload&nbsp;Payslips</a>
                    </li>
                    <li>
                        <a ng-href="#">Send&nbsp;Text</a>
                    </li>
                    <li>
                        <a ng-href="#">Print&nbsp;Payslips</a>
                    </li>
                    <li>
                        <a ng-href="#">Send&nbsp;Email</a>
                    </li>
                    <li>
                        <a ng-href="#">Control&nbsp;Reports</a>
                    </li>
                    <li>
                        <a ui-sref="app.payroll.approveExpenses">Approve&nbsp;Expenses</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="span12 payroll-buttons">
            <div class="payroll-btn-wrapper">
                <button type="button" class="btn btn-success"  ui-sref="app.payroll.actionRequest">Action&nbsp;Requests</button>
                <button ui-sref="app.payroll.timesheets" type="button" class="btn btn-success">Timesheets</button>
                <button type="button" class="btn btn-success">Invoices</button>
                <button type="button" class="btn btn-success" ui-sref="app.payroll.payroll">Payroll</button>
            </div>
            <div class="payroll-btn-wrapper">
                <button type="button" class="btn btn-success">History</button>
                <button type="button" class="btn btn-success">Payslips</button>
                <button type="button" class="btn btn-success" ui-sref="app.payroll.expenses">Expenses</button>
                <button type="button" class="btn btn-success" ui-sref="app.payroll.endPeriod">End&nbsp;Period</button>
            </div>
        </div>
    </div>
</div>