<div class="container payroll-home">
    <div class="span12">
        <div class="panel panel-default top-spacer">
            <div class="panel-heading">Payroll Overview</div>
            <div class="panel-body  panel-custom ">
            <div class="payroll-overview">
				<ul >
					<li class="dropdown"><i class="fa fa-file-excel-o fa-3x icon-center"></i>
						<h5>Schedules Uploaded</h5><a id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" ng-click="viewCompanies('Schedules Uploaded')" style="cursor:pointer">{{payroll.stats.schedulesUploaded}}</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="agency in agencyList track by $index" role="presentation" ><a role="menuitem" tabindex="-1" style="pointer:cursor">{{agency}}</a></li>
                      </ul>
					</li>
					<li class="dropdown"><i class="fa fa-file-excel-o fa-3x icon-center"></i>
						<h5>Validations Approved</h5><a id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" ng-click="viewCompanies('Validations Approved')" style="cursor:pointer">{{payroll.stats.validationsApproved}}</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="agency in agencyList track by $index" role="presentation" ><a role="menuitem" tabindex="-1" style="pointer:cursor">{{agency}}</a></li>
                      </ul>
					</li>
					<li class="dropdown"><i class="fa fa-file-excel-o fa-3x icon-center"></i>
						<h5>Invoices sent</h5><a id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" ng-click="viewCompanies('Invoices sent')" style="cursor:pointer">{{payroll.stats.invoicesSent}}</a>

                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="agency in agencyList track by $index" role="presentation" ><a role="menuitem" tabindex="-1" style="pointer:cursor">{{agency}}</a></li>
                      </ul>
					</li>
					<li class="dropdown"><i class="fa fa-file-excel-o fa-3x icon-center"></i>
						<h5>Invoices Receipted</h5><a id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" ng-click="viewCompanies('Invoices Receipted')" style="cursor:pointer">{{payroll.stats.invoicesReceipted}}</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="agency in agencyList track by $index" role="presentation" ><a role="menuitem" tabindex="-1" style="pointer:cursor">{{agency}}</a></li>
                      </ul>
					</li>
					<li class="dropdown"><i class="fa fa-file-excel-o fa-3x icon-center"></i>
						<h5>Awaiting Payroll</h5><a id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" ng-click="viewCompanies('Awaiting Payroll')" style="cursor:pointer">{{payroll.stats.awaitingPayroll}}</a> 
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="agency in agencyList track by $index" role="presentation" ><a role="menuitem" tabindex="-1" style="pointer:cursor">{{agency}}</a></li>
                      </ul>
					</li>
                    <li class="dropdown"><i class="fa fa-file-excel-o fa-3x icon-center"></i>
                        <h5>Number of Payrolls Unpaid</h5><a id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" ng-click="viewCompanies('Number of Payrolls Unpaid')" style="cursor:pointer">{{payroll.stats.payrollsUnpaid}}</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="agency in agencyList track by $index" role="presentation" ><a role="menuitem" tabindex="-1" style="pointer:cursor">{{agency}}</a></li>
                      </ul>
                    </li>
				</ul>
              </div>
              <select ng-change="getPayroll(periodType)" ng-model="periodType" ng-options="option for option in periodTypeValues"></select>  

               <div class="payroll-overview">
                <div  style="cursor:pointer" class="view-all" ><a ng-click="viewAction()">view All</a></div>
              </div>
            </div>
        </div>
    </div>
    <div class="span12">
        <div class="panel panel-default">
            <div class="panel-heading">Pre-Payroll</div>
            <div class="panel-body pre-payroll">
                <ul>
                    <li>
						<a ng-href="/payroll/createValidation">Create&nbsp;Validation</a>
                    </li>
                    <li>
                    	<a ng-href="#">Create&nbsp;Invoice</a>
                    </li>
                    <li>
                    	<a ng-href="#">Receipt&nbsp;Funds</a>
                    </li>
                    <li>
                    	<a ng-href="#">Run Banking Report</a>
                    </li>
                    <li>
                    	<a ng-href="#">Import&nbsp;Timesheets</a>
                    </li>
                    <li>
                    	<a ng-href="#">Import&nbsp;Expenses</a>
                    </li>
                    <li>
                    	<a ng-href="#">Import&nbsp;Margin</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="span12 bottom-spacer">
        <div class="panel panel-default">
            <div class="panel-heading">Payroll</div>
            <div class="panel-body payroll-actions">
                <ul>
                    <li>
                    	<a ng-href="#">Approve&nbsp;Timesheets</a>
                    </li>
                    <li>
                    	<a ng-click="openRunPayroll()">Run&nbsp;Payroll</a>
                    </li>
                    <li>
                    	<a ng-href="#">NET&nbsp;Pay&nbsp;reports</a>
                    </li>
                    <li>
                    	<a ng-href="#">Create&nbsp;BACS&nbsp;File</a>
                    </li>
                    <li>
                    	<a ng-href="#">Confirm&nbsp;Payments</a>
                    </li>
                    <li>
                    	<a ng-href="#">Upload&nbsp;Payslips</a>
                    </li>
                    <li>
                    	<a ng-href="#">Send&nbsp;Text</a>
                    </li>
                    <li>
                    	<a ng-href="#">Print&nbsp;Payslips</a>
                    </li>
                    <li>
                    	<a ng-href="#">Send&nbsp;Email</a>
                    </li>
                    <li>
                    	<a ng-href="#">Control&nbsp;Reports</a>
                    </li>
                    <li>
                    	<a ng-href="#">Approve&nbsp;Expenses</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span12 payroll-buttons">
            <button type="button" class="btn btn-primary">Action&nbsp;Requests</button>
            <button type="button" class="btn btn-primary">Timesheets</button>
            <button type="button" class="btn btn-primary">Invoices</button>
            <button type="button" class="btn btn-primary">Payroll</button>
            <button type="button" class="btn btn-primary">History</button>
            <button type="button" class="btn btn-primary">Payslips</button>
            <button type="button" class="btn btn-primary">Expenses</button>
            <button type="button" class="btn btn-primary">End&nbsp;Period</button>
        </div>
	</div>
</div>
<!-- /container -->