node_modules
dist
.tmp
.sass-cache
bower_components
local.env.js
/nbproject/private/
.elasticbeanstalk/
/.idea
/app/fonts
/config/
/config/config.json
/protractor-results
/coverage
/coverage.html
npm-debug.log
test/e2e/.idea
