.orig-alert-message{
  position:fixed;
  left:50%;
  top:0px;
  z-index: 9999;
  max-width: 90%;
  text-align: center;
  margin-bottom: 0px;

  -webkit-transition: top 0.5s ease-out,opacity 0.2s ease-out;
  -moz-transition: top 0.5s ease-out,opacity 0.2s ease-out;
  -o-transition: top 0.5s ease-out,opacity 0.2s ease-out;
  transition: top 0.5s ease-out,opacity 0.2s ease-out;   
  
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);

  visibility:hidden;
  .fa{
    margin-right: 4px;
  }
}