<header class="container-fluid main-header">
    <div class="header-row">
        <div class="header-logo-wrapper">
            <a href='#' class='logo-wrapper'>
                <img src="images/logo.png" alt="image" class="logo-img" />
            </a>
            <p class="logo-brand">Welcome, {{currentUser.firstName}} {{currentUser.lastName}}</p>
        </div>
        <div class="header-inputs-wrapper search-wrapper">
            <div ng-include="'views/partials/header-search.html'"></div>
        </div>
    </div>
</header>