<div role="tabpanel" class="tab-pane" id="verification">
    
	<div class="row">   
        <div class="col-xs-12 text-right">
            <a href ng-click="editCis()" class="pull-right" style="color:green;">
                <i class="fa fa-edit"></i>
            </a> 
        </div>
    
        <div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<table class=" table table-stripped" style="width:100%">
						<tr>
							<td>User ID</td>
							<td align="right">{{cis.userId}}</td>
						</tr>
						<tr>
							<td>Password</td>
							<td align="right">{{cis.password}}</td>
						</tr>
						<tr>
							<td>First Name</td>
							<td align="right">{{cis.firstName}}</td>
						</tr>
						<tr>
							<td>Last Name</td>
							<td align="right">{{cis.lastName}}</td>
						</tr>
						<tr>
							<td>Address 1</td>
							<td align="right">{{cis.address1}}</td>
						</tr>
						<tr>
							<td>Address 2</td>
							<td align="right">{{cis.address2}}</td>
						</tr>
					</table>
				</div>
				
				<div class="col-xs-12 col-sm-6">
					<table class="table table-stripped" style="width:100%">
						<tr>
							<td>Town</td>
							<td align="right">{{cis.town}}</td>
						</tr>
						<tr>
							<td>Country</td>
							<td align="right">{{cis.country}}</td>
						</tr>
						<tr>
							<td>Post Code</td>
							<td align="right">{{cis.postCode}}</td>
						</tr>
						<tr>
							<td>Phone</td>
							<td align="right">{{cis.telephone}}</td>
						</tr>
						<tr>
							<td>fax</td>
							<td align="right">{{cis.fax}}</td>
						</tr>
						<tr>
							<td>E-mail</td>
							<td align="right">{{cis.emailAddress}}</td>
						</tr>
					</table>
				</div>
			</div>
        </div>
    </div>
</div>	
