<div class="modal-window">
	<div class="modal-header">
		<div class="row">
			<div class="col-xs-8">
				<h3 class="modal-title" style="padding: 6px 0;">Edit Details</h3>
			</div>
		</div>
	</div>

	<div class="modal-body">
		<form name="form" class="form-horizontal ng-pristine ng-invalid ng-invalid-required" ng-submit="save(form.$valid)" role="form" novalidate>
			<div role="tabpanel" class="tab-pane" id="verification">
				<div class="row">
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group ">
										<label class="col-xs-4 control-label">User ID</label>
										<div class="dropdown col-xs-8 no-padding-left">
											<span type="text">
	                                    <input class="form-control" ng-model="cis.userId" />
	                                </span>

										</div>
									</div>
									<div class="form-group ">
										<label class="col-xs-4 control-label">Passward</label>
										<div class="dropdown col-xs-8 no-padding-left">
											<span type="text">
	                                    <input class="form-control" ng-model="cis.password" />
	                                </span>

										</div>
									</div>
									<div class="form-group ">
										<label class="col-xs-4 control-label">First Name</label>
										<div class="dropdown col-xs-8 no-padding-left">
											<span type="text">
	                                    <input class="form-control" ng-model="cis.firstName" />
	                                </span>

										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-4 control-label">Last Name</label>
										<div class="dropdown col-xs-8 no-padding-left">
											<span type="text">
	                                    <input class="form-control" ng-model="cis.lastName" />
	                                </span>

										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-4 control-label">Address 1</label>
										<div class="dropdown col-xs-8 no-padding-left">
											<span type="text">
	                                    <input class="form-control" ng-model="cis.address1" />
	                                </span>

										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-4 control-label">Address 2</label>
										<div class="dropdown col-xs-8 no-padding-left">
											<span type="text">
	                                    <input class="form-control" ng-model="cis.address2" />
	                                </span>

										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-xs-4 control-label">Town</label>
										<div class="dropdown col-xs-8 no-padding-left">
											<span type="text">
	                                    <input class="form-control" ng-model="cis.town" />
	                                </span>

										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-4 control-label">Country</label>
										<div class="dropdown col-xs-8 no-padding-left">
											<span type="text">
	                                    <input class="form-control" ng-model="cis.country" />
	                                </span>

										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-4 control-label">Post Code</label>
										<div class="dropdown col-xs-8 no-padding-left">
											<span type="text">
	                                    <input class="form-control" ng-model="cis.postCode" />
	                                </span>

										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-4 control-label">Phone</label>
										<div class="dropdown col-xs-8 no-padding-left">
											<span type="text">
	                                    <input class="form-control" ng-model="cis.telephone" />
	                                </span>

										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-4 control-label">Fax</label>
										<div class="dropdown col-xs-8 no-padding-left">
											<span type="text">
	                                    <input class="form-control" ng-model="cis.fax" />
	                                </span>

										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-4 control-label">Email</label>
										<div class="dropdown col-xs-8 no-padding-left">
											<span type="text">
	                                    <input ng-pattern = "/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" class="form-control" ng-model="cis.emailAddress" />
	                                </span>

										</div>
									</div>

								</div>

							</div>
						</form>
					</div>
				</div>
			</div>


	</div>

	<div class="modal-footer">
		<!--   <button class="btn btn-primary" ng-disabled="form.$invalid" disabled="disabled" ng-click="save()">
	        <span><i class="fa fa-save"></i> &nbsp; Save </span>
	    </button> -->
		<div class="col-xs-8 col-xs-offset-4 pull-right text-right">
			<button class="btn btn-primary btn-danger" ng-click="delete()"><i class="fa fa-trash"></i>&#160; Clear Data</button>
			<button class="btn btn-success" ng-click="save()"><i class="fa fa-floppy-o"></i>&#160; Save</button>
		</div>
	</div>
	</form>
</div>