        <div role="tabpanel" class="tab-pane" id="approvedMileageRates">
            <div class="row">
                <div class="col-xs-12">
                     <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Restriction</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Petrol</td>
                                <td>Up to 1400 cc</td>
                                <td class="col-xs-5">
                                    <div edit-text="" ng-model="myvar" save-function="save()"></div>
                                   </td>
                            </tr>
                            <tr>
                                <td>Petrol</td>
                                <td>Between 1401 cc and 2000 cc</td>
                                <td>0.1500</td>
                            </tr>
                            <tr>
                                <td>Petrol</td>
                                <td>2001 cc and above</td>
                                <td>0.2600</td>
                            </tr>
                            <tr>
                                <td>Diesel</td>
                                <td>Up to 1600 cc</td>
                                <td>0.1200</td>
                            </tr>
                            <tr>
                                <td>Diesel</td>
                                <td>Between 1601 cc and 2000 cc</td>
                                <td>0.1500</td>
                            </tr>
                            <tr>
                                <td>LPG</td>
                                <td>Upto 1400 cc</td>
                                <td>0.1000</td>
                            </tr>
                            <tr>
                                <td>LPG</td>
                                <td>Between 1401 cc and 2000 cc</td>
                                <td>0.1200</td>
                            </tr>
                            <tr>
                                <td>LPG</td>
                                <td>Above 2001 cc</td>
                                <td>0.1800</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>