        <div role="tabpanel" class="tab-pane active" id="RTISubmissions">
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6">
                                
                        </div>
                            <div class="col-xs-6">
                                <button ng-click="openEditRti()" class="btn btn-success pull-right">

                                    <i class="fa fa-edit"></i> edit
                                </button>
                            </div>
                        </div>

                    <div class="row">

                        <div class="col-sm-6">
                        <div class="form-group">
                                   <label class="col-xs-6 control-label">Enable RTI</label>
                                   <div class="col-xs-6">
                                    <div class="control-label pull-right">
                                        No relevant entity found in the api..
                                    </div>
                                </div>
                            </div>
                           <div class="form-group">
                            <label class="col-xs-6 control-label">User ID</label>
                            <div class="col-xs-6 no-padding-left">
                                <div class="control-label pull-right">
                                    {{rti.userId}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-6 control-label">Password</label>
                            <div class="col-xs-6 no-padding-left">
                                <div class="control-label pull-right">
                                    {{rti.password}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-6 control-label">First Name</label>
                            <div class="dropdown col-xs-6 no-padding-left">
                                <div class="control-label pull-right">
                                    {{rti.firstName}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-6 control-label">Last Name</label>
                            <div class="dropdown col-xs-6 no-padding-left">
                                <div class="control-label pull-right">
                                    {{rti.lastName}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-6 control-label">Address 1</label>
                            <div class="dropdown col-xs-6 no-padding-left">
                                <div class="control-label pull-right">
                                    {{rti.address1}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-6 control-label">Address 2</label>
                            <div class="dropdown col-xs-6 no-padding-left">
                                <div class="control-label pull-right">
                                    {{rti.address2}}
                                </div>
                            </div>
                        </div>

                            <div class="form-group">
                                <label class="col-xs-6 control-label">Eligible small employer allowance
                                </label>
                                <div class="col-xs-6">
                                    <div class="control-label pull-right">
                                        {{rti.eligibleSmallEmployerAllowance}}
                                    </div>
                                </div>
                            </div>
                        
                        
                            <div class="form-group">
                                <label class="col-xs-6 control-label">Claim Employment allowance
                                </label>
                                <div class="col-xs-6">
                                    <div class="control-label pull-right">
                                        {{rti.claimEmploymentAllowance}}
                                    </div>
                                </div>
                            </div>
                        
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label class="col-xs-4 control-label">Town</label>
                            <div class="dropdown col-xs-8 no-padding-left">
                                <div class="control-label pull-right">
                                    {{rti.town}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-4 control-label">Country</label>
                            <div class="dropdown col-xs-8 no-padding-left">
                                <div class="control-label pull-right">
                                    {{rti.country}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-4 control-label">Post Code</label>
                            <div class="dropdown col-xs-8 no-padding-left">
                                <div class="control-label pull-right">
                                    {{rti.postCode}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-4 control-label">Phone</label>
                            <div class="dropdown col-xs-8 no-padding-left">
                                <div class="control-label pull-right">
                                    {{rti.telphone}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-4 control-label">Fax</label>
                            <div class="dropdown col-xs-8 no-padding-left">
                                <div class="control-label pull-right">
                                    {{rti.fax}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-4 control-label">Email</label>
                            <div class="dropdown col-xs-8 no-padding-left">
                                <div class="control-label pull-right">
                                    {{rti.emailAddress}}
                                </div>

                            </div>
                        </div>
                    </div>
                    

                    <div class="col-sm-12 text-right">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>