        <div role="tabpanel" class="tab-pane active" id="RTISubmissions">
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                   <label class="col-xs-4 control-label">Enable RTI</label>
                                   <div class="col-xs-8">
                                    <div class="make-switch control-label">
                                        <label class="switch_wrap pull-left" for="field">
                                            <input id="field" type="checkbox" />
                                            <div class="switch"><span class="bullet"></span></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                           <div class="form-group">
                            <label class="col-xs-4 control-label">User ID</label>
                            <div class="col-xs-8 no-padding-left">
                                <span type="text">
                                    <input class="form-control" ng-model="user._id" />
                                </span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-4 control-label">Password</label>
                            <div class="col-xs-8 no-padding-left">
                                <span type="text">
                                    <input class="form-control" ng-model="user.passward" />
                                </span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-4 control-label">First Name</label>
                            <div class="dropdown col-xs-8 no-padding-left">
                                <span type="text">
                                    <input class="form-control" ng-model="user.firstName" />
                                </span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-4 control-label">Last Name</label>
                            <div class="dropdown col-xs-8 no-padding-left">
                                <span type="text">
                                    <input class="form-control" ng-model="user.lastName" />
                                </span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-4 control-label">Address 1</label>
                            <div class="dropdown col-xs-8 no-padding-left">
                                <span type="text">
                                    <input class="form-control" ng-model="user.address1" />
                                </span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-4 control-label">Address 2</label>
                            <div class="dropdown col-xs-8 no-padding-left">
                                <span type="text">
                                    <input class="form-control" ng-model="user.address2" />
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label class="col-xs-4 control-label">Town</label>
                            <div class="dropdown col-xs-8 no-padding-left">
                                <span type="text">
                                    <input class="form-control" ng-model="user.town" />
                                </span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-4 control-label">Country</label>
                            <div class="dropdown col-xs-8 no-padding-left">
                                <span type="text">
                                    <input class="form-control" ng-model="user.county" />
                                </span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-4 control-label">Post Code</label>
                            <div class="dropdown col-xs-8 no-padding-left">
                                <span type="text">
                                    <input class="form-control" ng-model="user.postCode" />
                                </span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-4 control-label">Phone</label>
                            <div class="dropdown col-xs-8 no-padding-left">
                                <span type="text">
                                    <input class="form-control" ng-model="user.phone" />
                                </span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-4 control-label">Fax</label>
                            <div class="dropdown col-xs-8 no-padding-left">
                                <span type="text">
                                    <input class="form-control" ng-model="user.fax" />
                                </span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-4 control-label">Email</label>
                            <div class="dropdown col-xs-8 no-padding-left">
                                <span type="text">
                                    <input class="form-control" ng-model="user.emailAddress" />
                                </span>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-xs-4 control-label">Eligible small employer allowance
                            </label>
                            <div class="col-xs-8">
                                <div class="make-switch">
                                    <label class="switch_wrap pull-left" for="field2">
                                        <input id="field2" type="checkbox" />
                                        <div class="switch"><span class="bullet"></span></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-xs-2 control-label">Claim Employment allowance
                            </label>
                            <div class="col-xs-4">
                                <div class="make-switch">
                                    <label class="switch_wrap pull-left" for="field3">
                                        <input id="field3" type="checkbox" />
                                        <div class="switch"><span class="bullet"></span></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 text-right">
                        <button class="btn btn-primary btn-danger" ng-click="delete()"><i class="fa fa-trash"></i>&#160;  Clear Data</button>
                        <button class="btn btn-success">Employer Alignment submissions</button>
                        <!-- <button class="btn btn-primary">Get Data</button> -->
                        <button class="btn btn-success"><i class="fa fa-floppy-o"></i>&#160; Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>