<div class="candidate-modal">
    <div class="modal-header">
        <h3 class="modal-title">Welcome to the {{ title }} Expenses Rate</h3>
    </div>

    <div class="modal-body">
        <form name="expensesRateForm"  class="form-horizontal row" role="form" novalidate>

            <div class="form-group col-sm-12">
                <label class="col-sm-4">Expenses Rate Name</label>
                <div class="col-sm-8">
                    <input name="name" type="text" class="form-control" ng-model="expensesRate.name" value="{{expensesRate.name}}" required>
                    <div ng-show="expensesRateForm.name.$invalid && (expensesRateForm.name.$dirty || submitted) && expensesRateForm.name" class="clearfix danger" style="line-height: 20px;">
                        <div class="alert alert-danger"
                             ng-show="expensesRateForm.name.$error.required">Rate
                        Type cannot be empty.</div>
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="col-sm-4">Amount</label>
                <div class="col-sm-8">
                    <input type="number" min="0" class="form-control"
                           name="amount" ng-model="expensesRate.amount" valu
                           e="{{expensesRate.amount | number:2}}">
                            <span ng-show="expensesRateForm.amount.$invalid && (expensesRateForm.amount.$dirty || submitted)  && expensesRateForm.amount" class="clearfix danger" style="line-height: 20px;">
                                 <div class="alert alert-danger" ng-show="expensesRateForm.amount.$error.min"
                                      class="clearfix danger">Amount cannot be negative.</div>
                                <div class="alert alert-danger"
                                     ng-show="expensesRateForm.amount.$error.number"
                                     class="clearfix danger">Please enter a number</div>
                            </span>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="col-sm-4">Expenses Rate Types</label>
                <div class="col-sm-8">
                    <ui-select name="expensesRateType" ng-model="expensesRate.expensesRateType" theme="select2" search-enabled="false">
                        <ui-select-match value="" placeholder="Select a expenses rate">{{$select
                            .selected.code}}</ui-select-match>
                        <ui-select-choices
                                repeat="item.code as item in expensesRateTypes">{{
                            item.code
                            }}</ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="col-sm-4">Tax Applicable</label>
                <div class="col-sm-8">
                    <input type="checkbox" min="0"
                           name="taxApplicable" ng-model="expensesRate.taxApplicable" value
                            ="{{expensesRate.taxApplicable}}">
                            <span ng-show="expensesRateForm.taxApplicable.$invalid && (expensesRateForm.taxApplicable.$dirty || submitted)  && expensesRateForm.taxApplicable" class="clearfix danger" style="line-height: 20px;">
                                <span ng-show="expensesRateForm.taxApplicable.$error.required"
                                      class="clearfix danger">TaxApplicable cannot be empty.</span>
                            </span>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="col-sm-4">Vat</label>
                <div class="col-sm-8">
                    <input type="checkbox" min="0"
                           name="vat" ng-model="expensesRate.vat" value
                            ="{{expensesRate.vat}}">
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="col-sm-4">Dispensation</label>
                <div class="col-sm-8">
                    <input type="checkbox" min="0"
                           name="dispensation" ng-model="expensesRate.dispensation" value
                            ="{{expensesRate.dispensation}}">
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="col-sm-4">Receipted</label>
                <div class="col-sm-8">
                    <input type="checkbox" min="0"
                           name="receipted" ng-model="expensesRate.receipted" value
                            ="{{expensesRate.receipted}}">
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="col-sm-4">Status</label>
                <div class="col-sm-8">
                    <input type="checkbox" min="0"
                           name="isEnabled" ng-model="expensesRate.isEnabled" value
                            ="{{expensesRate.isEnabled}}">
                </div>
            </div>

        </form>

    </div>

    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()"><i class="fa fa-close"></i> &nbsp; Cancel</button>
        <button class="btn btn-primary" ng-click="save(expensesRateForm.$valid)"><i class="fa fa-arrow-right"></i> &nbsp; Save</button>
    </div>
    </form>
</div>