<div class="row firstLevel-menu">
	<div>
		<a class="pointer" ng-click="direction('front')" ui-sref="app.admin.company_profile.contact">
			<p class="admin-icon"><img src="/images/64px/0004-office.png" alt=""></p>
			<h3 class="text-center">Company profile</h3>								
		</a>
	</div>
	<div>
		<a href="#">
			<p class="admin-icon"><img src="/images/64px/0115-users.png" alt=""></p>
			<h3 class="text-center">Users</h3>
		</a>
	</div>
	<div>
	<a href="#">
		<p class="admin-icon"><img src="/images/64px/0186-list-numbered.png" alt=""></p>
		<h3 class="text-center">Lists</h3>
	</a>
	</div>
	<div>
		<a class="pointer" ng-click="direction('front')" ui-sref="app.admin.templates">
			<p class="admin-icon"><img src="/images/64px/0371-insert-template.png" alt=""></p>
			<h3 class="text-center">Templates</h3>
		</a>
	</div>
	<div>
		<a class="pointer" ng-click="direction('front')" ui-sref="app.admin.hmrc.rti">
			<p class="admin-icon"><img  src="/images/64px/0034-library.png" alt=""></p>
			<h3 class="text-center">HMRC</h3>
		</a>
	</div>
	<div>
		<a class="pointer" ng-click="direction('front')" ui-sref="app.admin.statutoryRates">
			<p class="admin-icon"><img src="/images/64px/0004-office.png" alt=""></p>
			<h3 class="text-center">Statutory rates</h3>								
		</a>
	</div>
	<div>
		<a href="#">
			<p class="admin-icon"><img  src="/images/64px/0189-tree.png" alt=""></p>
			<h3 class="text-center">Third party software integration</h3>
		</a>
	</div>
	<div>
		<a href="#">
			<p class="admin-icon"><img src="/images/64px/0099-floppy-disk.png" alt=""></p>
			<h3 class="text-center">Backups</h3>
		</a>
	</div>
	<div>
		<a href="#">
			<p class="admin-icon"><img src="/images/64px/0185-clipboard.png" alt=""></p>
			<h3 class="text-center">Data checking</h3>
		</a>
	</div>
	<div>
		<a class="pointer" ng-click="direction('front')" ui-sref="app.admin.paymentRates">
			<p class="admin-icon"><img src="/images/64px/0062-coin-pound.png" alt=""></p>
			<h3 class="text-center">Payment rate</h3>
		</a>
	</div>
	<div>
		<a class="pointer" ng-click="direction('front')" ui-sref="app.admin.expensesRate">
			<p class="admin-icon"><img src="/images/64px/0062-coin-pound.png" alt=""></p>
			<h3 class="text-center">Expenses rate</h3>
		</a>
	</div>
	<div>
		<a ui-sref="app.admin.Import&Export">
			<p class="admin-icon"><img src="/images/64px/0062-coin-pound.png" alt=""></p>
			<h3 class="text-center">Import&Export</h3>
		</a>
	</div>
</div>