<div class="container ">
<div class="btn btn-success" style="cursor:initial">
	<div class="col-xs-12 row" style="margin:5px">
		<div class="col-xs-4 " >
			<label style="align-text:right; width:34%">template name </label>
			<input style="width:65%;color:black;" placeholder="template name" type="txt" ng-model="data.details.templateName"\>
		</div>
    
		<div  class="dropdown col-xs-4">
			<label style="align-text:right;width:34%">template type </label>
			<span class="dropdown-toggle" id="dropdownMenu1" aria-expanded="false">
		    <input ng-model="data.details.type.type" ng-change="changeTemplateType()" style="color:black; width:65%; overflow:hidden; text-overflow:ellipsis;" placeholder="template type" type="txt"\>
		  </span>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		  	<li role="presentation" class="divider"></li>
		    <li role="presentation" class="disabled " disabled="disabled" ng-repeat-start="target in templatesDropdowns "><a role="menuitem" tabindex="-1" >{{target.target}}</a></li>
		    <li role="presentation" class="divider"></li>
		    <li style="cursor:pointer" role="presentation"  ng-repeat="data in target.data | filter:data.details.type"><a role="menuitem" tabindex="-1" ng-click="select(data.type)">{{data.type}}</a></li>
		    <li role="presentation" ng-repeat-end class="divider"></li>
		  </ul>
		</div>	

		<div  class="dropdown col-xs-4">
			<label style="align-text:right width:34%">merge fields </label>
			<span class="btn-default dropdown-toggle" type="button" id="dropdownMenu2" aria-expanded="false">
		    <input ng-model="data.details.mergeFields" style=" width:65%" placeholder="merge fields" type="txt"\>
		  </span>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
		    <li style="cursor:pointer" role="presentation" ng-click="setMergeField(mergeField)" ng-repeat="mergeField in mergeFields |filter : data.details.mergeFields"><a  role="menuitem" tabindex="-1" >{{mergeField}}</a></li>
		  </ul>
			
		</div>	
		
	</div>

	<div class="col-xs-12 row" style="margin:5px">
		<div class="col-xs-4">
			<label style="align-text:left;width:34%">template title</label>
			<input style="width:65%;color:black" placeholder="templat title" type="txt" ng-model="data.details.templatTitle"\>
		</div>
			<div class="col-xs-7"></div>
			<div class="col-xs-1 btn">
				<button style="width:50%;align:center" class="" ng-click="paste()" ><i style="color:green" class="fa fa-clipboard"></i></button>
			</div>
	</div>
	</div>
	<div style="margin:10px" class="col-xs-12 row" >
		<textarea style="height:300px;width:98%;align:center"  class="col-xs-12 col-ss-12" ng-model="data.details.body"></textarea>
	</div>

	<div style="margin:10px" class="col-xs-12 row" >
		<div class="col-xs-8"></div>
		<button class="col-xs-2 btn btn-success" ng-click="save()" >SAVE<span class="hidden-xs">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-floppy-o"></i></span></button>
	</div>
</div>