<div class="container-fluid ">

<div class="btn btn-success col-xs-12" style="cursor:initial">
	<div class="col-xs-12" style="margin:5px">
		<div class="col-xs-4">
			<label style="align-text:right; width:34%">template name </label>
			<input style="width:65%;color:black;" placeholder="template name" type="txt" ng-model="data.details.name"\>
		</div>
    
		<div class="btn-group col-xs-5" dropdown>
			<label  style="align-text:right;width:34%">template type </label>
			<span class="dropdown-toggle" dropdown-toggle>
		    <input ng-model="data.details.current.subType" ng-change="changeTemplateSubType()" style="color:black; width:65%; overflow:hidden; text-overflow:ellipsis;" placeholder="template subType" type="txt"\>
		  </span>
		  <ul ng-show='true' class="dropdown-menu" role="menu">
		  	<li role="presentation" class="divider"></li>
		    <li role="presentation" class="disabled " disabled="disabled" ng-repeat-start="target in templatesDropdowns "><a role="menuitem" tabindex="-1" >{{target.target}}</a></li>
		    <li role="presentation" class="divider"></li>
		    <li style="cursor:pointer" role="presentation"  ng-repeat="data in target.data | filter: data.details.current "><a role="menuitem" tabindex="-1" ng-click="selectSybType(data.subType)">{{data.subType}}</a></li>
		    <li role="presentation" ng-repeat-end class="divider"></li>
		  </ul>
		</div>
		<div  style="position: absolute;right: 0px;" class="btn-group col-xs-3" dropdown  align="right">
		   	 <button class="dropdown-toggle btn  btn-default" dropdown-toggle ng-model="data.details.mergeFields">merge field <span class="caret"></span></button>
    
		  <ul  ng-show="mergeFields.length>0"  align="right" class="dropdown-menu" role="menu">
		    <li style="cursor:pointer" role="presentation" ng-click="setMergeField(mergeField)" ng-repeat="mergeField in mergeFields |filter : data.details.mergeFields"><a  role="menuitem" tabindex="-1" >{{mergeField}}</a></li>
		  </ul>
		  <ul ng-show="mergeFields.length === 0" align="right" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
		    <li role="presentation" class="divider"></li>
		    <li role="presentation" class="disabled " disabled="disabled"><a role="menuitem" tabindex="-1" >-- Empty List --</a></li>
		    <li role="presentation" class="divider"></li>	
		  
		  </ul>
		</div>	
	</div>

	<div class="col-xs-12" style="margin:5px">
		<div class="row">
			<div class="col-xs-4">
				<label  style="align-text:left;width:34%">template title</label>
				<input id="title"  style="width:65%;color:black" placeholder="templat title" type="txt" ng-model="data.details.title"\>
			</div>
				
			<div align="right" class="col-xs-8">
				<button  class="btn btn-default" ng-click="paste()" ><i style="color:green" class="fa fa-clipboard"></i></button>
			</div>
		</div>
	</div>
</div>

	<div style="padding:10px 0px;" class="col-xs-12">
		<wysiwyg
		 id="test"
		 selection="selection"
		 textarea-id="question" 
          textarea-class="form-control"  
          textarea-height="180px" 
          textarea-name="textareaQuestion" 
          textarea-required 
          ng-model="data.details.templateBody" 
          enable-bootstrap-title="true">
        </wysiwyg>
      
	</div>


	<div style="padding:10px 0px;" class="col-xs-12 text-right" >
		<button class="btn btn-success" ng-click="save()" >SAVE<span class="hidden-xs">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-floppy-o"></i></span></button>
	</div>

</div>