<div>

	<div class="col-xs-12 row" style="margin:10px">
		<input type="txt" class="col-xs-4" ng-model="data.details.templateName"\>
		<div class="col-xs-1" ></div>
		<center>
		<select class="col-xs-3" ng-model="data.details.templateType">
			<option disabled="disabled">-- select --</option>
			<option>first</option>
			<option>second</option>
			<option>third</option>
			<option>forth</option>
		</select>
		</center>	
		<div class="col-xs-1"></div>
		<select class="col-xs-3" ng-model="data.details.mergeFields">
			<option disabled="disabled" ng-selected="selected">-- select --</option>
			<option>first</option>
			<option>second</option>
			<option>third</option>
			<option>forth</option>
		</select>
		
	</div>

	<div style="margin:10px" class="col-xs-12 row">
		<input type="txt" class="col-xs-4" ng-model="data.details.templatTitle"\>
		<div class="col-xs-7"></div>
		<button class="col-xs-1 btn" ng-click="paste()" ><span class="hidden-xs"><i class="fa fa-clipboard"></i></span></button>
	</div>

	<div style="margin:10px" class="col-xs-12 row" >
		<textarea style="height:300px;"  class="col-xs-12 col-ss-12" ng-model="data.details.body"></textarea>
	</div>

	<div style="margin:10px" class="col-xs-12 row" >
		<div class="col-xs-8"></div>
		<button class="col-xs-2 btn btn-success" ng-click="save()" >SAVE<span class="hidden-xs">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-floppy-o"></i></span></button>
	</div>
</div>