<div class="row secondLevel-menu">
	<div class="col-xs-12" style="margin-bottom: 16px;">
		<a class="pull-right pointer" ng-click="direction('back');go('/one')"><i class="fa fa-reply"></i>&nbsp; Back</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2">
		<a href="#">
			<p class="admin-icon"><img src="/images/64px/0101-database.png" alt=""></p>
			<h3 class="text-center">Call Log Content</h3>								
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2">
		<a href="#">
			<p class="admin-icon"><img src="/images/64px/0275-spell-check.png" alt=""></p>
			<h3 class="text-center">Task Content</h3>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2">
		<a href="#">
			<p class="admin-icon"><img src="/images/64px/0049-folder-open.png" alt=""></p>
			<h3 class="text-center">Documents</h3>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2">
		<a href="#">
			<p class="admin-icon"><img src="/images/64px/0070-envelop.png" alt=""></p>
			<h3 class="text-center"> Email</h3>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2">
		<a href="#">
			<p class="admin-icon"><img src="/images/64px/0039-file-text2.png" alt=""></p>
			<h3 class="text-center">Invoices</h3>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2">
		<a href="#">
			<p class="admin-icon"><img src="/images/64px/0005-newspaper.png" alt=""></p>
			<h3 class="text-center"> Payslips</h3>
		</a>
	</div>	
</div>