<div>
	<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    add new <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a ng-click="direction('front');go('/admin/add_new/call_log')">Call Log</a></li>
    <li><a ng-click="direction('front');go('/admin/add_new/task')">Task</a></li>
    <li><a ng-click="direction('front');go('/admin/add_new/document')">Document</a></li>
    <li><a ng-click="direction('front');go('/admin/add_new/email')">Email</a></li>
    <li><a ng-click="direction('front');go('/admin/add_new/payslip')">Payslip</a></li>
    <li><a ng-click="direction('front');go('/admin/add_new/invoice')">Invoice</a></li>
    
  </ul>
</div>
<!-- grid  -->
<div class="candidate-main meta-box padding-10 container-fluid">
  <div class="col-xs-12 row">
      <div class="col-lg-3 col-xs-5">
          <input class="form-control" type="text" placeholder="Search by first name" />
      </div>
      <div class="col-xs-1 nonepadding">
          <button class="btn btn-success form-control">Go</button>
      </div>
  </div>
  <div template-grid="gridOptions"></div>
</div>
	
</div>