<div>

<div class="form-group col-xs-12">
	<div class="col-xs-2 ">
		<label class="control-label">First Name*</label>
	</div>
	<div class="col-xs-4">
		<span type="text" >
			<input class="form-control" ng-model="user.firstName" ng-disabled="user.locked" required/>
		</span>
	</div>
</div>

<div class="form-group col-xs-12">
	<div class="col-xs-2 ">
		<label class="control-label">Last Name*</label>
	</div>
	<div class="col-xs-4">
		<span type="text" >
			<input class="form-control" ng-model="user.lastName" ng-disabled="user.locked" required/>
		</span>
	</div>
</div>

<div class="form-group col-xs-12">
	<div class="col-xs-2 ">
		<label class="control-label">E-mail*</label>
	</div>
	<div class="col-xs-4">
		<span type="text" >
			<input class="form-control" ng-model="user.emailAddress" ng-disabled="user.locked" required/>
		</span>
	</div>
</div>

<div class="form-group col-xs-12">
	<div class="col-xs-2 ">
		<label class="control-label">Type*</label>
	</div>
	<div class="col-xs-4">
		<span type="text" >
			<select class="form-control" ng-options="type.code as type.name for type in types" ng-disabled="user.locked" ng-model="user.userType" required >

			</select>
		</span>
	</div>
</div>
<div class="col-xs-6">
<div class="pull-right">
	<button class="btn btn-success" ng-click="update()" ng-disabled="user.locked"><i class="fa fa-refresh"></i>&nbsp; Update</button>
</div>
</div>
</div>
