.candidate-layout {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    .candidate-center {
        width: 100%;
    }
}

.candidate-main {
    padding: $grid-gutter-width-md;
    .top-search-row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        .candidate-search {
            width: 200px;
        }
        .candidate-search-btn {
            .btn {
                width: 40px;
            }
        }
    }
}