<div class="input-group orig-datepicker" ng-init="popup = false">
    <input type="text" 
           class="form-control" 
           placeholder="{{placeholder}}" 		
           ng-model="ngModel"
           datepicker-popup="{{dateFormat||'dd/MM/yyyy'}}"
           is-open="popup" 
		   date-disabled="dateDisabled(date, mode)"	
           ng-click="$event.preventDefault();
               $event.stopPropagation();
               popup = true;"
           />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="$event.preventDefault();
            $event.stopPropagation();
            popup = true">
            <i class="fa fa-calendar">
            </i>
        </button>
    </span>
</div>