<table>
	<tr>
		<td> Vat Number </td>
		<td> <input type="text" ng-model="companyProfile.accounts.vatNumber" /> </td>
	</tr>
	<tr>
		<td> Company Registration Number &nbsp;</td>
		<td> <input type="text" ng-model="companyProfile.accounts.companyRegNo" /> </td>
	</tr>
	<tr>
		<td> UTR Number </td>
		<td> <input type="text" ng-model="companyProfile.accounts.utrNumber" /> </td>
	</tr>
	<tr>
		<td> Tax District Number </td>
		<td> <input type="text" ng-model="companyProfile.accounts.taxDistrictNo" /> </td>
	</tr>
	<tr>
		<td> PAYE Reference </td>
		<td> <input type="text" ng-model="companyProfile.accounts.payeRef" /> </td>
	</tr>
	<tr>
		<td> Accounts Office Reference </td>
		<td> <input type="text" ng-model="companyProfile.accounts.accountsOfficeRef" /> </td>
	</tr>
</table>