  <div class="row">
    <div class="col-xs-12">
        <div class="meta-box-content">
<table class="table history">
	<tr>
		<td class="text-center"> Vat Number </td>
		<td> <input type="number" ng-model="companyProfile.accounts.vatNumber" /> </td>
	</tr>
	<tr>
		<td class="text-center"> Company Registration Number &nbsp;</td>
		<td> <input type="number" ng-model="companyProfile.accounts.companyRegNo" /> </td>
	</tr>
	<tr>
		<td class="text-center"> UTR Number </td>
		<td> <input type="number" ng-model="companyProfile.accounts.utrNumber" /> </td>
	</tr>
	<tr>
		<td class="text-center"> Tax District Number </td>
		<td> <input type="text" ng-model="companyProfile.accounts.taxDistrictNo" /> </td>
	</tr>
	<tr>
		<td class="text-center"> PAYE Reference </td>
		<td> <input type="text" ng-model="companyProfile.accounts.payeRef" /> </td>
	</tr>
	<tr>
		<td class="text-center"> Accounts Office Reference </td>
		<td> <input type="text" ng-model="companyProfile.accounts.accountsOfficeRef" /> </td>
	</tr>
</table>
</div>
</div>
</div>