  <div class="row">
    <div class="col-xs-12">
        <div class="meta-box-content">
<table class="table history">
	<tr>
		<td class="text-center"> Bank Name </td>
		<td> <input type="text" ng-model="companyProfile.bankDetails.bankName" /> </td>
	</tr>
	<tr>
		<td class="text-center"> Address 1 </td>
		<td> <input type="text" ng-model="companyProfile.bankDetails.address1" /> </td>
	</tr>
	<tr>
		<td class="text-center"> Address 2 </td>
		<td> <input type="text" ng-model="companyProfile.bankDetails.address2" /> </td>
	</tr>
	<tr>
		<td class="text-center"> Town </td>
		<td> <input type="text" ng-model="companyProfile.bankDetails.town" /> </td>
	</tr>
	<tr>
		<td class="text-center"> Country </td>
		<td> <input type="text" ng-model="companyProfile.bankDetails.country" /> </td>
	</tr>
	<tr>
		<td class="text-center"> Post Code </td>
		<td> <input type="text" ng-model="companyProfile.bankDetails.postcode" /> </td>
	</tr>
	<tr>
		<td class="text-center"> Account name </td>
		<td> <input type="text" ng-model="companyProfile.bankDetails.accountName" /> </td>
	</tr>
	<tr>
		<td class="text-center"> Account Number </td>
		<td> <input type="number" ng-model="companyProfile.bankDetails.accountNo" /> </td>
	</tr>
	<tr>
		<td class="text-center"> Sort Code </td>
		<td> <input type="number" ng-model="companyProfile.bankDetails.sortCode" /> </td>
	</tr>
	<tr>
		<td class="text-center"> Payroll Reference &nbsp;</td>
		<td> <input type="text" ng-model="companyProfile.bankDetails.payrollRef" /> </td>
	</tr>
</table>
</div>
</div>
</div>