<table>
	<tr>
		<td> Bank Name </td>
		<td> <input type="text" /> </td>
	</tr>
	<tr>
		<td> Address 1 </td>
		<td> <input type="text" /> </td>
	</tr>
	<tr>
		<td> Address 2 </td>
		<td> <input type="text" /> </td>
	</tr>
	<tr>
		<td> Town </td>
		<td> <input type="text" /> </td>
	</tr>
	<tr>
		<td> Country </td>
		<td> <input type="text" /> </td>
	</tr>
	<tr>
		<td> Post Code </td>
		<td> <input type="text" /> </td>
	</tr>
	<tr>
		<td> Account name </td>
		<td> <input type="text" /> </td>
	</tr>
	<tr>
		<td> Account Number </td>
		<td> <input type="number" /> </td>
	</tr>
	<tr>
		<td> Sort Code </td>
		<td> <input type="number" /> </td>
	</tr>
	<tr>
		<td> Payroll Reference </td>
		<td> <input type="text" /> </td>
	</tr>
</table>