<table>
	<tr>
		<td> Bank Name </td>
		<td> <input type="text" ng-model="companyProfile.bankDetails.bankName" /> </td>
	</tr>
	<tr>
		<td> Address 1 </td>
		<td> <input type="text" ng-model="companyProfile.bankDetails.address1" /> </td>
	</tr>
	<tr>
		<td> Address 2 </td>
		<td> <input type="text" ng-model="companyProfile.bankDetails.address2" /> </td>
	</tr>
	<tr>
		<td> Town </td>
		<td> <input type="text" ng-model="companyProfile.bankDetails.town" /> </td>
	</tr>
	<tr>
		<td> Country </td>
		<td> <input type="text" ng-model="companyProfile.bankDetails.country" /> </td>
	</tr>
	<tr>
		<td> Post Code </td>
		<td> <input type="text" ng-model="companyProfile.bankDetails.postcode" /> </td>
	</tr>
	<tr>
		<td> Account name </td>
		<td> <input type="text" ng-model="companyProfile.bankDetails.accountName" /> </td>
	</tr>
	<tr>
		<td> Account Number </td>
		<td> <input type="number" ng-model="companyProfile.bankDetails.accountNo" /> </td>
	</tr>
	<tr>
		<td> Sort Code </td>
		<td> <input type="number" ng-model="companyProfile.bankDetails.sortCode" /> </td>
	</tr>
	<tr>
		<td> Payroll Reference &nbsp;</td>
		<td> <input type="text" ng-model="companyProfile.bankDetails.payrollRef" /> </td>
	</tr>
</table>