<div class="row text-center">
		<form ng-submit="save(profile.$valid)" novalidate name="profile" class="form-horizontal">
	<div class="col-xs-8">
	
			<div class="form-group">
				<label class="control-label col-xs-6">Company name</label>
				<div class="col-xs-6">
					<input type="text" class="form-control" ng-model="companyProfile.contact.companyName" name="companyName" ng-maxlength=36 required/>
					
					<div ng-show="profile.companyName.$invalid && submitted">

                        <p ng-show="profile.companyName.$error.required">
                         Please enter company name.
                        </p>
                        <p ng-show="profile.companyName.$error.maxlength">
                           Please enter less than 36 character.
                        </p>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-6">Address 1</label>
				<div class="col-xs-6">
					<input type="text" class="form-control" ng-model="companyProfile.contact.address1" name="address1" />
					<div ng-show="profile.address1.$invalid && submitted">
                    <p ng-show="profile.address1.$error.required">Please enter address1.</p>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-6">Address 2</label>
				<div class="col-xs-6">
					<input type="text" class="form-control" ng-model="companyProfile.contact.address2" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-6">Town</label>
				<div class="col-xs-6">
					<input type="text" class="form-control" ng-model="companyProfile.contact.town" name="town" required />
					<div ng-show="profile.town.$invalid && submitted">
                        <p ng-show="profile.town.$error.required">Please enter town name.</p>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-6">Country</label>
				<div class="col-xs-6">
					<input type="text" class="form-control" ng-model="companyProfile.contact.country" name="country" required/>
					<div ng-show="profile.country.$invalid && submitted">
                    <p ng-show="profile.country.$error.required">
                     Please enter country name.
                    </p>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-6">Post Code</label>
				<div class="col-xs-6">
					<input type="text" class="form-control" ng-model="companyProfile.contact.postcode" name="postcode" ng-pattern='/^([A-PR-UWYZ]([0-9]{1,2}|([A-HK-Y][0-9]|[A-HK-Y][0-9]([0-9]|[ABEHMNPRV-Y]))|[0-9][A-HJKS-UW])\ [0-9][ABD-HJLNP-UW-Z]{2}|(GIR\ 0AA)|(SAN\ TA1)|(BFPO\ (C\/O\ )?[0-9]{1,4})|((ASCN|BBND|[BFS]IQQ|PCRN|STHL|TDCU|TKCA)\ 1ZZ))$/' required />
					<div ng-show="profile.postcode.$invalid && submitted">
						<p ng-show="profile.postcode.$error.required">
							Please enter postal code.
						</p>
						<p ng-show="profile.postcode.$error.pattern">
							Invalid postal code.

						</p>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-6">Tel</label>
				<div class="col-xs-6">
					<input type="number" class="form-control" ng-model="companyProfile.contact.telephone" name="tel" required ng-pattern='/^\s*\(?(020[78]\)? ?[1-9][0-9]{2} ?[0-9]{4})|(0[1-8][0-9]{3}\)? ?[1-9][0-9]{2} ?[0-9]{3})\s*$/'/>
              <div ng-show="profile.tel.$invalid && submitted">
               <p ng-show="profile.tel.$error.required">
                 Please enter telephone number.
               </p>
               <p ng-show="profile.tel.$error.pattern">
                  Invalid telephone format.
               </p>
              </div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-6">Fax</label>
				<div class="col-xs-6">
					<input type="number" class="form-control" ng-model="companyProfile.contact.fax" name="fax" />
					<div ng-show="profile.fax.$dirty && profile.fax.$invalid && submitted">
                    <p>Please enter valid fax.</p>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-6">Email</label>
				<div class="col-xs-6">
					<input type="email" class="form-control" ng-model="companyProfile.contact.email" name="email" required />
					<div ng-show="profile.email.$invalid && submitted">
                     <p ng-show="profile.email.$error.required">
                    Please enter your email address.
                     </p>
                     <p ng-show="profile.email.$error.email">
                     	Please enter valid email address.
                     </p>
					</div>
				</div>
			</div>

		
		
	</div>
	<div class="col-xs-4">
       <button type="submit" class="btn btn-success form-control"  ng-disabled="taxForm.$invalid || isTaxSaving">
        <div>Save  <i class="fa fa-save"></i></div>
      
      </button>
	</div>
</form>
</div>
  