  <div class="row">
    <div class="col-xs-12 pull-left">
        <div class="meta-box-content">
<table class="table history">
	<tr>
		<td  class="text-center"> Company name &nbsp;</td>
		<td> <input type="text" ng-model="companyProfile.contact.companyName"/> </td>
	</tr>
	<tr>
		<td  class="text-center"> Address 1 </td>
		<td> <input type="text" ng-model="companyProfile.contact.address1"/> </td>
	</tr>
	<tr>
		<td  class="text-center"> Address 2 </td>
		<td> <input type="text" ng-model="companyProfile.contact.address2"/> </td>
	</tr>
	<tr>
		<td  class="text-center"> Town </td>
		<td> <input type="text" ng-model="companyProfile.contact.town"/> </td>
	</tr>
	<tr>
		<td  class="text-center"> Country </td>
		<td> <input type="text" ng-model="companyProfile.contact.country"/> </td>
	</tr>
	<tr>
		<td  class="text-center"> Post Code </td>
		<td> <input type="text" ng-model="companyProfile.contact.postcode"/> </td>
	</tr>
	<tr>
		<td  class="text-center"> Tel </td>
		<td> <input type="number" ng-model="companyProfile.contact.telephone"/> </td>
	</tr>
	<tr>
		<td  class="text-center"> Fax </td>
		<td> <input type="number" ng-model="companyProfile.contact.fax"/> </td>
	</tr>
	<tr>
		<td  class="text-center"> Email </td>
		<td> <input type="text" ng-model="companyProfile.contact.email"/> </td>
	</tr>
</table>

</div>
</div>
</div>