<table>
	<tr>
		<td> Default Pay Frequency </td>
		<td>
			<select>
				<option>Weekly</option>
				<option>Bi Weekly</option>
				<option>2 Weekly</option>
				<option>Monthly</option>
			</select>
		</td>
	</tr>
	<tr>
		<td> Default Holiday Pay Rule </td>
		<td>
			<select>
				<option disabled="disabled" ng-selected="selected">-- select --</option>
				<option>Calculate and retain</option>
				<option>Calculate and roll up</option>
				<option>No Holiday pay</option>
			</select>
		</td>
	</tr>
	<tr>
		<td> Default Payment Method </td>
		<td>
			<select>
				<option disabled="disabled" ng-selected="selected">-- select --</option>
				<option>BACS</option>
				<option>Faster Payment</option>
				<option>Cheque</option>
				<option>Cash</option>
				<option>Same Day</option>
			</select>
		</td>
	</tr>
	<tr>
		<td> Default Admin Fee </td>
		<td>
			<select>
				<option disabled="disabled" ng-selected="selected">-- select --</option>
				<option>Use Agency rule</option>
				<option>Fixed Fee</option>
			</select>
		</td>
	</tr>
	<tr>
		<td> Derogation Contract </td>
		<td>
			<select>
				<option disabled="disabled" ng-selected="selected">-- select --</option>
				<option>Opt In</option>
				<option>Opt Out</option>
				<option>Not applicable</option>
			</select>
		</td>
	</tr>
	<tr>
		<td> Derogation Spread Weeks </td>
		<td> <input type="number" /> </td>
	</tr>
	<tr>
		<td> Communication Method </td>
		<td>
			<select>
				<option disabled="disabled" ng-selected="selected">-- select --</option>
				<option>Email</option>
				<option>Text</option>
				<option>Post</option>
				<option>Telephone</option>
			</select>
		</td>
	</tr>
	<tr>
		<td> Contractor Status </td>
		<td>
			<select>
				<option disabled="disabled" ng-selected="selected">-- select --</option>
				<option>New Contractor</option>
				<option>Pending</option>
				<option>New Enquiry</option>
			</select>
		</td>
	</tr>
	<tr>
		<td> Default Tax Code Contractors &nbsp;</td>
		<td> <input type="number" /> </td>
	</tr>
</table>