<!doctype html>
<html class="no-js">
  <head>
    <base href="/" />
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap-select/dist/css/bootstrap-select.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
    <link rel="stylesheet" href="bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/angular-notify/dist/angular-notify.css" />
    <!-- endbower -->

    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>

  <body ng-app="origApp">
    <!-- Header Section-->
    <header class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div class="logo-wrapper pull-left">
					<a href='#' class='logo'>
						<img src="images/logo.png" alt="image" />
					</a>
					<span>Welcome {username}</span>
				</div>
				<div class="search-wrapper pull-right">
					<form class="form-inline">
						<div class="form-group">
							<input type="text" class="form-control" id="search" name="search" placeholder="Search" />
						</div>
						<div class="form-group">
							<button type="submit"><i class="fa fa-search"></i></button>
						</div>
						<div class="form-group">
							<span class="sitemenu" dropdown>
							  <button type="button" dropdown-toggle><i class="fa fa-bars"></i></button>
							  <ul class="dropdown-menu">
								<li><a href><i class="fa fa-search-plus"></i> &nbsp;Advanced search</a></li>
								<li><a href><i class="fa fa-user"></i> &nbsp;My profile</a></li>
								<li class="divider"></li>
								<li><a href ng-click="logout()"><i class="fa fa-sign-out"></i> &nbsp;Logout</a></li>
							  </ul>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</header>

    <!-- Body Section -->
    <section class="page-container container-fluid lty-body page-container-agency">
      <div class="select-company">
        <select class="form-control">
          <option>Change Company</option>
        </select>
      </div>

      <!-- Left Sidebar Menu -->
      <div class="sidemenu left-sidebar">
        <div class="sidebar-menu-inner">
          <div class="user-meta-box">
            <div class="user-photo-wrapper">
              <img src="{{currentUser.avatarUrl}}" onerror="this.src='http://placehold.it/200x200'" class="user-photo" alt="avatar" />
            </div>
          </div>
          <ul id="main-menu" class="main-menu">
            <li>
              <a href="#" tooltip data-placement="top"
                 title="Home"
                 tooltip-placement="top"><i class="fa fa-home"></i><span class="title">Home</span></a>
            </li>
            <li><a href="/candidates" tooltip data-placement="top"
                   title ="CANDIDATE"
                   tooltip-placement="top"><i class="fa fa-user"></i><span class="title">CANDIDATE</span></a></li>
            <li class='active'><a href="/agency" tooltip data-placement="top"
                                  title="AGENCY"
                                  tooltip-placement="top"><i class="fa fa-users"></i><span class="title">AGENCY</span></a></li>
            <li><a href="#" tooltip data-placement="top"
                   title="End client"
                   tooltip-placement="top"><i class="fa fa-building"></i><span class="title">END CLIENT</span></a></li>
            <li><a href="#" tooltip data-placement="top"
                   title="payroll"
                   tooltip-placement="top"><i class="fa fa-money"></i><span class="title">PAYROLL</span></a></li>
            <li><a href="#" tooltip data-placement="top"
                   title="reports"
                   tooltip-placement="top"><i class="fa fa-newspaper-o"></i><span class="title">REPORTS</span></a></li>
            <li><a href="#" tooltip data-placement="top"
                   title="activity"
                   tooltip-placement="top"><i class="fa fa-clock-o"></i><span class="title">Activity</span></a></li>
            <li><a href="#" tooltip data-placement="top"
                   title="admin"
                   tooltip-placement="top"><i class="fa fa-tachometer"></i><span class="title">admin</span></a></li>
          </ul>
        </div>
      </div>

      <div class="main-content">
        <div class="pull-right">
          <div class="btn-group" role="group" aria-label="" style="margin-bottom: 15px;">
            <button type="button" class="btn btn-success">Home</button>
            <button type="button" class="btn btn-success">My Profile</button>
            <button type="button" class="btn btn-success">Log Out</button>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="breadcrumb pull-left">
          <a href="#">Home</a>
          <span></span>
          <a href="#">Agency</a>
          <span></span>
          <a href="#" class="active">Home</a>
        </div>
        <div class="company-logo pull-right">
          <img src="{{currentUser.avatarUrl}}" onerror="this.src='http://placehold.it/150x50'" class="user-photo" alt="avatar" />
        </div>

        <div class="candidate-layout">
          <div class="candidate-main meta-box container-fluid">
            <div class="row visible-sm visible-xs">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="tab.isMenuCollapsed = !tab.isMenuCollapsed">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand visible-sm visible-xs">{{tab.caption}}</span>
              </div>
            </div>
            <section class="tabs-wrapper row">
              <ul class="nav nav-tabs candidate-tabs collapse navbar-collapse" collapse="tab.isMenuCollapsed" role="tablist">
                <li role="presentation" class="active">
                  <a href="#home" aria-expanded="true" aria-controls="home" role="tab" data-toggle="tab">Home</a>
                </li>
                <li role="presentation">
                  <a href="#payroll" aria-expanded="false" role="tab" data-toggle="tab">Payroll</a>
                </li>
                <li role="presentation">
                  <a href="#consultants" aria-expanded="false" role="tab" data-toggle="tab">Consultants</a>
                </li>
                <li role="presentation">
                  <a href="#candidate" aria-expanded="false" role="tab" data-toggle="tab">Candidates</a>
                </li>
                <li role="presentation">
                  <a href="#sales" aria-expanded="false" role="tab" data-toggle="tab">Sales</a>
                </li>
                <li role="presentation">
                  <a href="#history" aria-expanded="false" role="tab" data-toggle="tab">History</a>
                </li>
                <li role="presentation">
                  <a href="#other" aria-expanded="false" role="tab" data-toggle="tab">Other</a>
                </li>
              </ul>
              <div class="tab-content col-xs-12">

                <div role="tabpanel" class="tab-pane  active in fade" id="home">
                  <div class="col-sm-6">
                    <p class="entry-title">Address Information<a class="icon-edit pull-right" href="javascript:void(0);"><i class="fa fa-edit"></i>edit</a></p>
                    <form  class="entry-content" novalidate >
                      <div class="row">
                        <div class="col-xs-12 form-group">Agency Name <span class="meta">ABC Recruiment</span></div>
                        <div class="col-xs-6 form-group">Agency Type</div>
                        <div class="col-xs-6 form-group">
                          <select class="form-control">
                            <option>Change Company</option>
                          </select>
                        </div>
                        <div class="col-xs-12 form-group">Address1 <span class="meta-o"> </span></div>
                        <div class="col-xs-12 form-group">Address2 <span class="meta-o"> </span></div>
                        <div class="col-xs-12 form-group">Address3 <span class="meta-o"> </span></div>
                        <div class="col-xs-12 form-group">Town <span class="meta-o"> </span></div>
                        <div class="col-xs-12 form-group">Country <span class="meta-o"> </span></div>
                        <div class="col-xs-12 form-group">Postcode <span class="meta-o"> </span></div>
                        <div class="col-xs-12 form-group">Company Reg no. <span class="meta-o"> </span></div>
                        <div class="col-xs-12 form-group">Company VAT no. <span class="meta-o"> </span></div>
                      </div>
                    </form>
                  </div>
                  <div class="col-sm-6">
                    <p class="entry-title">Contact Information<a class="icon-edit pull-right" href="javascript:void(0);"><i class="fa fa-edit"></i>edit</a></p>
                    <form class="entry-content">
                      <div class="row">
                        <div class="col-xs-12 form-group"><!--<i class="fa fa-phone"></i>-->Phone 1<span class="meta-o">123456</span></div>
                        <div class="col-xs-12 form-group"><!--<i class="fa fa-mobile-phone"></i>-->Phone2<span class="meta-o">123456</span></div>
                        <div class="col-xs-12 form-group"><!--<i class="fa fa-fax"></i>-->Fax<a href="#"><span class="meta-o">123456</span></a></div>
                        <div class="col-xs-12 form-group"><!--<i class="fa fa-facebook"></i>-->Facebook<a href="#" target="_blank"><span class="meta">facebook</span></a></div>
                        <div class="col-xs-12 form-group"><!--<i class="fa fa-linkedin"></i>-->Linkedin<a href="#" target="_blank"><span class="meta">Linkedin</span></a></div>
                        <div class="col-xs-12 form-group"><!--<i class="fa fa-linkedin"></i>-->Website<a href="#" target="_blank"><span class="meta">Website</span></a></div>
                        <div class="col-xs-12 form-group"><!--<i class="fa fa-envelope-o"></i>-->Email<a href="mailto:company@com.uk"><span class="meta">company@com.uk</span></a></div>
                        <div class="col-sm-3 col-xs-3 form-group"><!--<i class="fa fa-cloud-download"></i>-->Logo<span class="meta-o"></span></div>
                        <div class="col-sm-3 col-xs-3 form-group nonepadding">
                          <button type="button" class="btn btn-success form-control">Browse</button>
                        </div>
                        <div class="col-sm-3 col-xs-3 form-group ">
                          <button type="button" class="btn btn-success form-control">C:\imc</button>
                        </div>
                        <div class="col-sm-3 col-xs-3 form-group nonepadding">
                          <button type="button" class="btn btn-danger form-control">Upload</button>
                        </div>
                      </div>
                    </form >
                  </div>
                  <div class="col-sm-12">
                    <p class="entry-title">Recent History</p>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <button type="button" class="btn btn-success form-control">Load More...</button>
                    </div>
                  </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="payroll" ng-controller="PayrollController">
                  <div class="col-xs-12">
                    <p class="entry-title">Default Invoicing <a class="icon-edit pull-right" href="javascript:void(0);" ng-click="openAgencyDefaultInvoicing()"><i class="fa fa-edit"></i>edit</a></p>
                  </div>
                  <div class="col-xs-12">
                      <div class="row entry-content">
                        <div class="col-sm-5 nonepadding">
                          <div class="col-sm-12 form-group">Holiday Pay included <span class="meta-blue">OFF</span></div>
                          <div class="col-sm-12 form-group">Employers NI included <span class="meta-blue">OFF</span></div>
                          <div class="col-sm-12 form-group">VAT charged <span class="meta-blue">OFF</span></div>
                          <div class="col-sm-12 form-group">Invoice Method <span class="meta-o">Consolidate</span></div>
                          <div class="col-sm-12 form-group">Invoice Design <span class="meta-o">Invoice Std</span></div>
                        </div>
                        <div class="col-sm-7 nonepadding">
                          <div class="col-sm-12 form-group">Invoice Email Primary
                            <a href="mailto:andy@makeitsimple.info"><span class="meta">andy@makeitsimple.info</span></a>
                          </div>
                          <div class="col-sm-12 form-group">Invoice Email Secondary
                             <a href="mailto:andy@makeitsimple.info"><span class="meta">andy@makeitsimple.info</span></a>
                          </div>
                          <div class="col-sm-12 form-group">Payment Terms <span class="meta-o">ComboBox</span></div>
                          <div class="col-sm-12 form-group">Invoice to <span class="meta-o">HQ</span></div>
                        </div>
                      </div>
                  </div>
                  <div class="col-xs-12">
                    <p class="entry-title">Default Payroll <a class="icon-edit pull-right" href="javascript:void(0);" ng-click="openAgencyDefaultPayroll()"><i class="fa fa-edit"></i>edit</a></p>
                  </div>
                  <div class="col-sm-12">
                      <div class="row entry-content">
                        <div class="col-sm-5 nonepadding">
                          <div class="col-sm-12 form-group">Product Type <span class="meta-o">Umbrella</span></div>
                          <div class="col-sm-12 form-group">Margin Charged to agency <span class="meta-blue">OFF</span></div>
                          <div class="col-sm-12 form-group">Margin Type <span class="meta-o">Fixed</span></div>
                        </div>
                        <div class="col-sm-7 nonepadding">
						   <div class="col-sm-12 form-group">Margin Amount <span class="meta-o">&#163;25.00</span></div>
                          <div class="col-sm-12 form-group">Holiday Amount <span class="meta-o">&#163;12.07%</span></div>
                        </div>
                      </div>
                  </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="consultants" ng-controller="CandidateSidebarController">
                  <div class="row">
                    <div class="col-sm-4 pull-right">
                      <button type="button" class="btn btn-success form-control" ng-click="openAddAgencyBranch()"><i class="fa fa-plus"></i> Add New Branch</button>
                    </div>
                  </div>
                  <!-- Accordion content -->
                  <div class="agencies_wrapper">
                    <div>
                      <accordion close-others="oneAtATime">
                        <accordion-group is-open="status.open" ng-class="{'active' : status.open}">
                          <accordion-heading>
                            Bolton<i class="pull-right fa" ng-class="{'fa-chevron-up': status.open, 'fa-chevron-down': !status.open}"></i>
                          </accordion-heading>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="meta-box-content">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Name</th>
                                      <th>Branch</th>
                                      <th>Email</th>
                                      <th>Phone</th>
                                      <th>Status</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Mark Gentry</td>
                                      <td>Head Office</td>
                                      <td><a href="mailto:mark@originem.com.uk">mark@originem.com.uk</a></td>
                                      <td>01617131730</td>
                                      <td>Live</td>
                                      <td>
                                        <div class="action_wrapper text-center">
                                          <a href="#"><i class="fa fa-search"></i></a>
                                          <a href="#"><i class="fa fa-unlock"></i></a>
                                          <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                          <div class="row" style="padding-top: 100px;">
                            <div class="col-sm-4 pull-right">
                              <button type="button" class="btn btn-success form-control" ng-click="openAddAgencyConsultant()"><i class="fa fa-plus"></i> Add New Consultant</button>
                            </div>
                          </div>
                        </accordion-group>
                        <accordion-group heading="Preston"></accordion-group>
                        <accordion-group heading="Manchester"></accordion-group>
                      </accordion>
                    </div>
                  </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="candidate"></div>

                <div role="tabpanel" class="tab-pane fade" id="sales">
                  <div class="col-xs-12">
                    <p class="entry-title">Sales</p>
                  </div>

                  <div class="col-sm-12">
                    <form novalidate>
                      <div class="row">
                        <div class="col-xs-12 nonepadding">
                          <div class="col-sm-4 col-xs-6 form-group">Lead Sales</div>
                          <div class="col-sm-2 col-xs-6 form-group">
                            <select class="form-control">
                              <option>User</option>
                            </select>
                          </div>
                          <div class="col-sm-4 col-xs-6 form-group">Commission Profile</div>
                          <div class="col-sm-2 col-xs-6 form-group">
                            <select class="form-control">
                              <option>User</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-xs-12 nonepadding">
                          <div class="col-sm-4 col-xs-6 form-group">Account Manager</div>
                          <div class="col-sm-2 col-xs-6 form-group">
                            <select class="form-control">
                              <option>User</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="col-xs-12">
                    <p class="entry-title">Administration cost</p>
                  </div>

                  <div class="col-sm-12">
                    <form novalidate>
                      <div class="row">
                        <div class="col-xs-12 nonepadding">
                          <div class="col-sm-4 col-xs-6 form-group">Per Referral</div>
                          <div class="col-sm-3 col-xs-6  form-group">
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xs-12 nonepadding">
                          <div class="col-sm-4 col-xs-6 form-group">Per Timesheet</div>
                          <div class="col-sm-3 col-xs-6 form-group">
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xs-12 nonepadding">
                          <div class="col-sm-4 col-xs-6 form-group">Timesheet Gross</div>
                          <div class="col-sm-3 col-xs-6 form-group">
                            <input type="text" class="form-control">
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="history"></div>
                <div role="tabpanel" class="tab-pane fade" id="other"></div>


              </div>
            </section>
          </div>
        </div>
      </div>

      <!-- Right Sidebar Menu  -->
      <div class="sidemenu right-sidebar">
        <div class="sidebar-menu-inner">
          <div class="company-logo">
            <img src="http://placehold.it/300x150" class="user-photo" alt="image" />
          </div>
          <div class="add-agency">
            <div class="form-group hidden-xs hidden-sm">
              <button type="button" class="btn btn-success form-control">Add New Agency</button>
            </div>
            <div class="form-group hidden-xs hidden-sm">
              <button type="button" class="btn btn-success form-control">Add New Consultant</button>
            </div>
          </div>

          <div class="main-menu">
            <div class="menu-wrapper green-light-color">
              <p class="entry-title col-lg-12"><i class="fa fa-check-square-o pull-left"></i>Current Pending Candidates</p>
              <ul>
                <li><a href="#">ggg</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
            <div class="menu-wrapper green-light-color">
              <p class="entry-title col-lg-12"><i class="fa fa-clock-o pull-left"></i>New Registrations</p>
              <ul>
                <li><a href="#">ggg</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
            <div class="menu-wrapper green-color">
              <p class="entry-title col-lg-12"><i class="fa fa-users pull-left"></i>New Agencies</p>
              <ul>
                <li><a href="#">ABC Recruitment</a></li>
                <li><a href="#">123 Recruitment</a></li>
                <li><a href="#">Time Recruitment</a></li>
              </ul>
            </div>
          </div>

          <ul id="left-menu" class="main-menu">
            <li><a href="#"><i class="fa fa-check-square-o sky-brand"></i><span class="title">Current Pending Candidates</span></a></li>
            <li><a href="#"><i class="fa fa-clock-o sky-brand"></i><span class="title">New Registrations</span></a></li>
            <li><a href="#"><i class="fa fa-users sky-brand"></i><span class="title">New Agencies</span></a></li>
          </ul>
        </div>
      </div>
    </section>


    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-notify/dist/angular-notify.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>

    <!-- vendors -->
    <script src="scripts/vendors/tasty-resource.js"></script>

    <!-- routes -->
    <script src="scripts/routes/router.js"></script>
    <script src="scripts/routes/register.js"></script>
    <script src="scripts/routes/candidate.js"></script>

    <!-- constants -->
    <script src="scripts/constants/main.js"></script>
    <script src="scripts/constants/constants_resource.js"></script>
    <script src="scripts/constants/candidate.js"></script>

    <!-- services -->
    <script src="scripts/services/main.js"></script>
    <script src="scripts/services/s3service.js"></script>
    <script src="scripts/services/http_resource.js"></script>
    <script src="scripts/services/authservice.js"></script>
    <script src="scripts/services/msgservice.js"></script>
    <script src="scripts/services/modalservice.js"></script>

    <!-- directives -->
    <script src="scripts/directives/main.js"></script>
    <script src="scripts/directives/origni.js"></script>
    <script src="scripts/directives/origuniqueemail.js"></script>
    <script src="scripts/directives/origpostcode.js"></script>
    <script src="scripts/directives/origmatch.js"></script>
    <script src="scripts/directives/origvalidateform.js"></script>
    <script src="scripts/directives/tooltip.js"></script>
    <script src="scripts/directives/origtabbar.js"></script>
    <script src="scripts/directives/origwidget.js"></script>
    <script src="scripts/directives/origs3fileupload.js"></script>
    <script src="scripts/directives/origdatepicker.js"></script>
    <script src="scripts/directives/origgrid.js"></script>

    <!-- filters -->
    <script src="scripts/filters/main.js"></script>
    <script src="scripts/filters/capitalize.js"></script>

    <!-------------- controllers ----------------------->
    <script src="scripts/controllers/main.js"></script>

    <script src="scripts/controllers/register.js"></script>
    <script src="scripts/controllers/register/home.js"></script>
    <script src="scripts/controllers/register/step1.js"></script>
    <script src="scripts/controllers/register/step2.js"></script>
    <script src="scripts/controllers/register/step3.js"></script>
    <script src="scripts/controllers/register/step4.js"></script>
    <script src="scripts/controllers/register/step5.js"></script>
    <script src="scripts/controllers/register/confirm.js"></script>
    <script src="scripts/controllers/register/welcome.js"></script>
    <script src="scripts/controllers/register/activateuser.js"></script>

    <script src="scripts/controllers/login.js"></script>

    <script src="scripts/controllers/candidate/list.js"></script>
    <script src="scripts/controllers/candidate/main.js"></script>
    <script src="scripts/controllers/candidate/contact.js"></script>
    <script src="scripts/controllers/candidate/payroll.js"></script>
    <script src="scripts/controllers/candidate/payroll_tax.js"></script>
    <script src="scripts/controllers/candidate/payroll_product.js"></script>
    <script src="scripts/controllers/candidate/home.js"></script>
    <script src="scripts/controllers/candidate/sidebar.js"></script>
    <script src="scripts/controllers/candidate/maintab.js"></script>
    <script src="scripts/controllers/candidate/agencies.js"></script>
    <!-- endbuild -->
  </body>
</html>
