@mixin box-shadow-hover() {
    -webkit-box-shadow: 1px 1px 3px 0 rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 1px 1px 3px 0 rgba(50, 50, 50, 0.5);
    box-shadow: 1px 1px 3px 0 rgba(50, 50, 50, 0.5);
}

@mixin box-green-shadow() {
    -webkit-box-shadow: 0 0 5px 0 rgba(189, 221, 158, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(189, 221, 158, 0.75);
    box-shadow: 0 0 5px 0 rgba(189, 221, 158, 0.75);
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: $gray-lightest;
    font-size: 14px;
    font-family: $main-font;
}

table {
    display: -moz-deck;
}

a,
i,
li {
    transition: color .2s;
    transition: background-color .2s;
}

li.active,
li.active a,
.dropdown-menu a > i {
    transition-duration: 0;
}

.pointer {
    cursor: pointer;
}

input[disabled] {
    cursor: default!important;
}

.modal-open {
    overflow: hidden;
    width: calc(100% - 17px); //for chrome/safari
    width: -moz-calc(100% - 16px); //for firefox
}

.modal-lg {
    @media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
        width: 750px;
    }
}

.datepicker {
    z-index: 1151 !important;
}

.datepicker-top {
    position: relative;
    .dropdown-menu {
        top: -285px !important;
    }
}

.form-button,
.btn {
    &:hover {
        @include box-shadow-hover();
    }
}

.form-button .btn:hover {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.btn-success {
    background: $green-light;
    border-color: $green-light;
    &:hover {
        background: $green-light;
        border-color: $green-light;
    }
}

.btn-warning {
    background: $state-warning-bg;
    border-color: $state-warning-bg;
    &:hover {
        background: $gray;
        border-color: $gray;
    }
}

.gray-color {
    color: $gray;
}

.gray-light-color {
    color: $gray-light;
}

.gray-lightest-color {
    color: $gray-lightest;
}

.green-color {
    color: $green;
}

.green-light-color {
    color: $green-light;
}

.sky-color {
    color: $sky;
}

.sky-brand {
    background-color: $sky!important;
}

.warning-brand {
    background-color: $brand-warning-light!important;
}

.green-brand {
    background-color: $green!important;
}

.pointer {
    cursor: pointer;
}

.no-bg {
    background: #fff!important;
}

.padding {
    padding: $grid-gutter-width;
}

.padding-10 {
    padding: 10px;
}
/*Header Section*/

header {
    box-sizing: border-box;
    padding: 12px $grid-gutter-width;
    background-color: $gray;
    color: $gray-lightest;
    .row-header {
        font-size: $font-size-base;
        font-family: $font-family-base;
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        @media (max-width: $grid-break) {
            flex-flow: column wrap;
            align-items: center;
        }
        .header-logo-wrapper {
            min-width: 168px;
            height: 32px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            img {
                height: 32px;
                max-height: 32px;
                margin-right: 5px;
            }
            p {
                word-break: keep-all;
                margin: 0;
            }
            @media (max-width: $grid-break) {
                margin-bottom: 5px;
            }
        }
        .header-inputs-wrapper {
            width: 100%;
            max-width: 356px;
            height: 32px;
            form.login-form, form.search-form {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
                input {
                    height: 32px;
                    width: 100%;
                }
            }
        }
    }
    @media(max-width: $screen-md-max) {
        padding: 5px $grid-gutter-width-md;
    }
    .search-wrapper {
        max-width: 237px !important;
        .search-group {
            position: relative;
            height: 32px;
        }
        .fa-search {
            position: absolute;
            display: inline-block;
            right: 0;
            top: 0;
            transition: all .2s;
        }
        .search-group input {
            padding-right: 32px;
            &:focus {
                padding-right: 2px;
                +.fa-search {
                    opacity: 0;
                }
            }
        }
        .search-form > div,
        .search-form .dropdown-menu {
            color: $gray;
            background-color: $gray-lightest;
        }
        input {
            width: 205px !important;
            border-right: 0;
            &:hover {
                background-color: #fff;
            }
        }
        i {
            width: 32px;
            height: 32px;
            line-height: 30px;
            text-align: center;
        }
        .sitemenu {
            position: relative;
            i.fa, button {
                background-color: inherit;
                color: inherit;
            }
            .dropdown-menu {
                right: 0;
                left: auto;
                display: none;
                li {
                    a {
                        padding: 0 30px 0 10px;
                        color: $gray;
                        &:hover {
                            background-color: #fff;
                        }
                        i {
                            display: inline-block;
                            width: 20px;
                        }
                    }
                }
                .divider {
                    background-color: #e5e5e5;
                    margin: 7px 8px;
                }
            }
            &.open {
                .dropdown-menu {
                    display: block;
                }
            }
        }
        button {
            padding: 0;
            margin: 0;
            border: 1px solid $gray-light;
            height: 32px;
            width: 32px;
            &:hover {
                background-color: #fff;
            }
        }
    }
}
/*Body Section*/

.page-container {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    .left-sidebar, .candidate-right-sidebar, .right-sidebar {
        display: table-cell;
        position: relative;
        z-index: 1;
        height: 100%;
        width: 224px;
        vertical-align: top;
        .sidebar-menu-inner {
            bottom: 0;
            overflow: hidden;
            color: $gray-lightest;
            float: left;
        }
        .main-menu {
            padding: 0;
            margin: 0;
            float: left;
            width: 100%;
            li {
                list-style: none;
                float: left;
                &:hover {
                    a i {
                        background-color: $green;
                    }
                }
            }
            a {
                text-decoration: none;
                display: block;
                color: $gray-lightest;
                * {
                    text-align: center;
                    text-transform: uppercase;
                    display: block;
                    height: 36px;
                    line-height: 36px;
                    margin-bottom: 4px;
                    float: left;
                }
                i {
                    width: 40px;
                    background-color: $green-light;
                }
                span.title {
                    width: 160px;
                    background-color: $gray;
                    border-left: 1px solid #7f8f7a;
                    border-bottom: 4px solid $gray-light;
                }
            }
            .active a {
                i {
                    background-color: $green;
                }
            }
        }
    }
    .left-sidebar {
        @media(max-width: $screen-md-max) {
            width: 186px;
        }
        @media(max-width: $screen-md-max) {
            width: 66px;
        }
        .sidebar-menu-inner {
            @media(max-width: $screen-md-max) {
                padding: 0;
                text-align: center;
            }
            .user-meta-box {
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                @media (min-width: $screen-lg) {
                    height: 64px;
                    padding: 0 4px;
                }
                .user-date {
                    p {
                        margin: 0;
                        padding: 0;
                    }
                    .datetime {
                        color: $gray;
                    }
                    .week-info {
                        color: $green-light;
                        @media(max-width: $screen-md-max) {
                            font-size: 11px;
                        }
                    }
                }
                .user-photo-wrapper {
                    text-align: center;
                    margin-top: 24px;
                    margin-bottom: 43px;
                    display: none;
                    .user-photo {
                        width: 120px;
                        height: 120px;
                        @media(max-width: $screen-md-max) {
                            display: none;
                        }
                    }
                }
            }
        }
        .main-menu {
            padding-left: 12px;
            a {
                span.title {
                    @media(max-width: $screen-md-max) {
                        width: 120px;
                    }
                    @media(max-width: $screen-md-max) {
                        display: none;
                    }
                }
            }
            .tooltip {
                left: 6px!important;
                margin-top: 3px!important;
                .tooltip-arrow {
                    left: 25%!important;
                    border-top-color: transparent;
                    width: 14px;
                    height: 15px;
                    background: url('../images/tooltip_trailer.png') transparent center center no-repeat;
                    bottom: -9px;
                }
                .tooltip-inner {
                    font-size: 13px;
                    color: $gray;
                    padding: 2px 24px;
                    text-transform: uppercase;
                    background-color: $gray-lightest;
                    border: 1px solid $gray-light;
                    border-radius: 0;
                    @include box-shadow-hover();
                }
                @media(max-width: $screen-md-max) {
                    display: none!important;
                }
            }
        }
    }
    .right-sidebar {
        width: 224px;
        @media(max-width: $screen-md-max) {
            width: 186px;
        }
        @media(max-width: $screen-sm-max) {
            width: 66px;
            padding-top: 149px;
        }
        .sidebar-menu-inner {
            padding-right: 0;
            margin-top: -66px;
            padding: 0 8px 12px 12px;
            #left-menu {
                @media(min-width: $screen-lg) {
                    display: none;
                }
            }
        }
        .main-menu {
            padding-right: 0;
            @media(max-width: $screen-md-max) {
                padding: 0;
            }
            a {
                span.title {
                    i {
                        background: none;
                        text-align: center;
                        width: 16px;
                        float: none;
                        display: inline-block;
                    }
                    @media(max-width: $screen-md-max) {
                        width: 126px;
                    }
                    @media(max-width: $screen-sm-max) {
                        display: none;
                    }
                }
            }
            .menu-wrapper {
                @media(max-width: $screen-md-max) {
                    display: none;
                }
                .entry-title {
                    color: $gray;
                    border-bottom: 1px solid $gray;
                    text-align: center;
                    padding-bottom: 4px;
                    i {
                        position: relative;
                        top: 4px;
                    }
                }
                ul {
                    padding-left: $grid-gutter-width;
                    @media(max-width: $screen-md-max) {
                        padding-elft: $grid-gutter-width-md;
                    }
                    li {
                        list-style: none;
                        float: none;
                        a {
                            text-decoration: underline;
                            padding: 0;
                        }
                    }
                }
                &.green-light-color a {
                    color: $green-light;
                }
                &.green-color a {
                    color: $green;
                }
            }
            .btn-success {
                font-size: 16px;
                background: $green-light;
                border-color: $green-light;
                &:hover {
                    background: $green;
                    border-color: $green;
                    -webkit-box-shadow: 1px 1px 3px 0 rgba(50, 50, 50, 0);
                    -moz-box-shadow: 1px 1px 3px 0 rgba(50, 50, 50, 0);
                    box-shadow: 1px 1px 3px 0 rgba(50, 50, 50, 0);
                }
            }
        }
        .search-wrapper {
            @media(max-width: $screen-sm-max) {
                display: none;
            }
            * {
                @media(max-width: $screen-md-max) {
                    text-align: left;
                }
            }
        }
    }
    .main-content {
        display: table-cell;
        position: relative;
        z-index: 1;
        padding: $grid-gutter-width 0;
        vertical-align: top;
        word-break: break-word;
        width: 100%;
        transition: opacity .1s ease-in-out;
        @media(max-width: $screen-md-max) {
            padding: $grid-gutter-width-md 0;
        }
        &:hover {
            z-index: 15;
        }
        .breadcrumb {
            padding-left: 0;
            background: $gray-lightest;
            @media(max-width: $screen-md-max) {
                font-size: 16px;
            }
            @media(max-width: $screen-sm-max) {
                font-size: 14px;
            }
            a {
                color: $green-light;
                border-bottom: 1px solid $green-light;
                text-decoration: none;
                &.active {
                    color: $green;
                    border-bottom: 1px solid transparent;
                }
            }
            span {
                display: inline-block;
                width: 6px;
                height: 13px;
                background: url('../images/breadcrumb_sep.png') transparent center center no-repeat;
                margin: 0 10px;
                position: relative;
                top: 3px;
            }
        }
        .meta-box {
            position: relative;
            margin-bottom: 14px;
            color: $gray;
            background-color: #fff;
            .meta-box-inner {
                padding: $grid-gutter-width $grid-gutter-width / 2;
                border: 1px solid $gray-lighter;
                @media(max-width: $screen-md-max) {
                    padding: $grid-gutter-width-md $grid-gutter-width-md / 2;
                }
                .msg-box {
                    padding: 0 $grid-gutter-width / 2 0 $grid-gutter-width;
                    height: 32px;
                    margin-bottom: 5px;
                    @media(max-width: $screen-md-max) {
                        padding: 0 $grid-gutter-width-md / 2 0 $grid-gutter-width-md;
                    }
                    > * {
                        line-height: 32px;
                        display: inline-block;
                        float: left;
                    }
                    .message {
                        padding: 0 $grid-gutter-width / 2;
                    }
                }
            }
            .entry-title {
                border-bottom: 1px solid $gray;
                color: $green;
            }
            .icon-edit {
                text-decoration: underline;
                color: $green-light;
                i {
                    position: relative;
                    top: 2px;
                }
            }
            .entry-content {
                list-style: none;
                padding: 0;
                i {
                    width: 20px;
                    margin-right: 5px;
                    text-align: center;
                    display: inline-block;
                }
                .meta {
                    float: right;
                    color: $green-light;
                    font-size: 13px;
                    text-decoration: underline;
                    &:hover {
                        color: $green;
                    }
                }
                .meta-o {
                    float: right;
                    color: #417EAB;
                    font-size: 13px;
                }
                > li {
                    height: 22px;
                }
            }
            .edit-panel {
                display: none;
                position: absolute;
                top: $grid-gutter-width / 2;
                right: $grid-gutter-width;
                a {
                    color: $gray-light;
                }
            }
            &:hover .edit-panel {
                display: block;
            }
            .meta-box-content {
                max-height: 200px;
                overflow-y: scroll;
                margin-right: 0;
            }
        }
        .navbar-header {
            border: 1px solid $green;
            color: $gray-lightest;
            background-color: $green-light;
            margin-left: -1px;
            margin-right: -1px;
            .navbar-toggle {
                padding: 1px 8px;
                margin: 0;
                height: 38px;
                border: none;
                .icon-bar {
                    background-color: $gray-lightest;
                }
            }
            .navbar-brand {
                height: 38px;
                line-height: 38px;
                padding: 0 9px; 
            }
        }
        @media(max-width: $screen-xs-max) {
            .tabs-wrapper {
                > .nav-tabs {
                    padding: 0;
                    overflow: hidden;
                    border-left: 1px solid transparent;
                    border-right: 1px solid transparent;
                    margin-top: 0;
                    > li {
                        float: none;
                        background: #fff!important;
                        border: none!important;
                        a {
                            color: $green!important;
                            border: none!important;
                        }
                    }
                }
            }
        }
        /*Tab Sectinon*/
        
        .tabs-wrapper {
            margin-left: -($grid-gutter-width / 2 + 2);
            margin-right: -($grid-gutter-width / 2 + 2);
            position: relative;
            .nav-tabs {
                cursor: pointer;
                border-bottom: 1px solid $green;
                padding-left: 0;
                padding-right: 0;
                margin-left: 1px;
                margin-right: 1px;
                > li {
                    background: $green-light;
                    margin-bottom: -1px;
                    border-top: 1px solid $gray;
                    border-bottom: 1px solid $green;
                    border-left: 1px solid $gray;
                    border-right: 1px solid $gray;
                    &:last-child, &:first-child {
                        border-left: 1px solid $gray;
                    }
                    &:hover {
                        background: $green;
                        border-color: $gray;
                        border-bottom: 1px solid $green;
                    }
                    a {
                        color: $gray-lightest;
                        border-radius: 0;
                        border-color: transparent;
                        margin: 0;
                        line-height: 19px;
                        &:hover {
                            background-color: transparent;
                            color: $gray-lightest;
                        }
                        &:focus {
                            color: $gray-lightest;
                        }
                    }
                    > a {
                        padding: 4px 14px;
                    }
                    &.active {
                        border-color: $green;
                        border-bottom: 1px solid #fff;
                        &:hover {
                            border-bottom: 1px solid #fff;
                            background-color: #fff;
                        }
                        a {
                            color: $green;
                            outline: none;
                            &:hover {
                                color: $green;
                                outline: none;
                            }
                        }
                    }
                }
            }
            .tab-content {
                border-right: 1px solid $green;
                border-left: 1px solid $green;
                border-bottom: 1px solid $green;
                color: $gray-darker;
                padding: $grid-gutter-width / 2;
                float: left;
                width: calc(100% - 2px);
                margin-left: 1px;
                .nav-tabs {
                    padding: $grid-gutter-width;
                    border-bottom: 1px solid $green;
                    margin-right: -10px;
                    margin-left: -10px;
                    li {
                        width: 120px;
                        height: 20px;
                        text-align: center;
                        border: none;
                        background: $gray-light;
                        border-radius: 16px;
                        margin-right: 3px;
                        &:hover, &:focus {
                            background: $green;
                        }
                        a {
                            padding: 0;
                            font-size: 13px;
                            color: $gray-lightest;
                            &:hover, &:focus {
                                background-color: transparent;
                            }
                        }
                        &.active {
                            border-color: $green;
                            background: $green;
                            a {
                                background: transparent;
                                color: $gray-lightest;
                            }
                        }
                    }
                }
                .tab-content {
                    width: 100%;
                    border-color: transparent;
                }
            }
        }
        /*Table Section*/
        
        .table > thead > tr > th,
        .table > thead > tr > td,
        .table > tbody > tr > th,
        .table > tbody > tr > td,
        .table > tfoot > tr > th,
        .table > tfoot > tr > td {
            padding: 4px 12px;
            font-size: 13px;
            vertical-align: middle;
            font-family: $main-font;
        }
        .table {
            border-collapse: separate;
            border-spacing: 3px;
            margin: 0 -1px;
            thead {
                tr {
                    th {
                        border: none;
                        background-color: $green-light;
                        color: $gray-lightest;
                        text-transform: uppercase;
                        a {
                            color: $gray-lightest;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        border: none;
                        color: $gray;
                        a {
                            text-decoration: underline;
                            color: $green-light;
                            &:hover {
                                color: $green;
                            }
                        }
                        .action_wrapper a {
                            margin-left: 3px;
                        }
                    }
                    &:nth-child(even) {
                        background-color: $gray-lightest;
                    }
                    &:hover {
                        background-color: #dce7d7;
                    }
                }
            }
        }
        .agencies_wrapper {
            .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
                padding: 4px;
                font-size: 14px;
            }
            .table > thead > tr > th,
            .table > thead > tr > td {
                @media(max-width: $screen-sm-max) {
                    font-size: 10px;
                }
            }
        }
        accordion {
            .panel-group {
                .panel {
                    margin: 0;
                    padding: 0;
                    border-radius: 0;
                    border: 1px solid $gray-lighter;
                    border-bottom: none;
                    background-color: $green-light;
                    &:last-child {
                        border-bottom: 1px solid $gray-lighter;
                    }
                    .panel-heading {
                        background: none;
                        color: $gray-lightest;
                    }
                    .panel-title {
                        font-size: 16px;
                        line-height: 16px;
                        a {
                            cursor: pointer;
                            text-decoration: none;
                        }
                        @media(max-width: $screen-md-max) {
                            font-size: 14px;
                            line-height: 14px;
                        }
                    }
                    &.active {
                        background: #fff;
                        border: 1px solid $green;
                        > .panel-heading {
                            color: $green;
                            border-bottom: 1px solid $green;
                        }
                    }
                }
                .nav-tabs {
                    padding: $grid-gutter-width;
                    border-bottom: 1px solid $green;
                    li {
                        width: 120px;
                        height: 20px;
                        text-align: center;
                        border: none;
                        background: $gray-light;
                        border-radius: 16px;
                        margin-right: 3px;
                        &:hover, &:focus {
                            background: $green;
                        }
                        a {
                            padding: 0;
                            font-size: 13px;
                            color: $gray-lightest;
                            border-color: transparent;
                            &:hover, &:focus {
                                border-color: transparent;
                                background-color: transparent;
                            }
                        }
                        &.active {
                            border-color: $green;
                            background: $green;
                            a {
                                border-color: transparent;
                                background: transparent;
                                color: $gray-lightest;
                            }
                        }
                    }
                }
            }
        }
    }
}

.edit-panel {
    display: none !important;
}

th.rotate {
    height: 160px;
    white-space: nowrap;
    padding: 5px 10px;
}

th.rotate div {
    transform: translate(0px, 0) rotate(90deg);
    width: 10px;
    margin-top: -77px;
    margin-left: 0;
}

th.rotate div span {
    padding: 5px 10px;
}

@import url(http://fonts.googleapis.com/css?family=Questrial);
body {
    font-family: 'Questrial';
}

.modal::-webkit-scrollbar {
    display: none;
}

.runPayroll-header {
    min-height: 16.428571429px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.runPayroll-header-title {
    margin: 0;
    line-height: 1.428571429;
}

.runPayroll-body {
    position: relative;
    padding: 20px;
}

.runPayroll-footer {
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

select.form-control,
input.form-control {
    padding: 0 2px;
}

.form-group {
    margin-bottom: 8px;
}

.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
    font-weight: normal;
}

.no-padding {
    padding: 0;
}

table.scroll tbody {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

table.scroll tbody,
table.scroll thead {
    display: block;
}

table.scroll tbody tr,
table.scroll thead tr {
    width: 100%;
    display: block;
}

table.scroll thead tr th {
    border-bottom: none;
}

table.scroll thead tr th,
table.scroll tbody tr td {
    display: inline-block;
}

table.scroll thead tr th input[type="checkbox"],
table.scroll tbody tr td input[type="checkbox"] {
    margin: 0;
}

table.scroll thead tr th.ref,
table.scroll tbody tr td.ref {
    width: 45%;
}

table.scroll thead tr th.fullName,
table.scroll tbody tr td.fullName {
    width: 45%;
}

table.scroll thead tr th.text-checkbox,
table.scroll tbody tr td.text-checkbox {
    width: 8.2%;
}

@media screen and (max-width: 580px) {
    table.scroll tbody,
    table.scroll thead {
        display: table-row-group;
    }
    table.scroll tbody tr,
    table.scroll thead tr {
        display: table-row;
    }
    table.scroll thead tr th,
    table.scroll tbody tr td {
        display: table-cell;
    }
}

@import url(http://fonts.googleapis.com/css?family=Questrial);
body {
    font-family: 'Questrial';
}

.modal::-webkit-scrollbar {
    display: none;
}

.tab-pane {
    padding: 10px 0;
}

.importExpensesh4 {
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

table.scroll tbody {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

table.scroll tbody,
table.scroll thead {
    display: block;
}

table.scroll tbody tr,
table.scroll thead tr {
    width: 100%;
    display: block;
}

table.scroll thead tr th {
    border-bottom: none;
}

table.scroll thead tr th,
table.scroll tbody tr td {
    display: inline-block;
}

table.scroll thead tr th.name {
    width: 38.7%;
}

table.scroll tbody tr td.name {
    width: 40%;
}

table.scroll thead tr th.icons {
    width: 4.9%;
    text-align: center;
}

table.scroll tbody tr td.icons {
    width: 5%;
}

table.scroll thead tr th.lastEdited {
    width: 21.3%;
}

table.scroll tbody tr td.lastEdited {
    width: 22%;
}

table.scroll thead tr th.created {
    width: 19.4%;
}

table.scroll tbody tr td.created {
    width: 20%;
}

@media screen and (max-width: 580px) {
    table.scroll tbody,
    table.scroll thead {
        display: table-row-group;
    }
    table.scroll tbody tr,
    table.scroll thead tr {
        display: table-row;
    }
    table.scroll thead tr th,
    table.scroll tbody tr td {
        display: table-cell;
    }
}

@import url(http://fonts.googleapis.com/css?family=Questrial);
body {
    font-family: 'Questrial'
}

.no-padding {
    padding: 0;
}

.dragAndDropList {
    list-style: none;
    padding-left: 0;
    width: 100%;
}

.dragAndDropList li {
    color: #333;
    background-color: #fff;
    padding: 6px 12px;
    margin-bottom: 10px;
    cursor: move;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    overflow: hidden;
}

.dragAndDropList li:hover {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}
/*Dropdown calendar*/

.orig-datepicker {
    > ul.dropdown-menu {
        padding: 3px;
        > li:first-child {
            thead tr:first-child button {
                border: none;
                &:hover {
                    box-shadow: none;
                }
            }
            tbody td > button {
                border: none;
                transition-duration: .1s;
                &:hover {
                    box-shadow: none;
                }
            }
            tbody td > button.active {
                background-color: $green;
                span {
                    color: #fff;
                }
            }
        }
        > li:nth-child(2) {
            display: none;
        }
    }
}

table {
    outline: 0;
}