@mixin box-shadow-hover() {
    box-shadow: 1px 1px 3px 0 rgba(50, 50, 50, 0.5);
}

@mixin box-green-shadow() {
    box-shadow: 0 0 5px 0 rgba(189, 221, 158, 0.75);
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: $gray-lightest;
    font-size: 14px;
    font-family: $main-font;
}

a,
i,
li {
    transition: color .1s;
    transition: background-color .1s;
}

li.active,
li.active a,
.dropdown-menu a > i {
    transition-duration: 0;
}

.modal-open {
    overflow: hidden;
}

.form-button,
.btn {
    &:hover {
        @include box-shadow-hover();
    }
    .form-button &:hover {
        box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    }
}

.btn-success {
    background: $green-light;
    border-color: $green-light;
    &:hover {
        background: $green-light;
        border-color: $green-light;
    }
}

.btn-warning {
    background: $state-warning-bg;
    border-color: $state-warning-bg;
    &:hover {
        background: $gray;
        border-color: $gray;
    }
}

.gutter-right {
    margin-right: 12px;
}

/*Header Section*/

header.container-fluid {
    padding: $grid-gutter-width-md;
    background-color: $gray;
    color: $gray-lightest;
}