/**
  * Input Element
  */

input[type=text],
input[type=email],
input[type=url],
input[type=number],
input[type=password],
textarea,
textarea.form-control,
select.form-control {
    border-radius: 0px;
    border: 1px solid $gray-light;
    background-color: $gray-lightest;
    outline: none;
    transition: background-color .2s;
    input {
        height: 27px;
    }
    &::placeholder {
        color: $gray;
        outline: none;
    }
    &:focus {
        background-color: #fff;
        border-color: $gray-light;
        box-shadow: none;
    }
    &:hover {
        background-color: #fff;
        @include box-green-shadow();
    }
}

button {
    transition: background-color .2s;
    &:focus {
        outline: none !important;
        border-color: $gray-light;
        box-shadow: none;
    }
}

span.text-muted {
    color: $gray-lighter;
}

.form-group {
    margin-bottom: 5px;
}

.input-group-btn > button.btn.btn-default {
    line-height: normal;
    border-radius: 0px;
    background-color: $gray-lightest;
    border: 1px solid $gray-light;
    height: 28px;
    width: 32px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    .fa {
        width: 100%; 
    }
}

.input-group .input-group-addon {
    border: 1px solid $gray-light;
    border-radius: 0px;
    border-right: 0px;
}
/*Date Picker*/

.orig-datepicker {
    input {
        border-right: none;
    }
    &:hover input {
        background-color: #fff;
    }
    .input-group-btn {
        z-index: 10;
        button {
            height: 28px; 
            border-left: 1px solid $gray-light;
        }
    }
    &:hover .input-group-btn {
        button {
            background-color: #fff;
            border-color: $gray-light;
            margin-left: 0px;
            @include box-green-shadow();
        }
    }
}
/**--ui-select(bootstrap theme)-**/

.ui-select-bootstrap button {
    height: 27px;
    border-radius: 0px;
    background: $gray-lightest;
}

.ui-select-bootstrap button .caret {
    &::after {
        content: " ";
        width: 27px;
        height: 27px;
        border-left: solid 1px #CCC;
        position: absolute;
        top: -22px;
        left: -20px;
    }
}
/*-----------Check BOX SYTLE----------------------*/

.checkbox {
    margin-top: 0px;
}

.checkbox input[type=checkbox]:checked + label:after {
    padding-top: 3px;
}
/*-------Show Errors------------*/

.form-group .alert {
    margin-top: 6px;
}

input.ng-dirty.ng-invalid,
div.ng-dirty.ng-invalid>button,
div.ng-dirty.ng-invalid.select2,
div.ng-dirty.ng-invalid.input-group {
    border-color: red;
}

.nonepadding {
    padding-left: 0px;
    padding-right: 0px;
}

.clear {
    clear: both;
}
/*
 * S3FileUploader
 */

.fileupoad-area {
    position: relative;
    .fileupload {
        top: 0px;
        left: 0px;
        position: absolute;
        opacity: 1;
    }
    .fileinput {
        opacity: 0;
        z-index: 5;
    }
}
/**
 * Loading bar
 */

#loading-bar .bar {
    background-color: #8dc044;
    height: 4px;
}

.checkbox input[type=checkbox]:checked + label:after {
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}

.checkbox label:after {
    padding-left: 3px;
    padding-top: 2px;
    font-size: 7px;
}