.orig-alert-message {
    position: fixed;
    left: 50%;
    top: 0;
    z-index: 9999;
    max-width: 90%;
    text-align: center;
    margin-bottom: 0;
    transition: top 0.5s ease-out, opacity .2s ease-out;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    visibility: hidden;
    .fa {
        margin-right: 4px;
    }
}

.modal-open {
    overflow: hidden;
}

.modal-lg {
    @media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
        width: 750px;
    }
}

.candidate-modal {
    .modal-body {
        p {
            margin: 0;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin: 9px;
        }
        input[type=number] {
            padding: 0 0 0 12px;
        }
    }
    label {
        font-weight: normal;
        font-size: 1em;
    }
    legend {
        margin-bottom: 0;
        font-size: 18px;
        width: auto;
        padding-left: 5px;
        padding-right: 5px;
    }
    .form-group {
        margin-left: 0;
        margin-right: 0;
        label {
            line-height: 28px;
            margin-bottom: 0;
        }
    }
    fieldset {
        .form-group {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .checkbox-item {
        position: relative;
        input[type=checkbox] {
            margin-right: 10px;
        }
    }
    .links {
        margin: 10px 0 0 10px;
        a {
            display: block;
            margin-bottom: 5px;
            float: left;
            width: 33.33%;
            @media(max-width: $screen-xs-max) {
                width: 50%;
            }
            .fa {
                margin-right: 5px;
            }
        }
    }
    .modal-note {
        font-size: 15px;
    }
    .div-center {
        margin: 50px auto;
    }
    .button-container-center {
        margin: 33px auto;
        .btn-136 {
            width: 136px;
        }
    }
    .div-center-dates {
        width: 290px;
        margin: 10px auto;
    }
    .inline-datepicker {
        display: inline-block;
        width: 280px;
    }
    .table-scroll {
        max-height: 250px;
        overflow-y: scroll;
        margin-right: 0;
    }
    .list-alert-checkbox {
        list-style: none;
        padding: 0;
        li {
            margin: 10px 0;
            div {
                display: table-cell;
                vertical-align: middle;
                /* padding: 15px;   */
            }
            .alert {
                width: 99%;
            }
            .alert-question {
                width: 70%;
                @media(max-width: $screen-xs-max) {
                    width: 50%;
                }
            }
        }
    }
    .no-padding {
        padding: 0;
    }
    /* ngTagsInput */
    
    .orig-tags-input {
        .tags {
            border: 2px solid #a6a4a2;
            background-color: #f1efef;
            outline: none;
            .tag-item {
                background: #428bca;
                border-color: #357ebd;
                color: #fff;
                word-break: break-all;
                height: auto;
                margin: 2px;
            }
        }
        .host {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .fileUpload {
        position: relative;
        overflow: hidden;
        input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }
    .inputUploadFile {
        padding: 8px 12px;
        font-size: 14px;
        color: #666;
        border: 1px solid #D8D8D8;
        font-family: inherit;
        width: 50%;
    }
}

#claim_datepicker table {
    td, th {
        user-select: none;
    }
    &:focus {
        outline: none;
    }
    thead button,
    td button {
        border: none!important;
        border-radius: 0!important;
        box-shadow: none!important;
        outline: none!important;
    }
}
/*Add Timesheet*/

/*.add-tsh hr {
    margin-top: 8px;
}

.modal-content .add-tsh {
    width: 970px;
}

.modal::-webkit-scrollbar {
    display: none;
}

select.form-control,
input.form-control {
    padding: 0 2px;
}

.form-group {
    margin-bottom: 6px;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding {
    padding: 0;
}

.margin-8 {
    margin-right: 8px;
}

.labelDisabledInput {
    padding-top: 6px;
    padding-bottom: 6px;
}

.cisIconCheck {
    padding-top: 8px;
    padding-bottom: 8px;
}

.modal-headerExpenses {
    padding: 20px 15px;
}

.fieldsetTimesheet {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

.fieldsetTimesheet legend {
    margin-bottom: 0;
    font-size: 16px;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    border: 0;
    white-space: normal;
    line-height: inherit;
    color: #333;
    display: block;
}

.timesheet_modal-footer {
    padding: 20px 0;
    text-align: left;
}

.rowFooter {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.btnFooter {
    bottom: 0;
    position: absolute;
    right: 0;
    padding-left: 0;
    margin-right: 15px;
}

.btnSmall {
    padding: 6px 2px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#uploadFile {
    border: none;
    box-shadow: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #fff;
}

.col-uploadFile {
    bottom: 0;
    position: absolute;
    padding-bottom: 10px;
}

#tableHeader {
    display: none;
}

#tableHeader,
#tableBody {
    margin-bottom: 0px;
}

.tableWrapper {
    width: 100%;
    max-height: 320px;
    overflow-y: auto;
    display: block;
    margin-bottom: 15px;
}

@media screen and (max-width: 598px) {
    .tableWrapper {
        display: table;
    }
    #tableHeader,
    #tableBody {
        table-layout: fixed;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 768px) {
    .btnFooter {
        position: relative;
    }
    .btnSmall {
        padding: 6px 12px;
    }
}*/

.modal-content .add-tsh {
    width: 970px;
}

.modal-window hr {
    margin-top: 8px;
}

.modal::-webkit-scrollbar {
    display: none;
}

select.form-control,
input.form-control {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.form-group {
    margin-bottom: 6px;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding {
    padding: 0;
}

.margin-8 {
    margin-right: 8px;
}

.modal-window fieldset {
        border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

.modal-window legend {
    margin-bottom: 0;
    font-size: 16px;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    border: 0;
    white-space: normal;
    line-height: inherit;
    color: #333;
    display: block;
}

.rowFooter {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-footer {
    position: absolute;
    bottom: 5px;
    right: 0;
    margin-bottom: 0;
}