.orig-alert-message {
	position: fixed;
	left: 50%;
	top: 0;
	z-index: 9999;
	max-width: 90%;
	text-align: center;
	margin-bottom: 0;
	transition: top .5s ease-out, opacity $trans-duration ease-out;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	visibility: hidden;
	.fa {
		margin-right: 4px;
	}
}

.modal-open {
	overflow: hidden;
}

.modal-lg {
	@media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
		width: 750px;
	}
}

@media (min-width: 768px) {
	.form-horizontal .control-label {
		padding-top: 0 !important;
		text-align: left !important;
	}
}

.modal-window {
	.modal-title {
		font-weight: bold;
		text-transform: capitalize;
	}
	.modal-body {
		p {
			margin: 0;
		}
		input[type=number] {
			padding: 0 0 0 12px;
		}
	}
	.modal-footer > .row {
		display: flex;
		align-items: flex-end;
	}
	legend {
		margin-bottom: 0;
		font-size: 16px;
		width: auto;
		padding-left: 5px;
		padding-right: 5px;
	}
	label {
		line-height: $input-height;
		margin-bottom: 0;
		font-weight: normal;
	}
	.form-group {
		margin-left: 0;
		margin-right: 0;
		& > label, & > div {
			padding-left: 0;
			padding-right: 0;
		}
	}
	fieldset {
		border: 1px solid silver;
		margin: 5px 2px;
		padding: .35em;
		.form-group {
			padding-left: 0;
			padding-right: 0;
		}
	}
	hr {
		margin-top: 8px;
	}
	.checkbox-item {
		position: relative;
		input[type=checkbox] {
			margin-right: 10px;
		}
	}
	.links {
		margin: 10px 0 0 10px;
		a {
			display: block;
			margin-bottom: 5px;
			float: left;
			width: 33.33%;
			@media(max-width: $screen-xs-max) {
				width: 50%;
			}
			.fa {
				margin-right: 5px;
			}
		}
	}
	.modal-note {
		font-size: 15px;
	}
	.alert {
		margin: 6px 0 0 0;
		line-height: $line-height-base;
		padding: 5px 10px;
	}
	.div-center-dates {
		width: 290px;
		margin: 10px auto;
	}
	.inline-datepicker {
		display: inline-block;
		width: 280px;
	}
	.table-scroll {
		max-height: 250px;
		overflow-y: scroll;
		margin-right: 0;
	}
	.list-alert-checkbox {
		list-style: none;
		padding: 0;
		li {
			margin: 10px 0;
			div {
				display: table-cell;
				vertical-align: middle;
			}
			.alert {
				width: 99%;
			}
			.alert-question {
				width: 70%;
				@media(max-width: $screen-xs-max) {
					width: 50%;
				}
			}
		}
	}
	/* ngTagsInput */
	
	.orig-tags-input {
		.tags {
			border: 2px solid #a6a4a2;
			background-color: #f1efef;
			outline: none;
			.tag-item {
				background: #428bca;
				border-color: #357ebd;
				color: #fff;
				word-break: break-all;
				height: auto;
				margin: 2px;
			}
		}
		.host {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	.fileUpload {
		position: relative;
		overflow: hidden;
		input.upload {
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			font-size: 20px;
			cursor: pointer;
			opacity: 0;
			filter: alpha(opacity=0);
		}
	}	
	.inputUploadFile {
		padding: 8px 12px;
		font-size: 14px;
		color: #666;
		border: 1px solid #D8D8D8;
		font-family: inherit;
		width: 50%;
	}
}

#claim_datepicker table {
	td, th {
		user-select: none;
	}
	&:focus {
		outline: none;
	}
	thead button,
	td button {
		border: none!important;
		border-radius: 0!important;
		box-shadow: none!important;
		outline: none!important;
	}
}

.modal::-webkit-scrollbar {
	display: none;
}

select.form-control,
input.form-control {
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
}

.rowFooter {
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.btn-footer {
	position: absolute;
	bottom: 5px;
	right: 0;
	margin-bottom: 0;
}

.add-tsh-datepicker {
	position: absolute;
	left: 111px;
	top: 28px;
	z-index: 1000;
	background-color: #fff;
	outline: 1px solid $gray-light;
}

.add-exp-btn-cont {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding-top: $grid-gutter-width-md + $grid-gutter-width-md;
	> .btn {
		margin-bottom: $grid-gutter-width-md / 2;
	}
}

.datepicker-inside > div {
	padding: 0;
	border: 0;	
}

.btn-dropdown {
	right: 0;
}