.orig-grid-wrapper {
    .orig-grid {}
    .orig-grid-pagination-wrapper {
        margin: 5px;
        font-size: 14px;
        .page-rows-count {
            float: left;
        }
        .pagination {
            float: right;
        }
    }
}