/*Grid*/
$screen-lg: 1280px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 568px;
$grid-float-breakpoint: $screen-sm;
$grid-break: ($screen-xs - 1);

$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);
$grid-gutter-width: 18px;
$grid-gutter-width-md: 12px;

/*Colors*/
$gray-darker: #555;
$gray: #616161; 
$gray-light: #9e9e9e; 
$gray-lighter: #d5d2cf;
$gray-lightest: #eee; 
$white: #fafafa;

$green: #059347; 
$green-light: #79c44a;

$sky: #9ad3ef;
$brand-danger: #c62725;
$brand-warning: #b2781b;
$brand-warning-light: #ed8d29;

$state-danger-bg: #e1202b;
$state-danger-text: #fff;
$state-danger-border: $brand-danger;

$state-warning-bg: #ed8c28;
$state-warning-text: #fff;
$state-warning-border: $brand-warning;

$btn-danger-bg: #e1202b;
$btn-danger-text: #fff;
$btn-danger-border: $brand-danger;

$btn-warning-bg: #ed8c28;
$btn-warning-color: #fff;
$btn-warning-border: $brand-warning;

/* Fonts */
$main-font: 'Questrial', 'Helvetica Neue', Helvetica, arial, sans-serif;
$secondary-font: 'Helvetica Neue', Helvetica, arial, sans-serif;
$line-height-base: 1;
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/*Other*/
$input-height-base: 32px;
$input-height: 28px;
$padding-base-horizontal: 10px;
$control-width: 200px;
$alert-padding: 10px 15px;

$link-color: $green-light;
$link-hover-color: $green;
$brand-primary: $green;
$pagination-color: $link-hover-color;

$trans-duration: .15s;