<div class="col-xs-12">
    <div class="wrapper-tabs">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Amount</th>
                            <th style="width: 70px;"></th>
                        </tr>
                    </thead>
                    <tbody>

                        <span ng-show="statutoryRates.nmw">
                            <tr ng-repeat="elem in statutoryRates.nmw | validDate">
                                <td>NMW</td>
                                <td>-</td>
                                <td class="text-center">
                                    <a href="" ng-click="openModal('nmw')"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        </span>

                        <span ng-show="statutoryRates.employeesNiRate">
                            <tr ng-repeat="elem in statutoryRates.employeesNiRate | validDate">
                                <td>Employees NI main rate</td>
                                <td>{{elem.amount}}%</td>
                                <td class="text-center">
                                    <a href="" ng-click="openModal('employeesNiRate')"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        </span>

                        <span ng-show="statutoryRates.employersNiThreshold">
                            <tr ng-repeat="elem in statutoryRates.employersNiThreshold | validDate">
                                <td>Employers NI threshold</td>
                                <td>£{{elem.amount}}</td>
                                <td class="text-center">
                                    <a href="" ng-click="openModal('employersNiThreshold')"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        </span>

                        <span ng-show="statutoryRates.employersNiRate">
                            <tr ng-repeat="elem in statutoryRates.employersNiRate | validDate">
                                <td>Employers NI rate</td>
                                <td>{{elem.amount}}%</td>
                                <td class="text-center">
                                    <a href="" ng-click="openModal('employersNiRate')"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        </span>
                        
                        <span ng-show="statutoryRates.employeesHighEarnerNiRate">
                            <tr ng-repeat="elem in statutoryRates.employeesHighEarnerNiRate | validDate">
                                <td>Employees NI high earner rate</td>
                                <td>{{elem.amount}}%</td>
                                <td class="text-center">
                                    <a href="" ng-click="openModal('employeesHighEarnerNiRate')"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        </span>

                        
                        <span ng-show="statutoryRates.incomeTaxHigherRateThreshold">
                            <tr ng-repeat="elem in statutoryRates.incomeTaxHigherRateThreshold | validDate">
                                <td>Income Tax Higher Rate Threshold</td>
                                <td>£{{elem.amount}}</td>
                                <td class="text-center">
                                    <a href="" ng-click="openModal('incomeTaxHigherRateThreshold')"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        </span>

                        <span ng-show="statutoryRates.incomeTaxAdditionalRateThreshold">
                            <tr ng-repeat="elem in statutoryRates.incomeTaxAdditionalRateThreshold | validDate">
                                <td>Income Tax Additional Rate Threshold</td>
                                <td>£{{elem.amount}}</td>
                                <td class="text-center">
                                    <a href="" ng-click="openModal('incomeTaxAdditionalRateThreshold')"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        </span>
                        
                        <span ng-show="statutoryRates.incomeTaxBasicRate">
                            <tr ng-repeat="elem in statutoryRates.incomeTaxBasicRate | validDate">
                                <td>Income Tax Basic Rate</td>
                                <td>{{elem.amount}}%</td>
                                <td class="text-center">
                                    <a href="" ng-click="openModal('incomeTaxBasicRate')"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        </span>
                        
                        <span ng-show="statutoryRates.incomeTaxHigherRate">
                            <tr ng-repeat="elem in statutoryRates.incomeTaxHigherRate | validDate">
                                <td>Income Tax Higher Rate</td>
                                <td>{{elem.amount}}%</td>
                                <td class="text-center">
                                    <a href="" ng-click="openModal('incomeTaxHigherRate')"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        </span>
                        
                        <span ng-show="statutoryRates.incomeTaxAdditionalRate">
                            <tr ng-repeat="elem in statutoryRates.incomeTaxAdditionalRate | validDate">
                                <td>Income Tax Additional Rate</td>
                                <td>{{elem.amount}}%</td>
                                <td class="text-center">
                                    <a href="" ng-click="openModal('incomeTaxAdditionalRate')"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        </span>
                        
                        <span ng-show="statutoryRates.vat">
                            <tr ng-repeat="elem in statutoryRates.vat | validDate">
                                <td>VAT</td>
                                <td>{{elem.amount}}%</td>
                                <td class="text-center">
                                    <a href="" ng-click="openModal('vat')"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        </span>
                        
                        <span ng-show="statutoryRates.sspRate">
                            <tr >
                                <td>SSP Rate</td>
                                <td> .... </td>
                                <td class="text-center">
                                    <a href="" ng-click="openModal('sspRate')"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        </span>
                        
                        <span ng-show="statutoryRates.smpRate">
                            <tr >
                                <td>SMP Rate</td>
                                <td> .... </td>
                                <td class="text-center">
                                    <a href="" ng-click="openModal('smpRate')"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        </span>
                        
                        <span ng-show="statutoryRates.sppRate">
                            <tr >
                                <td>SPP Rate</td>
                                <td> .... </td>
                                </td>
                                <td class="text-center">
                                    <a href="" ng-click="openModal('sppRate')"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        </span>
                        
                        <span ng-show="statutoryRates.workPatterns">
                            <tr ng-repeat="elem in statutoryRates.workPatterns | validDate">
                                <td>Work patterns</td>
                                <td></td>
                                <td class="text-center">
                                    <a href="" ng-click="openModal('workPatterns')"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        </span>

                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- /wrapper-tabs -->
</div><!-- /container -->