<div class="container">
    <div class="wrapper-tabs">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Other Fields</th>
                        </tr>
                    </thead>
                    <tbody>

                        <span ng-show="statutoryRates.nmw">
                            <tr ng-repeat="elem in statutoryRates.nmw">
                                <td>NMW</td>
                                <td>£{{elem.amount}}</td>
                                <td>
                                    <span ng-show="elem.ageLower || elem.ageUpper"> Age: {{elem.ageLower}} - {{elem.ageUpper}} </span>
                                    <a href="#" class="pull-right"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        </span>

                        <span ng-show="statutoryRates.employeesNiRate">
                            <tr ng-repeat="elem in statutoryRates.employeesNiRate">
                                <td>Employees NI main rate</td>
                                <td>{{elem.amount}}%</td>
                                <td>
                                    <span ng-show="elem.lowerThreshold"> Lower Threshold (£{{elem.lowerThreshold}}) & Upper Threshold (£{{elem.upperThreshold}}) </span>
                                    <a href="#" class="pull-right"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        </span>

                        <span ng-show="statutoryRates.employersNiThreshold">
                            <tr ng-repeat="elem in statutoryRates.employersNiThreshold">
                                <td>Employers NI threshold</td>
                                <td>£{{elem.amount}}</td>
                                <td>
                                    <a href="#" class="pull-right"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        </span>

                        <span ng-show="statutoryRates.employersNiRate">
                            <tr ng-repeat="elem in statutoryRates.employersNiRate">
                                <td>Employers NI rate</td>
                                <td>{{elem.amount}}%</td>
                                <td>
                                    <a href="#" class="pull-right"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        </span>
                        
                        <span ng-show="statutoryRates.employeesHighEarnerNiRate">
                            <tr ng-repeat="elem in statutoryRates.employeesHighEarnerNiRate">
                                <td>Employees NI high earner rate</td>
                                <td>{{elem.amount}}%</td>
                                <td>
                                    <span ng-show="elem.lowerThreshold"> Lower Threshold (£{{elem.lowerThreshold}}) </span>
                                    <a href="#" class="pull-right"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        </span>

                        
                        <span ng-show="statutoryRates.incomeTaxHigherRateThreshold">
                            <tr ng-repeat="elem in statutoryRates.incomeTaxHigherRateThreshold">
                                <td>Income Tax Higher Rate Threshold</td>
                                <td>£{{elem.amount}}</td>
                                <td>
                                    <a href="#" class="pull-right"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        </span>

                        <span ng-show="statutoryRates.incomeTaxAdditionalRateThreshold">
                            <tr ng-repeat="elem in statutoryRates.incomeTaxAdditionalRateThreshold">
                                <td>Income Tax Additional Rate Threshold</td>
                                <td>£{{elem.amount}}</td>
                                <td>
                                    <a href="#" class="pull-right"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        </span>
                        
                        <span ng-show="statutoryRates.incomeTaxBasicRate">
                            <tr ng-repeat="elem in statutoryRates.incomeTaxBasicRate">
                                <td>Income Tax Basic Rate</td>
                                <td>{{elem.amount}}%</td>
                                <td>
                                    <a href="#" class="pull-right"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        </span>
                        
                        <span ng-show="statutoryRates.incomeTaxHigherRate">
                            <tr ng-repeat="elem in statutoryRates.incomeTaxHigherRate">
                                <td>Income Tax Higher Rate</td>
                                <td>{{elem.amount}}%</td>
                                <td>
                                    <a href="#" class="pull-right"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        </span>
                        
                        <span ng-show="statutoryRates.incomeTaxAdditionalRate">
                            <tr ng-repeat="elem in statutoryRates.incomeTaxAdditionalRate">
                                <td>Income Tax Additional Rate Threshold</td>
                                <td>{{elem.amount}}%</td>
                                <td>
                                    <a href="#" class="pull-right"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        </span>
                        
                        <span ng-show="statutoryRates.vat">
                            <tr ng-repeat="elem in statutoryRates.vat">
                                <td>VAT</td>
                                <td>{{elem.amount}}%</td>
                                <td>
                                    <a href="#" class="pull-right"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        </span>
                        
                        <span ng-show="statutoryRates.sspRate">
                            <tr ng-repeat="elem in statutoryRates.sspRate">
                                <td>SSP Rate</td>
                                <td>£{{elem.amount}}</td>
                                <td>
                                    <span ng-show="elem.length"> Length: {{elem.length}} Weeks max </span>
                                    <a href="#" class="pull-right"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        </span>
                        
                        <span ng-show="statutoryRates.smpRate">
                            <tr ng-repeat="elem in statutoryRates.smpRate">
                                <td>SMP Rate</td>
                                <td>£{{elem.amount}}</td>
                                <td>
                                <span ng-show="elem.length"> Length: {{elem.length}} Weeks max </span>
                                    <a href="#" class="pull-right"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        </span>
                        
                        <span ng-show="statutoryRates.sppRate">
                            <tr ng-repeat="elem in statutoryRates.sppRate">
                                <td>SPP Rate</td>
                                <td>£{{elem.amount}}</td>
                                </td>
                                <td>
                                <span ng-show="elem.length"> Length: {{elem.length}} Weeks max </span>
                                    <a href="#" class="pull-right"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        </span>
                        
                        <span ng-show="statutoryRates.workPatterns">
                            <tr ng-repeat="elem in statutoryRates.workPatterns">
                                <td>Work patterns</td>
                                <td></td>
                                <td>
                                    <!-- <span ng-show="elem."> {{elem.length}} </span> -->
                                    <a href="#" class="pull-right"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        </span>

                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 text-right">
                <a href="#" class="btn">Cancel</a>
                <button class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Save</button>
            </div>
        </div>
    </div><!-- /wrapper-tabs -->
</div><!-- /container -->