<!--
  <div orig-grid="gridOptions" external-scope="$scope"></div>
</div>-->

<div class="meta-box padding-10 container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped expenses-auth">
                <!--Big table-->
                <thead>
                    <!--First green row-->
                    <tr>
                        <th></th>
                        <th>Claim ID</th>
                        <th>Claim Date</th>
                        <th>Full Name</th>
                        <th>Start Date</th>
                        <th>Status</th>
                        <th>Total</th>
                        <th>
                            <div class="dropdown text-left">
                                <a style="cursor:pointer" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-leftBottomBubble tOuter-dropdown" role="menu">
                                    <li ng-click="approveMajorSelected()">
                                        <a style="cursor:pointer; color:#000000">Approve</a>
                                    </li>
                                    <li ng-click="rejectMajorSelected()">
                                        <a style="cursor: pointer; color: #000000">Reject</a>
                                    </li>
                                    <li ng-click="majorSelectAll()">
                                        <a style="cursor: pointer; color: #000000">Select All</a>
                                    </li>
                                    <li ng-click="majorInverseSelection()">
                                        <a style="cursor: pointer; color: #000000">Inverse Selection</a>
                                    </li>
                                    <!--<li>
                                        <a style="cursor: pointer; color: #000000">Edit</a>
                                    </li>-->
                                    <li ng-click="majorDeleteSelected()">
                                        <a style="cursor: pointer; color: #000000">Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </th>
                    </tr>
                </thead>
                <!--First green row-->
                <tbody>
                    <!--First table body-->
                    <tr ng-repeat-start="expense in expensesArray">
                        <!--big table basic row-->
                        <td>
                            {{test[$index]}}
                            <a data-toggle="collapse" ng-click="collapseIcon[$index].minusIcon = !collapseIcon[$index].minusIcon;test1[$index] = !test1[$index]" data-target="{{'#accordion'+$index}}" class="clickable" style="cursor:pointer">

                                <span style="font-size:12px" class="fa-stack fa-lg">
                                    <i ng-if="collapseIcon[$index].minusIcon" class="fa fa-minus-square-o fa-stack-1x"></i>
                                    <i ng-if="!collapseIcon[$index].minusIcon" class="fa fa-plus-square-o fa-stack-1x"></i>

                                </span>
                            </a>
                        </td>
                        <td>{{expense.claimReference}}</td>
                        <td>{{expense.claimDate | date : "EEE dd/MM/yyyy"}}</td>
                        <td>{{expense.user.firstName}}&nbsp;{{expense.user.lastName}}</td>
                        <td>{{expense.startDate | date : "EEE dd/MM/yyyy"}}</td>
                        <td>&nbsp;</td>
                        <td>{{expense.total | currency:"&pound;"}}</td>
                        <td>
                            <input type="checkbox" ng-model="expense.majorChecked" />
                        </td>
                    </tr>
                    <!--big table basic row-->
                    <tr ng-repeat-end>
                        <!--big table detailed row-->
                        <td colspan="12" class="td-collapsed">
                            <div id="{{'accordion'+$index}}" class="collapse">
                                <table ng-if="test1[$index]" class="table table-striped table-container expenses-auth">
                                    <!--expense details table-->

                                    <tbody>
                                        <!--category-->
                                        <tr ng-repeat-start="cat in expense.categories">
                                            <!--category basic info-->
                                            <td style="width:20px">
                                                <a data-toggle="collapse" ng-click="test2[$index] = !test2[$index]" data-target="{{'#accordion'+ $parent.$index + 'inner'+ $index}}" class="clickable" style="cursor:pointer"><i class="fa fa-minus-square-o"></i></a>
                                            </td>
                                            <td col-span="9"><b>{{cat}}</b>
                                            </td>
                                            <td style="width:20px">
                                                <div class="dropdown text-left">
                                                    <a style="cursor:pointer" data-toggle="dropdown">
                                                        <i class="fa fa-bars"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-menu-leftBottomBubble" role="menu">
                                                        <li ng-click="approveSelected($parent.$index, cat)">
                                                            <a style="cursor: pointer; text-decoration: none">Approve Item</a>
                                                        </li>
                                                        <li ng-click="rejectSelected($parent.$index, cat)">
                                                            <a style="cursor: pointer; text-decoration: none">Reject Item</a>
                                                        </li>
                                                        <li ng-click="selectAll($parent.$index, cat)">
                                                            <a style="cursor: pointer; text-decoration: none">Select All</a>
                                                        </li>
                                                        <li ng-click="inverseSelection($parent.$index, cat)">
                                                            <a style="cursor: pointer; text-decoration: none">Inverse Selection</a>
                                                        </li>
                                                        <li ng-click="deleteSelected($parent.$index, cat)">
                                                            <a style="cursor: pointer; text-decoration: none">Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <!--category basic info-->
                                        <tr ng-repeat-end>
                                            <!--category detailed info-->
                                            <td colspan="12" class="td-collapsed">
                                                <div id="{{'accordion'+ $parent.$index + 'inner'+ $index}}" class="collapse">
                                                    <table class="table table-striped expenses-auth">
                                                        <thead>
                                                            <tr>
                                                                <th width="5%">
                                                                    <i class="fa fa-level-down"></i>
                                                                </th>
                                                                <!--<th width="10%">Category</th>-->
                                                                <th width="15%">Type</th>
                                                                <th width="12%">Date</th>
                                                                <th width="10%" class="text-right">Amount</th>
                                                                <th width="9%" class="text-right">Value</th>
                                                                <th width="9%" class="text-right">VAT</th>
                                                                <th width="9%" class="text-right">Total</th>
                                                                <th width="10%" class="text-right">Receipt</th>
                                                                <th width="11%">Status</th>
                                                                <th width="6%"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody ng-if="test2[$index]">
                                                            <tr ng-repeat="item in expense.expenses" ng-if="item.expenseType==cat">
                                                                <td width="2%">
                                                                    <input type="checkbox" ng-model="item.checked" />
                                                                </td>
                                                                <!--<td width="11%"></td>-->
                                                                <td width="12%" class="text-left">
                                                                    <div ng-hide="item.edit">{{item.expenseDetail.name}}</div>
                                                                    <div ng-if="item.edit">
                                                                        <select ng-if="item.expenseType=='Transport'" class="form-control ng-pristine ng-valid" ng-model="cloned[$parent.$parent.$parent.$parent.$parent.$parent.$index].expenses[$parent.$parent.$index].expenseDetail.name" ng-options="type.description as type.description for type in transportTypes"></select>
                                                                        <select ng-if="item.expenseType=='Subsistence'" class="form-control ng-pristine ng-valid" ng-model="cloned[$parent.$parent.$parent.$parent.$parent.$parent.$index].expenses[$parent.$parent.$index].expenseDetail.name" ng-options="type.name as type.name for type in mealTypes"></select>
                                                                        <select ng-if="item.expenseType=='Other'" class="form-control ng-pristine ng-valid" ng-model="cloned[$parent.$parent.$parent.$parent.$parent.$parent.$index].expenses[$parent.$parent.$index].expenseDetail.name" ng-options="type.name as type.name for type in otherTypes"></select>
                                                                    </div>
                                                                </td>
                                                                <td width="12%" class="text-left">
                                                                    <div ng-hide="item.edit">{{item.date | date : "EEE dd/MM/yyyy"}}</div>
                                                                    <div width="12%" ng-if="item.edit">
                                                                        <!--<div class="input-group" name="birthDate" ng-model="cloned[$parent.$parent.$parent.$parent.$parent.$index].expenses[$parent.$index].date" orig-datepicker />-->
                                                                        <select class="form-control ng-pristine ng-valid" ng-model="cloned[$parent.$parent.$parent.$parent.$parent.$parent.$index].expenses[$parent.$parent.$index].date" ng-options="date | date:'EEE dd/MM/yyyy' for date in item.validDates"></select>
                                                                    </div>
                                                                </td>

                                                                <td width="10%">
                                                                    <div ng-hide="item.edit">{{item.amount}}</div>
                                                                    <div ng-if="item.edit">
                                                                        <input style="width: 5em" type="number" placeholder="amount" ng-model="cloned[$parent.$parent.$parent.$parent.$parent.$index].expenses[$parent.$index].amount" />
                                                                    </div>
                                                                </td>

                                                                <td width="9%">
                                                                    <div>{{item.value | currency:"&pound;"}}</div>
                                                                    <!--<div ng-if="item.edit">
                                                                        <input style="width: 5em" type="number" placeholder="amount" ng-model="cloned[$parent.$parent.$parent.$parent.$parent.$index].expenses[$parent.$index].amount" />
                                                                    </div>-->
                                                                </td>
                                                                <td width="10%">{{item.expenseDetail.vat? item.expenseDetail.vat:0 | currency:"&pound;"}}</td>
                                                                <td width="10%">{{item.expenseDetail.total | currency:"&pound;"}}</td>

                                                                <td width="6%">
                                                                    <div ng-if="item.status == 'submitted' || item.status == 'approved'">
                                                                        <div class="dropdown">
                                                                            <a style="cursor:pointer" ng-click="test3[$index] =!test3[$index]" data-toggle="dropdown">
                                                                                <i class="fa fa-picture-o present"></i>
                                                                            </a>
                                                                            <ul ng-if="test3[$index]" class="dropdown-menu dropdown-menu-leftBottomBubble tInner-dropdown text-left" role="menu">
                                                                                <li>
                                                                                    <a style="cursor:pointer">View</a>
                                                                                </li>
                                                                                <li>
                                                                                    <a style="cursor:pointer">Add</a>
                                                                                </li>
                                                                                <li>
                                                                                    <a style="cursor:pointer">Delete</a>
                                                                                </li>
                                                                                <!--<li>
                                                                                    <a style="cursor:pointer">Print</a>
                                                                                </li>-->
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div ng-if="item.status != 'submitted' && item.status != 'approved'">
                                                                        <div class="dropdown">
                                                                            <a style="cursor:pointer" ng-click="test3[$index] =!test3[$index]" data-toggle="dropdown">
                                                                                <i class="fa fa-picture-o absent"></i>
                                                                            </a>
                                                                            <ul ng-if="test3[$index]" class="dropdown-menu dropdown-menu-leftBottomBubble tInner-dropdown text-left" role="menu">
                                                                                <li>
                                                                                    <a style="cursor:pointer">View</a>
                                                                                </li>
                                                                                <li>
                                                                                    <a style="cursor:pointer">Add</a>
                                                                                </li>
                                                                                <li>
                                                                                    <a style="cursor:pointer">Delete</a>
                                                                                </li>
                                                                                <!--<li>
                                                                                    <a style="cursor:pointer">Print</a>
                                                                                </li>-->
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td width="12%" style="text-transform: capitalize">
                                                                    <div ng-hide="item.edit">{{item.status}}</div>
                                                                    <div width="10%" ng-if="item.edit">
                                                                        <select class="form-control ng-pristine ng-valid" ng-model="cloned[$parent.$parent.$parent.$parent.$parent.$index].expenses[$parent.$index].status" ng-options="type.value as type.value for type in expenseStatus"></select>
                                                                    </div>
                                                                </td>
                                                                <td width="8%" class="text-center">
                                                                    <a ng-if="item.edit" style="cursor:pointer" ng-click="item.edit=false; finishEditing($parent.$parent.$parent.$parent.$parent.$index, item._id, false)"><i class="fa fa-times"></i></a>
                                                                    <a ng-if="item.edit" style="cursor:pointer" ng-click="item.edit=false; finishEditing($parent.$parent.$parent.$parent.$parent.$index, item._id, true)"><i class="fa fa-check"></i></a>
                                                                    <a ng-hide="item.edit" style="cursor:pointer" ng-click="item.edit = true"><i class="fa fa-pencil-square-o"></i></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        <!--<tr>
                                                            <td colspan="11" class="buttons-row" ng-if="expensesArray[$parent.$index].editFlags[$index]">
                                                                <button class="btn btn-primary" ng-click="finishEditing($parent.$index, $index, true)">Save</button>
                                                                <button class="btn btn-default" ng-click="finishEditing($parent.$index, $index, false)">Cancel</button>
                                                            </td>
                                                        </tr>-->
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <!--category detailed info-->
                                    </tbody>
                                </table>
                                <!--expense details table-->
                            </div>
                        </td>
                    </tr>
                    <!--big table detailed row-->
                </tbody>
                <!--First table body-->
            </table>
            <!--Big table-->
        </div>
    </div>
</div>
