<div class="container">

    <div class="runPayroll-body">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <!--Big table-->
                    <thead>
                        <!--First green row-->
                        <tr>
                            <th></th>
                            <th>Category</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Value</th>
                            <th>Amount</th>
                            <th>VAT</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th>
                                <div class="dropdown text-left">
                                    <a style="cursor:pointer" data-toggle="dropdown">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-leftBottomBubble tOuter-dropdown" role="menu">
                                        <li>
                                            <a style="cursor:pointer">Approve</a>
                                        </li>
                                        <li>
                                            <a style="cursor:pointer">Reject</a>
                                        </li>
                                        <li>
                                            <a style="cursor:pointer">Select All</a>
                                        </li>
                                        <li>
                                            <a style="cursor:pointer">Inverse Selection</a>
                                        </li>
                                        <li>
                                            <a style="cursor:pointer">Edit</a>
                                        </li>
                                        <li>
                                            <a style="cursor:pointer">Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead> <!--First green row-->
                    <tbody>
                        <!--First table body-->
                        <tr ng-repeat-start="user in users">
                            <!--big table basic row-->
                            <td>
                                <a data-toggle="collapse" data-target="{{'#accordion'+$index}}" class="clickable"><i class="fa fa-minus-square-o"></i></a>
                            </td>
                            <td>Category</td>
                            <td>Type</td>
                            <td>dd/mm/yyyy</td>
                            <td>0</td>
                            <td>£00.00</td>
                            <td>£00.00</td>
                            <td>£00.00</td>
                            <td>[Status]</td>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td></td>
                            <td></td>
                        </tr> <!--big table basic row-->
                        <tr ng-repeat-end>
                            <!--big table detailed row-->
                            <td colspan="12" class="td-collapsed">
                                <div id="{{'accordion'+$index}}" class="collapse">
                                    <table class="table table-striped table-container">
                                        <!--user details table-->
                                        <thead>
                                            <tr>
                                                <th>
                                                    <i class="fa fa-level-down"></i>
                                                </th>
                                                <th>Category</th>
                                                <th>Type</th>
                                                <th class="colspan-4">Date</th>
                                                <th>Value</th>
                                                <th>Amount</th>
                                                <th>VAT</th>
                                                <th>Total</th>
                                                <th class="text-center">Receipt</th>
                                                <th>Status</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--category-->
                                            <tr ng-repeat-start="cat in categories">
                                                <!--category basic info-->
                                                <td>
                                                    <a data-toggle="collapse" data-target="{{'#accordion'+ $parent.$index + 'inner'+ $index}}" class="clickable"><i class="fa fa-minus-square-o"></i></a>
                                                </td>
                                                <td>{{cat}}</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <button class="btn btn-primary">Save</button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-default">Cancel</button>
                                                </td>
                                                <td>
                                                    <a style="cursor:pointer">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <div class="dropdown text-left">
                                                        <a style="cursor:pointer" data-toggle="dropdown">
                                                            <i class="fa fa-bars"></i>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-leftBottomBubble" role="menu">
                                                            <li>
                                                                <a style="cursor:pointer">Approve Claim</a>
                                                            </li>
                                                            <li>
                                                                <a style="cursor:pointer">Reject Claim</a>
                                                            </li>
                                                            <li>
                                                                <a style="cursor:pointer">Select All</a>
                                                            </li>
                                                            <li>
                                                                <a style="cursor:pointer">Inverse Selection</a>
                                                            </li>
                                                            <li ng-click="editSelected({'user':user,'cat':cat})">
                                                                <a style="cursor:pointer">Edit</a>
                                                            </li>
                                                            <li>
                                                                <a style="cursor:pointer">Delete</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr> <!--category basic info-->
                                            <tr ng-repeat-end> <!--category detailed info-->
                                                <td colspan="12" class="td-collapsed">
                                                    <div id="{{'accordion'+ $parent.$index + 'inner'+ $index}}" class="collapse">
                                                        <table class="table table-striped">
                                                            <tr ng-repeat="item in data | filter:cat">
                                                                <td>
                                                                    <input type="checkbox" ng-model="checked[user][cat][$index]"/>
                                                                </td>
                                                                <td></td>
                                                                <td>{{item.type}}</td>
                                                                <td>{{item.date}}</td>
                                                                <td>&pound;{{item.value}}</td>
                                                                <td>&pound;{{item.amount}}</td>
                                                                <td>&pound;{{item.vat}}</td>
                                                                <td>&pound;{{item.total}}</td>
                                                                <td ng-if="item.status== 'Submitted'">
                                                                    <div class="dropdown">
                                                                        <a style="cursor:pointer" data-toggle="dropdown">
                                                                            <i class="fa fa-picture-o present"></i>
                                                                        </a>
                                                                        <ul class="dropdown-menu dropdown-menu-leftBottomBubble tInner-dropdown text-left" role="menu">
                                                                            <li>
                                                                                <a style="cursor:pointer">View</a>
                                                                            </li>
                                                                            <li>
                                                                                <a style="cursor:pointer">Add</a>
                                                                            </li>
                                                                            <li>
                                                                                <a style="cursor:pointer">Delete</a>
                                                                            </li>
                                                                            <li>
                                                                                <a style="cursor:pointer">Print</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                                <td ng-if="item.status== 'Unsubmitted'">
                                                                    <div class="dropdown">
                                                                        <a style="cursor:pointer" data-toggle="dropdown">
                                                                            <i class="fa fa-picture-o absent"></i>
                                                                        </a>
                                                                        <ul class="dropdown-menu dropdown-menu-leftBottomBubble tInner-dropdown text-left" role="menu">
                                                                            <li>
                                                                                <a style="cursor:pointer">View</a>
                                                                            </li>
                                                                            <li>
                                                                                <a style="cursor:pointer">Add</a>
                                                                            </li>
                                                                            <li>
                                                                                <a style="cursor:pointer">Delete</a>
                                                                            </li>
                                                                            <li>
                                                                                <a style="cursor:pointer">Print</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                                <td>{{item.status}}</td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr><!--category detailed info-->
                                        </tbody>
                                    </table> <!--user details table-->
                                </div>
                            </td>
                        </tr> <!--big table detailed row-->
                    </tbody> <!--First table body-->
                </table> <!--Big table-->
            </div>
        </div>
    </div>
</div>
