<div class="modal-header">
    <h3 class="modal-title">Rejections Summary</h3>
</div>
<form novalidate name="form">
    <div class="modal-body">
        <table class="table table-striped" style="margin-bottom: 0;">
            <thead>
                <tr>
                    <th>Claim ID</th>
                    <th>Category</th>
                    <th>Type</th>
                    <th>Total</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody ng-repeat="item in items">
                <tr>
                    <td>{{claimInfo[$index].claimRef}}</td>
                    <td>{{item.expenseType}}</td>
                    <td>{{item.expenseDetail.name}}</td>
                    <td>{{item.expenseDetail.total | currency:"&pound;"}}</td>
                    <td>
                        <select class="form-control" ng-model="reasons[$index]" required>
                            <option value="" disabled selected style="display: none;">--Reason to Reject--</option>
                            <option value="No Receipt">No Receipt</option>
                            <option value="Receipt not valid">Receipt not valid</option>
                            <option value="Not Wholly Necessary">Not Wholly Necessary</option>
                            <option value="Other">Other (Please Specify)</option>
                        </select>
                    </td>
                </tr>
                <tr ng-if="reasons[$index]=='Other'">
                    <td colspan="5">

                        <div class="form-group col-xs-8 col-xs-offset-2">
                            <span type="text">
                                <input required class="form-control" placeholder="Reason to Reject"
                                       ng-model="otherReason[$index]" />
                            </span>
                        </div>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ok()">
            Send Notifications
        </button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>