<div class="col-xs-12">
    <div class="wrapper-tabs">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success pull-right" style="margin-right: 3px;" ng-click="openModal('paymentRates')">Add New Payment Rate</button>
               
			   <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Hours</th>
                        <th>Import Aliases</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <span ng-show="paymentRates.rateType">
                        <tr ng-repeat="payrate in paymentRates">
                            <td>{{ payrate.name }}</td>
                            <td>{{ payrate.rateType }}</td>
                            <td>{{ payrate.hours }}</td>
                            <td>{{ payrate.importAliases.join(',') }}</td>
                            <td>
                                <a href="" ng-click="openModal('paymentRates', $index)" class="pull-right">
                                            <i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                    </span>

                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- /wrapper-tabs -->
</div><!-- /container -->