<div class="modal-window" ng-controller="CandidateSidebarAddExp1Controller">
    <div class="modal-header">
        <h3 class="modal-title">Welcome to the Originem online expenses claim system</h3>
    </div>
    <div class="modal-body">
        <p>Please select one of the following three options to proceed:</p>
        <div class="add-exp-btn-cont">
            <button class="btn btn-primary" ng-click="gotoNext()">Expenses wizard</button>
            <button class="btn btn-primary" ng-click="gotoManual()">Manual Expenses</button>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>