<div class="candidate-modal" ng-controller="CandidateSidebarAddExp1Controller">
	<div class="modal-header">
		<h3 class="modal-title">Welcome to the Originem online expenses claim system. </h3>
	</div>
	<div class="modal-body">
		<p>Please select one of the following three options to proceed:</p>		
		<ul class="button-container-center">
			<li class="text-center"><button class="btn btn-primary btn-136" ng-click="gotoNext()">Expenses wizard</button></li>
			<li class="text-center"><button class="btn btn-primary btn-136">Manual Expenses</button></li>	
		</ul>	
	</div>
</div>