<div class="candidate-modal">
	<div class="modal-header">
		<h3 class="modal-title">Expenses Wizard - Match Uploaded receipts</h3>
	</div>
	<div class="modal-body">
		<p>Please confirm you are claiming for the following:</p>
		<div class="checkbox-item">
			<label>
				<input type="checkbox" checked> Monday - Date
			</label>
		</div>	
		<div class="checkbox-item">
			<label>
				<input type="checkbox" checked> Tuesday - Date
			</label>
		</div>		
		<div class="checkbox-item">
			<label>
				<input type="checkbox" checked> Wednesday - Date
			</label>
		</div>
		<div class="checkbox-item">
			<label>
				<input type="checkbox" checked> Thursday -Date
			</label>
		</div>
		<div class="checkbox-item">
			<label>
				<input type="checkbox" checked> Friday -Date
			</label>
		</div>
		
		<div class="button-container-center">
			<p>Please click on the expenses below to match the receipts to the new claims</p>
			<fieldset>
				<legend>Previously Uploaded</legend>
				<div class="table-scroll">
					<table class="table">
						<thead>
							<tr> 
								<th></th>
								<th>Date <a href="#"><i class="fa fa-caret-down"></i></a></th>
								<th>Claim ID <a href="#"><i class="fa fa-caret-down"></i></a></th>
								<th>Expenses Type <a href="#"><i class="fa fa-caret-down"></i></a></th>
								<th>Approved <a href="#"><i class="fa fa-caret-down"></i></a></th>
								<th>Receipt <a href="#"><i class="fa fa-caret-down"></i></a></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input type="checkbox"></td>
								<td>01/01/1970</td>
								<td>100001</td>
								<td>Mileage</td>
								<td>Approved</td>
								<td>
									<div class="text-center">
										<a href="#"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;			
									</div>
								</td>	
							</tr>
							<tr>
								<td><input type="checkbox"></td>
								<td>01/01/1970</td>
								<td>100001</td>
								<td>Mileage</td>
								<td>Approved</td>
								<td>
									<div class="text-center">
										<a href="#"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;			
									</div>
								</td>	
							</tr>
							<tr>
								<td><input type="checkbox"></td>
								<td>01/01/1970</td>
								<td>100001</td>
								<td>Mileage</td>
								<td>Approved</td>
								<td>
									<div class="text-center">
										<a href="#"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;			
									</div>
								</td>	
							</tr>
							<tr>
								<td><input type="checkbox"></td>
								<td>01/01/1970</td>
								<td>100001</td>
								<td>Mileage</td>
								<td>Approved</td>
								<td>
									<div class="text-center">
										<a href="#"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;			
									</div>
								</td>	
							</tr>
							<tr>
								<td><input type="checkbox"></td>
								<td>01/01/1970</td>
								<td>100001</td>
								<td>Mileage</td>
								<td>Approved</td>
								<td>
									<div class="text-center">
										<a href="#"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;			
									</div>
								</td>	
							</tr>
						</tbody>
					</table>
				</div>	
			</fieldset>	
		</div>
	</div>
	<div class="modal-footer">
		<a class="padding-10 pointer" ng-click="back()">Back</a>
		<button class="btn btn-primary" ng-click="ok()">NEXT</button>
	</div>
</div>