<div class="candidate-modal">
	<div class="modal-header">
		<h3 class="modal-title">Expenses Wizard - Date Confirmation</h3>
	</div>
	<div class="modal-body">
		<p>Please enter the distance or cost for travel for your working day</p>
		<form class="form-horizontal" role="form">
			<div class="row">
				<div class="col-sm-9">
					<div class="row">
						<div class="col-sm-5">
							<div class="checkbox-item">
								<label>
									<input type="checkbox"> Monday - Date
								</label>
							</div>	
						</div>
						<div class="col-sm-4 col-xs-6 form-group">
							<ui-select ng-model="data.priority" theme="select2" search-enabled="false">
								<ui-select-match placeholder="Select">{{data.priority.description}}</ui-select-match>
								<ui-select-choices repeat="item in priorities | filter: $select.search">{{item.description}}</ui-select-choices>
							</ui-select>
						</div>	
						<div class="col-sm-3 col-xs-6 form-group">
							<input type="text" class="form-control">
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-5">
							<div class="checkbox-item">
								<label>
									<input type="checkbox"> Tuesday - Date
								</label>
							</div>	
						</div>
						<div class="col-sm-4 col-xs-6 form-group">
							<ui-select ng-model="data.priority" theme="select2" search-enabled="false">
								<ui-select-match placeholder="Select">{{data.priority.description}}</ui-select-match>
								<ui-select-choices repeat="item in priorities | filter: $select.search">{{item.description}}</ui-select-choices>
							</ui-select>
						</div>	
						<div class="col-sm-3 col-xs-6 form-group">
							<input type="text" class="form-control">
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-5">
							<div class="checkbox-item">
								<label>
									<input type="checkbox"> Wednesday - Date
								</label>
							</div>	
						</div>
						<div class="col-sm-4 col-xs-6 form-group">
							<ui-select ng-model="data.priority" theme="select2" search-enabled="false">
								<ui-select-match placeholder="Select">{{data.priority.description}}</ui-select-match>
								<ui-select-choices repeat="item in priorities | filter: $select.search">{{item.description}}</ui-select-choices>
							</ui-select>
						</div>	
						<div class="col-sm-3 col-xs-6 form-group">
							<input type="text" class="form-control">
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-5">
							<div class="checkbox-item">
								<label>
									<input type="checkbox"> Thursday - Date
								</label>
							</div>	
						</div>
						<div class="col-sm-4 col-xs-6 form-group">
							<ui-select ng-model="data.priority" theme="select2" search-enabled="false">
								<ui-select-match placeholder="Select">{{data.priority.description}}</ui-select-match>
								<ui-select-choices repeat="item in priorities | filter: $select.search">{{item.description}}</ui-select-choices>
							</ui-select>
						</div>	
						<div class="col-sm-3 col-xs-6 form-group">
							<input type="text" class="form-control">
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-5">
							<div class="checkbox-item">
								<label>
									<input type="checkbox"> Friday - Date
								</label>
							</div>	
						</div>
						<div class="col-sm-4 col-xs-6 form-group">
							<ui-select ng-model="data.priority" theme="select2" search-enabled="false">
								<ui-select-match placeholder="Select">{{data.priority.description}}</ui-select-match>
								<ui-select-choices repeat="item in priorities | filter: $select.search">{{item.description}}</ui-select-choices>
							</ui-select>
						</div>	
						<div class="col-sm-3 col-xs-6 form-group">
							<input type="text" class="form-control">
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-5"></div>
						<div class="form-group">
							<label class="col-sm-4 col-xs-6 control-label">Total</label>
							<div class="col-sm-3 col-xs-6">
								<input type="text" class="form-control">
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-sm-3">
					<button class="btn btn-primary fomr-group">Apply to all days</button>
				</div>
			</div>
		</form>	
	</div>
	<div class="modal-footer">
		<a class="padding-10 pointer" ng-click="back()">Back</a>
		<button class="btn btn-primary" ng-click="ok()">NEXT</button>
	</div>
</div>