<div class="candidate-modal" ng-controller="CandidateSidebarAddExp9Controller">
  <div class="modal-header modal-headerExpenses">
    <h4 class="modal-title" id="myModalLabel">Expenses #7 | Receipt</h4>
    <small>Document other expenses.</small>
  </div><!-- /modal-header -->

  <div class="modal-body">
    This UI is not ready yet.
  </div><!-- /modal-body -->

  <div class="modal-footer">
    <a class="btn pull-left" ng-click="gotoPrevious()"><i class="fa fa-chevron-left"></i></a>
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="gotoNext()">Next</button>
  </div><!-- /modal footer -->
</div>