<div class="candidate-modal">
	<div class="modal-header">
		<h3 class="modal-title">Expenses Wizard - Upload receipts</h3>
	</div>
	<div class="modal-body">
		<p>Please confirm you are claiming for the following:</p>
		<form class="form-horizontal" role="form">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-3"></div>
						<div class="col-sm-3 col-xs-4 form-group">Subsistence</div>	
						<div class="col-sm-3 col-xs-4 form-group">Travel</div>
						<div class="col-sm-3 col-xs-4 form-group">Other</div>
					</div>
					
					<div class="row">
						<div class="col-sm-3">
							<div class="checkbox-item">
								<label>
									<input type="checkbox" checked> Mon dd/mm/yyyy 
								</label>
							</div>	
						</div>
						<div class="col-sm-3 col-xs-4 form-group">
							<input class="inputUploadFile" ng-model="uploadedFile0" placeholder="Choose File" disabled="disabled" />
							<div class="fileUpload btn btn-primary">
								<span>Upload</span>
								<input type="file" class="upload" fileread="uploadedFile0" />
							</div>
						</div>							
						<div class="col-sm-3 col-xs-4 form-group">
							<input class="inputUploadFile" ng-model="uploadedFile1" placeholder="Choose File" disabled="disabled" />
							<div class="fileUpload btn btn-primary">
								<span>Upload</span>
								<input type="file" class="upload" fileread="uploadedFile1" />
							</div>
						</div>
						<div class="col-sm-3 col-xs-4 form-group">
							<input class="inputUploadFile" ng-model="uploadedFile2" placeholder="Choose File" disabled="disabled" />
							<div class="fileUpload btn btn-primary">
								<span>Upload</span>
								<input type="file" class="upload" fileread="uploadedFile2" />
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-3">
							<div class="checkbox-item">
								<label>
									<input type="checkbox" checked> Tue dd/mm/yyyy
								</label>
							</div>	
						</div>
						<div class="col-sm-3 col-xs-4 form-group">
							<input class="inputUploadFile" ng-model="uploadedFile3" placeholder="Choose File" disabled="disabled" />
							<div class="fileUpload btn btn-primary">
								<span>Upload</span>
								<input type="file" class="upload" fileread="uploadedFile3" />
							</div>
						</div>							
						<div class="col-sm-3 col-xs-4 form-group">
						    <input class="inputUploadFile" ng-model="uploadedFile4" placeholder="Choose File" disabled="disabled" />
							<div class="fileUpload btn btn-primary">
								<span>Upload</span>
								<input type="file" class="upload" fileread="uploadedFile4" />
							</div>
						</div>
						<div class="col-sm-3 col-xs-4 form-group">
							<input class="inputUploadFile" ng-model="uploadedFile5" placeholder="Choose File" disabled="disabled" />
							<div class="fileUpload btn btn-primary">
								<span>Upload</span>
								<input type="file" class="upload" fileread="uploadedFile5" />
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-3">
							<div class="checkbox-item">
								<label>
									<input type="checkbox" checked> Wed dd/mm/yyyy
								</label>
							</div>	
						</div>
						<div class="col-sm-3 col-xs-4 form-group">
							<input class="inputUploadFile" ng-model="uploadedFile6" placeholder="Choose File" disabled="disabled" />
							<div class="fileUpload btn btn-primary">
								<span>Upload</span>
								<input type="file" class="upload" fileread="uploadedFile6" />
							</div>
						</div>							
						<div class="col-sm-3 col-xs-4 form-group">
							<input class="inputUploadFile" ng-model="uploadedFile7" placeholder="Choose File" disabled="disabled" />
							<div class="fileUpload btn btn-primary">
								<span>Upload</span>
								<input type="file" class="upload" fileread="uploadedFile7" />
							</div>
						</div>
						<div class="col-sm-3 col-xs-4 form-group">
							<input class="inputUploadFile" ng-model="uploadedFile8" placeholder="Choose File" disabled="disabled" />
							<div class="fileUpload btn btn-primary">
								<span>Upload</span>
								<input type="file" class="upload" fileread="uploadedFile8" />
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-3">
							<div class="checkbox-item">
								<label>
									<input type="checkbox" checked> Thu dd/mm/yyyy
								</label>
							</div>	
						</div>
						<div class="col-sm-3 col-xs-4 form-group">
							<input class="inputUploadFile" ng-model="uploadedFile9" placeholder="Choose File" disabled="disabled" />
							<div class="fileUpload btn btn-primary">
								<span>Upload</span>
								<input type="file" class="upload" fileread="uploadedFile9" />
							</div>
						</div>							
						<div class="col-sm-3 col-xs-4 form-group">
							<input class="inputUploadFile" ng-model="uploadedFile10" placeholder="Choose File" disabled="disabled" />
							<div class="fileUpload btn btn-primary">
								<span>Upload</span>
								<input type="file" class="upload" fileread="uploadedFile10" />
							</div>
						</div>
						<div class="col-sm-3 col-xs-4 form-group">
							<input class="inputUploadFile" ng-model="uploadedFile11" placeholder="Choose File" disabled="disabled" />
							<div class="fileUpload btn btn-primary">
								<span>Upload</span>
								<input type="file" class="upload" fileread="uploadedFile11" />
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-3">
							<div class="checkbox-item">
								<label>
									<input type="checkbox" checked> Fri dd/mm/yyyy
								</label>
							</div>	
						</div>
						<div class="col-sm-3 col-xs-4 form-group">
							<input class="inputUploadFile" ng-model="uploadedFile12" placeholder="Choose File" disabled="disabled" />
							<div class="fileUpload btn btn-primary">
								<span>Upload</span>
								<input type="file" class="upload" fileread="uploadedFile12" />
							</div>
						</div>							
						<div class="col-sm-3 col-xs-4 form-group">
							<input class="inputUploadFile" ng-model="uploadedFile13" placeholder="Choose File" disabled="disabled" />
							<div class="fileUpload btn btn-primary">
								<span>Upload</span>
								<input type="file" class="upload" fileread="uploadedFile13" />
							</div>
						</div>
						<div class="col-sm-3 col-xs-4 form-group">
							<input class="inputUploadFile" ng-model="uploadedFile14" placeholder="Choose File" disabled="disabled" />
							<div class="fileUpload btn btn-primary">
								<span>Upload</span>
								<input type="file" class="upload" fileread="uploadedFile14" />
							</div>
						</div>
					</div>	
					
					<div class="button-container-center">
						<p>I have a receipt for all week</p>
							
						<div class="row">
							<div class="col-sm-3 col-xs-6 form-group">
								<div class="checkbox-item">
									<label>
										<input type="checkbox"> Subsistence
									</label>
								</div>	
							</div>
							<div class="col-sm-3 col-xs-6 form-group">
								<input class="inputUploadFile" ng-model="uploadedFile15" placeholder="Choose File" disabled="disabled" />
								<div class="fileUpload btn btn-primary">
									<span>Upload</span>
									<input type="file" class="upload" fileread="uploadedFile15" />
								</div>
							</div>	
						</div>
							
						<div class="row">
							<div class="col-sm-3 col-xs-6 form-group">
								<div class="checkbox-item">
									<label>
										<input type="checkbox"> Travel
									</label>
								</div>	
							</div>
							<div class="col-sm-3 col-xs-6 form-group">
								<input class="inputUploadFile" ng-model="uploadedFile16" placeholder="Choose File" disabled="disabled" />
								<div class="fileUpload btn btn-primary">
									<span>Upload</span>
									<input type="file" class="upload" fileread="uploadedFile16" />
								</div>
							</div>	
						</div>
							
						<div class="row">
							<div class="col-sm-3 col-xs-6 form-group">
								<div class="checkbox-item">
									<label>
										<input type="checkbox"> Other
									</label>
								</div>	
							</div>
							<div class="col-sm-3 col-xs-6 form-group">
								<input class="inputUploadFile" ng-model="uploadedFile17" placeholder="Choose File" disabled="disabled" />
								<div class="fileUpload btn btn-primary">
									<span>Upload</span>
									<input type="file" class="upload" fileread="uploadedFile17" />
								</div>
							</div>	
						</div>
					</div>	
				</div>
			</div>
		</form>		
	</div>
	<div class="modal-footer">
		<a class="padding-10 pointer" ng-click="back()">Back</a>
		<button class="btn btn-primary" ng-click="ok()">NEXT</button>
	</div>
</div>
