<div class="candidate-modal">
	<div class="modal-body">
		<p>You have selected the online wizard <br />
		You can now select to add multiple days or an individual claim <br />	
		Please select one of the following:</p>
		<ul class="button-container-center">
			<li class="text-center"><button class="btn btn-primary" ng-click="ok()">Single</button></li>
			<li class="text-center"><button class="btn btn-primary" ng-click="ok()">Multiple</button></li>
		</ul>
	</div>
	<div class="modal-footer">
		<a class="padding-10 pointer" ng-click="back()">Back</a>
		<button class="btn btn-primary" ng-click="ok()">NEXT</button>
	</div>
</div>