<div class="candidate-modal" ng-controller="CandidateSidebarAddExp9Controller">
  <div ng-include="'views/candidate/_add_exp_9_main.html'" ng-show="whichShow=='main'"></div>
  <div ng-include="'views/candidate/_add_exp_9_confirm_match.html'" ng-show="whichShow=='confirm_match'"></div>
  <div ng-include="'views/candidate/_add_exp_9_prev_uploaded.html'" ng-show="whichShow=='prev_uploaded'"></div>
  <div ng-include="'views/candidate/_add_exp_9_confirmed.html'" ng-show="whichShow=='confirmed'"></div> 
</div>