<div class="candidate-modal">
	<div class="modal-header">
		<h3 class="modal-title">Expenses Wizard - Expenses Voucher</h3>
	</div>
	<div class="modal-body">
		<p>Please confirm you are claiming for the following:</p>
		<form class="form-horizontal" role="form">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-4"></div>
						<div class="col-sm-2 col-xs-4 form-group">Subsitance</div>	
						<div class="col-sm-2 col-xs-4 form-group">Travel</div>
						<div class="col-sm-2 col-xs-4 form-group">Other</div>
					</div>
					
					<div class="row">
						<div class="col-sm-4">
							<div class="checkbox-item">
								<label>
									<input type="checkbox"> Monday - Date
								</label>
							</div>	
						</div>
						<div class="col-sm-2 col-xs-4 form-group">
							<input type="text" class="form-control">
						</div>	
						<div class="col-sm-2 col-xs-4 form-group">
							<input type="text" class="form-control">
						</div>
						<div class="col-sm-2 col-xs-4 form-group">
							<input type="text" class="form-control">
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-4">
							<div class="checkbox-item">
								<label>
									<input type="checkbox"> Tuesday - Date
								</label>
							</div>	
						</div>
						<div class="col-sm-2 col-xs-4 form-group">
							<input type="text" class="form-control">
						</div>	
						<div class="col-sm-2 col-xs-4 form-group">
							<input type="text" class="form-control">
						</div>
						<div class="col-sm-2 col-xs-4 form-group">
							<input type="text" class="form-control">
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-4">
							<div class="checkbox-item">
								<label>
									<input type="checkbox"> Wednesday - Date
								</label>
							</div>	
						</div>
						<div class="col-sm-2 col-xs-4 form-group">
							<input type="text" class="form-control">
						</div>	
						<div class="col-sm-2 col-xs-4 form-group">
							<input type="text" class="form-control">
						</div>
						<div class="col-sm-2 col-xs-4 form-group">
							<input type="text" class="form-control">
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-4">
							<div class="checkbox-item">
								<label>
									<input type="checkbox"> Thursday - Date
								</label>
							</div>	
						</div>
						<div class="col-sm-2 col-xs-4 form-group">
							<input type="text" class="form-control">
						</div>	
						<div class="col-sm-2 col-xs-4 form-group">
							<input type="text" class="form-control">
						</div>
						<div class="col-sm-2 col-xs-4 form-group">
							<input type="text" class="form-control">
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-4">
							<div class="checkbox-item">
								<label>
									<input type="checkbox"> Friday - Date
								</label>
							</div>	
						</div>
						<div class="col-sm-2 col-xs-4 form-group">
							<input type="text" class="form-control">
						</div>	
						<div class="col-sm-2 col-xs-4 form-group">
							<input type="text" class="form-control">
						</div>
						<div class="col-sm-2 col-xs-4 form-group">
							<input type="text" class="form-control">
						</div>
					</div>
					
					<div class="row">
						<div class="form-group">
							<label class="col-sm-4 control-label">Total</label>
							<div class="col-sm-2">
								<input type="text" class="form-control">
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="button-container-center"><p>Please confirm the above claims are wholly necessarily and exclusively incurred in the performance of your duties.</p></div>
					<div class="form-group">
						<label class="col-sm-12 control-label">
							<input type="checkbox"> Agree to T's and C's
						</label>
					</div>
				</div>
			</div>
		</form>		
	</div>
	<div class="modal-footer">
		<a class="padding-10 pointer" ng-click="back()">Back</a>
		<button class="btn btn-primary" ng-click="ok()">NEXT</button>
	</div>
</div>