<div class="candidate-modal" ng-controller="CandidatengTagsInputController">
	<div class="modal-header">
		<h3 class="modal-title">Expenses Wizard - Location Information</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" role="form">
			<div class="row">
				<div class="col-sm-9">
					<div class="row">
						<div class="col-sm-4">
							<div class="checkbox-item">
								<label>
									<input type="checkbox" checked> Monday - Date
								</label>
							</div>	
						</div>
						<div class="col-sm-5 col-xs-7 form-group">
							<tags-input class="orig-tags-input" ng-model="tagsMonday"></tags-input>
						</div>
							
						<div class="col-sm-3 col-xs-5 form-group">
							<div class="checkbox-item">
								<label>
									<input type="checkbox"> Round-trip
								</label>
							</div>	
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-4">
							<div class="checkbox-item">
								<label>
									<input type="checkbox" checked> Tuesday - Date
								</label>
							</div>	
						</div>
						<div class="col-sm-5 col-xs-7 form-group">
							<tags-input class="orig-tags-input" ng-model="tagsTuesday"></tags-input>
						</div>	
						<div class="col-sm-3 col-xs-5 form-group">
							<div class="checkbox-item">
								<label>
									<input type="checkbox"> Round-trip
								</label>
							</div>	
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-4">
							<div class="checkbox-item">
								<label>
									<input type="checkbox" checked> Wednesday - Date
								</label>
							</div>	
						</div>
						<div class="col-sm-5 col-xs-7 form-group">
							<tags-input class="orig-tags-input" ng-model="tagsWednesday"></tags-input>
						</div>	
						<div class="col-sm-3 col-xs-5 form-group">
							<div class="checkbox-item">
								<label>
									<input type="checkbox"> Round-trip
								</label>
							</div>	
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-4">
							<div class="checkbox-item">
								<label>
									<input type="checkbox" checked> Thursday - Date
								</label>
							</div>	
						</div>
						<div class="col-sm-5 col-xs-7 form-group">
							<tags-input class="orig-tags-input" ng-model="tagsThursday"></tags-input>
						</div>	
						<div class="col-sm-3 col-xs-5 form-group">
							<div class="checkbox-item">
								<label>
									<input type="checkbox"> Round-trip
								</label>
							</div>	
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-4">
							<div class="checkbox-item">
								<label>
									<input type="checkbox" checked> Friday - Date
								</label>
							</div>	
						</div>
						<div class="col-sm-5 col-xs-7 form-group">
							<tags-input class="orig-tags-input" ng-model="tagsFriday"></tags-input>
						</div>	
						<div class="col-sm-3 col-xs-5 form-group">
							<div class="checkbox-item">
								<label>
									<input type="checkbox"> Round-trip
								</label>
							</div>	
						</div>
					</div>
				</div>	
				
				<div class="col-xs-5 col-sm-3 form-group">
					<button class="btn btn-primary form-control">Apply to all days</button>
				</div>
			</div>
		</form>	
	</div>
	<div class="modal-footer">
		<a class="padding-10 pointer" ng-click="back()">Back</a>
		<button class="btn btn-primary" ng-click="ok()">NEXT</button>
	</div>
</div>