<span ng-click="closeConfirmed()" class="pointer">
    <div class="modal-header modal-headerExpenses">
        <h4 class="modal-title" id="myModalLabel">Thank You</h4>
    </div><!-- /modal-header -->

    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <p>Receipts matched to expenses.</p>
                <p>Please repeat process for any further receipt or voucher submittals.</p>

            </div>
        </div>
    </div><!-- /modal-body -->
    <div class="modal-footer">
         <p class="text-center">Click or tap anywhere to return to Receipts main window.</p>
    </div><!-- /modal footer -->
</span>