<div class="candidate-meta meta-box container-fluid">
    <div class='meta-box-inner row'>
        <div class="col-lg-9">
            <!--<div class="msg-box alert-danger hidden-sm hidden-xs">
                <span class='fa fa-exclamation-circle'></span>
                <span class='message'>Bank Details Required</span>
                <span class='pointer fa fa-times-circle-o pull-right'></span>
            </div>
            <div class="msg-box alert-warning hidden-sm hidden-xs">
                <span class='fa fa-exclamation-triangle'></span>
                <span class='message'>Email Address Required</span>
                <span class='pointer fa fa-times-circle-o pull-right'></span>
            </div>-->
            <div class='alpha hidden-md hidden-sm hidden-xs'>
                <p class='candidate-name'>{{candidate.firstName}} {{candidate.lastName}}</p>
                <p class='candidate-ref'>Ref: {{candidate.candidateRef}}</p>
            </div>
            
        </div>
        <div class="col-lg-3">
            <label style="color:green">Candidate Status</label>
            <select class='form-control' ng-model = "candidate.status" ng-options="status.value as status.value for status in candidateStatus" ng-change = "editCandidateStatus()">
            </select>
            <button ng-click="editCandidateStatus()" class="btn btn-success">Save</button>

        </div>
        <div class='pie-chat col-lg-3 hidden-md hidden-sm hidden-xs'></div>
        <div class="col-md-12 hidden-lg">
            <div class='alpha col-md-12 hidden-lg'>
                <div class="pull-left">
                    <p class='candidate-name'>{{candidate.firstName}} {{candidate.lastName}}</p>
                    <p class='candidate-ref'>Ref: {{candidate.candidateRef}}</p>    
                </div>
                
                <div class='beta pull-right'>
                    <span>80%</span>
                    <span>onboard</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="candidate-meta-sm row container-fluid hidden-lg hidden-md">
    <div class="msg-box alert-danger">
        <span class='fa fa-exclamation-circle'></span>
        <span class='message'>Bank Details Required</span>
        <span class='pointer fa fa-times-circle-o pull-right'></span>
    </div>
    <div class="msg-box alert-warning">
        <span class='fa fa-exclamation-triangle'></span>
        <span class='message'>Email Address Required</span>
        <span class='pointer fa fa-times-circle-o pull-right'></span>
    </div>
</div>