<div class="row">
  <div class="col-xs-12">
    <p class="entry-title">Calculation Settings</p>    
  </div>
</div>
<form name="productForm" novalidate>
  <div class="row">
    <div class="col-xs-12 nonepadding">
      <div class="col-sm-3 col-xs-6 form-group">Agency</div>
      <div class="col-sm-3 col-xs-6 form-group">
        <ui-select ng-model="product.agency" theme="select2" search-enabled="false">
          <ui-select-match>{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="item._id as item in agencies">{{item.name}}</ui-select-choices>
        </ui-select>
      </div>
      <div class="col-sm-3 col-xs-6 form-group">Holiday Pay Rule</div>
      <div class="col-sm-3 col-xs-6 form-group">
        <ui-select ng-model="product.holidayPayRule" theme="select2" search-enabled="false">
          <ui-select-match>{{$select.selected.description}}</ui-select-match>
          <ui-select-choices repeat="item.code as item in holidayPayRules">{{item.description}}</ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="col-xs-12 nonepadding">
      <div class="col-sm-3 col-xs-6 form-group">Margin</div>
      <div class="col-sm-3 col-xs-6 form-group">
        <ui-select ng-model="product.margin" theme="select2" search-enabled="false">
          <ui-select-match>{{$select.selected.description}}</ui-select-match>
          <ui-select-choices repeat="item.code as item in margins">{{item.description}}</ui-select-choices>
        </ui-select>
      </div>
      <div class="col-sm-3 col-xs-6 form-group">Derogation Contract</div>
      <div class="col-sm-3 col-xs-6 form-group">
        <ui-select ng-model="product.derogationContract" theme="select2" search-enabled="false">
          <ui-select-match>{{$select.selected.description}}</ui-select-match>
          <ui-select-choices repeat="item.code as item in derogationContracts">{{item.description}}</ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="col-xs-12 nonepadding">
      <div class="col-sm-3 col-xs-6 form-group">Margin Fixed</div>
      <div class="col-sm-3 col-xs-6 form-group">
        <div class="input-group">
          <div class="input-group-addon">&#163;</div>
          <input class="form-control" type="text" ng-model="product.marginFixed">
        </div>
      </div>
      <div class="col-sm-3 col-xs-6 form-group">Derogation Spread</div>
      <div class="col-sm-3 col-xs-6 form-group">
        <input class="form-control" type="text" placeholder="" ng-model="product.derogationSpread">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="entry-title">Contract Type</p>    
    </div>
    <div class="col-sm-6 col-xs-12 nonepadding">
      <div class="col-xs-6 form-group">Service Used</div>
      <div class="col-xs-6 form-group">
        <ui-select ng-model="product.serviceUsed" theme="select2" search-enabled="false">
          <ui-select-match>{{$select.selected.description}}</ui-select-match>
          <ui-select-choices repeat="item.code as item in serviceUsed">{{item.description}}</ui-select-choices>
        </ui-select>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-6 form-group">Payment Terms</div>
      <div class="col-xs-6 form-group">
        <ui-select ng-model="product.paymentTerms" theme="select2" search-enabled="false">
          <ui-select-match>{{$select.selected.description}}</ui-select-match>
          <ui-select-choices repeat="item.code as item in paymentTerms">{{item.description}}</ui-select-choices>
        </ui-select>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-6 form-group">Payment Method</div>
      <div class="col-xs-6 form-group">
        <ui-select ng-model="product.paymentMethod" name="title" theme="select2" search-enabled="false">
          <ui-select-match>{{$select.selected.description}}</ui-select-match>
          <ui-select-choices repeat="item.code as item in paymentMethods">{{item.description}}</ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 nonepadding">
      <div class="col-xs-6 form-group">Agency Ref</div>
      <div class="col-xs-6 form-group">
        <input class="form-control" type="text" placeholder="" ng-model="product.agencyRef">
      </div>
      <div class="col-xs-6 form-group">Job Description</div>
      <div class="col-xs-6 form-group">
        <input class="form-control" type="text" placeholder="" ng-model="product.jobDescription">
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-6 form-group">
        <button class="btn btn-success form-control pull-left" ng-click="saveProduct()" ng-disabled="productForm.$invalid || isSaving">
          <div ng-show="!isSaving && product._id">Save <i class="fa fa-save"></i></div>
          <div ng-show="!isSaving && !product._id">Add <i class="fa fa-plus"></i></div>
          <div ng-show="isSaving">Saving... <i class="fa fa-spinner fa-spin"></i></div>
        </button>
      </div>
      <div class="col-xs-6 form-group">
        <button class="btn btn-danger form-control" ng-click="cancelEdit()">Cancel<i class="fa fa-remove"></i></button>
      </div>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-xs-12">
    <p class="entry-title">Current Services</p>
  </div>
  <div class="clearfix"></div>
  <div class="agencies_wrapper col-xs-12">
    <div class="meta-box-content">
      <div orig-grid="gridOptions" external-scope="$scope"></div>
    </div>
  </div>
</div>