<div class="row">
    <div class="col-xs-4">Current Product</div>
    <div class="col-xs-8">Umbrella</div>
</div>
<div class="row">
    <div class="col-xs-4">Current Product</div>
    <div class="col-xs-8">Umbrella</div>
</div>
<div class="row">
    <div class="col-xs-4">Current Product</div>
    <div class="col-xs-8">Umbrella</div>
</div>
<div class="row">
    <div class="col-xs-4">Current Product</div>
    <div class="col-xs-8">Umbrella</div>
</div>

<table class="table history nonepadding padding-10">
    <thead>
        <tr>
            <th class="text-center"><a href="#"><i class="fa fa-sort"></i> Date</a>
            </th>
            <th><a href="#"><i class="fa fa-sort"></i> Activity</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">22/05/14</td>
            <td>
                Address Change
                <div class="action_wrapper pull-right">
                    <a href="#"><i class="fa fa-eye"></i></a>
                    <a href="#"><i class="fa fa-backward"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-center">20/05/14</td>
            <td>
                Change of Bank Account No.
                <div class="action_wrapper pull-right">
                    <a href="#"><i class="fa fa-eye"></i></a>
                    <a href="#"><i class="fa fa-backward"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-center">20/05/14</td>
            <td>
                Change of Bank Account No.
                <div class="action_wrapper pull-right">
                    <a href="#"><i class="fa fa-eye"></i></a>
                    <a href="#"><i class="fa fa-backward"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-center">20/05/14</td>
            <td>
                Change of Bank Account No.
                <div class="action_wrapper pull-right">
                    <a href="#"><i class="fa fa-eye"></i></a>
                    <a href="#"><i class="fa fa-backward"></i></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>