<div class="row">
    <div class="col-xs-12">
        <div style="margin-bottom:40px">
          <button href="javascript:void(0);" ng-click="openAddPayrollProductModal()"  class="btn btn-success pull-right"><i class="fa fa-plus"></i>Add New Product</button>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="agencies_wrapper col-xs-12">
        <div class="meta-box-content">
            <div orig-grid="gridOptions" external-scope="$scope"></div>
        </div>
    </div>
</div>
