<div class="sidebar-menu-inner" ng-controller="CandidateSidebarController">
    <div ng-if="!permissions.rightToolBar.hide" class="search-wrapper">
        <div class="form-group nonepadding">
            <ui-select ng-model="title" name="title" theme="select2" ng-disabled="disabled" search-enabled="false" ng-init="titleary = [{key: 1, value: 1}, {key: 2, value: 2}]" required>
                <ui-select-match placeholder="Select Agency">{{title.value}}</ui-select-match>
                <ui-select-choices repeat="item in titleary | filter: $select.search">
                    <span ng-bind-html="item.value"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="company-logo">
        <img src="http://placehold.it/300x150" class="user-photo" alt="Company logo" />
    </div>

    <div class="main-menu">
        <ul id='left-menu' class='main-menu'>
            <li ng-if="!permissions.rightToolBar.DPA.hide"><a class="orig-button" href="" ng-click="openDPAWin()"><i
                    class="fa fa-question-circle sky-brand"></i><span class="title">DPA
                Questions </span></a>
            </li>

            <li ng-if="!permissions.rightToolBar.onboarding.hide"><a class="orig-button" href="" ng-click="openOnboardingWin()"><i class="fa fa-thumbs-o-up sky-brand"></i><span class="title">On Boarding</span></a>
            </li>

            <li ng-if="!permissions.rightToolBar.calculator.hide"><a class="orig-button" href="" ng-click="openSalaryCalculatorWin()"><i class="fa fa-calculator sky-brand"></i><span class="title">Salary Calculator</span></a>
            </li>

            <li ng-if="!permissions.rightToolBar.callLog.hide"><a class="orig-button" href="" ng-click="openCreateTaskWin({activityType: 'callLog'})"><i class="fa fa-phone warning-brand"></i><span class="title"><span><i class="fa fa-plus-square-o"></i></span><span ng-if="!permissions.rightToolBar.callLog.newName">Add Call Log </span> <span ng-if="permissions.rightToolBar.callLog.newName">{{permissions.rightToolBar.callLog.newName}}</span ></span><!-- <span>ss{{permissions.rightToolBar.callLog}}</span> --></a>
            </li>

            <li ng-if="!permissions.rightToolBar.addExpesesWizard.hide || !permissions.rightToolBar.addExpesesManually.hide">
                <a class="orig-button" href="" ng-click="openAddExpensesWin()"><i class="fa fa-gbp warning-brand"></i><span class="title"><i class="fa fa-plus-square-o"></i>Add Expenses</span></a>

            </li>

            <li ng-if="!permissions.rightToolBar.timesheet.hide">
                <a class="orig-button" href="" ng-click="openAddTimesheetWin()"><i class="fa fa-table warning-brand"></i><span class="title"><i class="fa fa-plus-square-o"></i>Add Timesheet</span></a>
            </li>

            <li ng-if="!permissions.rightToolBar.activity.hides"><a class="orig-button" href="" ng-click="openAddActivityWin()"><i class="fa fa-clock-o warning-brand"></i><span class="title"><i class="fa fa-plus-square-o"></i>Add Activity</span></a>
            </li>

            <!--<li><a href="" ng-click="openAOEWin()"><i class="fa fa-cubes warning-brand"></i><span class="title"><i class="fa fa-plus-square-o"></i>AOE</span></a>-->
            <!--</li>-->

            <div ng-if="!permissions.rightToolBar.actionRequest.hide">
                <li>
                    <a class="orig-button" href="" ng-click="toggle()"><i
                            class="fa fa-scissors btn-success"></i><span class="title">Action Request
                    </span></a>
                </li>
            </div>

            <li collapse="isActionRequestCollapsed" style="height: 0;">
                <a class="orig-button" href="" ng-click="openSsp()"><i
                    class="fa fa-medkit  btn-success"></i><span class="title"><i class="fa fa-plus-square-o"></i>SSP</span></a>
            </li>
            
            <li collapse="isActionRequestCollapsed" style="height: 0;">
                <a class="orig-button" href="" ng-click="openMp()"><i
                    class="fa fa-female btn-success"></i><span class="title"><i
                        class="fa fa-plus-square-o"></i>SMP</span></a>
            </li>

            <li collapse="isActionRequestCollapsed" style="height: 0;">
                <a class="orig-button" href="" ng-click="openSpp()"><i
                    class="fa fa-male btn-success"></i><span class="title"><i
                        class="fa fa-plus-square-o"></i>SPP</span></a>
            </li>

            <li collapse="isActionRequestCollapsed" style="height: 0;">
                <a class="orig-button" href="" ng-click="openHolidayPayment()"><i
                        class="fa fa-plane  btn-success"></i><span class="title"><i
                    class="fa fa-plus-square-o"></i>Holiday Payment</span></a>
            </li>

            <li collapse="isActionRequestCollapsed" style="height: 0;"><a class="orig-button" href="" ng-click="openSl()"><i class="fa fa-credit-card  btn-success"></i><span
                    class="title"><i
                class="fa fa-plus-square-o"></i>SL</span></a>
            </li>

            <li ng-if="!permissions.rightToolBar.agencies.hide"><a class="orig-button" href="" ng-click="openCreateTaskWin({activityType: 'task'})"><i class="fa fa-group green-brand"></i><span class="title"><i class="fa fa-plus-square-o"></i>AGENCIES</span></a>
            </li>
        </ul>
    </div>
</div>