<div class="sidebar-menu-inner" ng-controller="CandidateSidebarController">

    <div ng-if="!permissions.rightToolBar.hide" class="search-wrapper">
        <div class="form-group nonepadding">
            <ui-select ng-model="title" name="title" theme="select2" ng-disabled="disabled" search-enabled="false" ng-init="titleary = [{key: 1, value: 1}, {key: 2, value: 2}]" required>
                <ui-select-match placeholder="Select Agency">{{title.value}}</ui-select-match>
                <ui-select-choices repeat="item in titleary | filter: $select.search">
                    <span ng-bind-html="item.value"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="company-logo">
        <img src="http://placehold.it/300x150" class="user-photo" alt="image" />
    </div>

    <div class="main-menu">
        <ul id='left-menu' class='main-menu'>
            <li ng-if="!permissions.rightToolBar.DPA.hide"><a href="" ng-click="openDPAWin()"><i class="fa fa-question-circle sky-brand"></i><span class="title">DPA</span></a>
            </li >
            <li ng-if="!permissions.rightToolBar.onboarding.hide"><a href="" ng-click="openOnboardingWin()"><i class="fa fa-thumbs-o-up sky-brand"></i><span class="title">ONBOARDING</span></a>
            </li>
            <li ng-if="!permissions.rightToolBar.calculator.hide"><a href="" ng-click="openSalaryCalculatorWin()"><i class="fa fa-calculator sky-brand"></i><span class="title">CALCULATOR</span></a>
            </li>
            <li ng-if="!permissions.rightToolBar.callLog.hide"><a href="" ng-click="openCreateTaskWin({activityType: 'callLog'})"><i class="fa fa-phone warning-brand"></i><span class="title"><span><i class="fa fa-plus-square-o"></i></span><span ng-if="!permissions.rightToolBar.callLog.newName"> Call Log </span> <span ng-if="permissions.rightToolBar.callLog.newName">{{permissions.rightToolBar.callLog.newName}}</span ></span><!-- <span>ss{{permissions.rightToolBar.callLog}}</span> --></a>
            </li>
            <li ng-if="!permissions.rightToolBar.addExpesesWizard.hide || !permissions.rightToolBar.addExpesesManually.hide"><a href="" ng-click="openAddExpensesWin()"><i class="fa fa-gbp warning-brand"></i><span class="title"><i class="fa fa-plus-square-o"></i>EXPENSES</span></a>
            </li>
            <li  ng-if="!permissions.rightToolBar.timesheet.hide"><a href="" ng-click="openAddTimesheetWin()"><i class="fa fa-table warning-brand"></i><span class="title"><i class="fa fa-plus-square-o"></i>TIMESHEET</span></a>
            </li>
            <li ng-if="!permissions.rightToolBar.activity.hides"><a href="" ng-click="openAddActivityWin()"><i class="fa fa-clock-o warning-brand"></i><span class="title"><i class="fa fa-plus-square-o"></i>Activity</span></a>
            </li>
            <!-- <li><a href="" ng-click="openAOEWin()"><i class="fa fa-cubes warning-brand"></i><span class="title"><i class="fa fa-plus-square-o"></i>AOE</span></a>
            </li> -->

            <li ng-if="!permissions.rightToolBar.agencies.hide"><a href="" ng-click="openCreateTaskWin({activityType: 'task'})"><i class="fa fa-group green-brand"></i><span class="title"><i class="fa fa-plus-square-o"></i>AGENCIES</span></a>
            </li>
             <li><a href="" ng-if="!permissions.rightToolBar.ssp.hide" ng-click="openSsp()"><i class="fa fa-group green-brand"></i><span class="title"><i class="fa fa-plus-square-o"></i>SSP</span></a>
            </li>
            <li><a href="" ng-if="!permissions.rightToolBar.mp.hide" ng-click="openMp()"><i class="fa fa-group green-brand"></i><span class="title"><i class="fa fa-plus-square-o"></i>MP</span></a>
            </li>
            <li><a href="" ng-click="openSpp()"><i class="fa fa-group green-brand"></i><span class="title"><i class="fa fa-plus-square-o"></i>SPP</span></a>
            </li>
            <li><a href="" ng-click="openHolidayPayment()"><i class="fa fa-group green-brand"></i><span class="title"><i
                    class="fa fa-plus-square-o"></i>Holiday Payment</span></a>
            </li>

        </ul>
    </div>
