<div class="table-view-layout">
    <div class="table-view-main-content">
        <div ng-include="'views/candidate/_meta.html'"></div>
        <div class="table-view meta-box container-fluid tv-item-main">
            <div class="row hidden-lg hidden-md hidden-sm">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="tab.isMenuCollapsed = !tab.isMenuCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand visible-xs">{{tab.caption}}</span>
                </div>
            </div>
            <section class="tabs-wrapper row">
                <ul class="nav nav-tabs candidate-tabs collapse navbar-collapse" collapse="tab.isMenuCollapsed">
                    <li ng-if="!(permissions.taps.Home.hide)" ng-class="{active: isTabActive('home')}">
                        <a ui-sref="app.candidate.home({candidateId: candidateId })">Home</a>
                    </li>
                    <li ng-if="!(permissions.taps.Contact.hide)" ng-class="{active: isTabActive('contact')}">
                        <a ui-sref="app.candidate.contact({candidateId: candidateId })">Contact</a>
                    </li>
                    <li ng-if="!(permissions.taps.Payroll.hide)" ng-class="{active: isTabActive('payroll')}">
                        <a ui-sref="app.candidate.payroll({candidateId: candidateId })">Payroll</a>
                    </li>
                    <li ng-if="!(permissions.taps.Payslips.hide)" ng-class="{active: isTabActive('payslips')}">
                        <a ui-sref="app.candidate.payslips({candidateId: candidateId })">Payslips</a>
                    </li>
                    <li ng-if="!(permissions.taps.Agencies.hide)" ng-class="{active: isTabActive('agencies')}">
                        <a ui-sref="app.candidate.agencies({candidateId: candidateId })">Agencies</a>
                    </li>
                    <li ng-if="!(permissions.taps.Compliance.hide)" ng-class="{active: isTabActive('compliance')}">
                        <a ui-sref="app.candidate.compliance({candidateId: candidateId })">Compliance</a>
                    </li>
                    <li ng-if="!(permissions.taps.History.hide)" ng-class="{active: isTabActive('history')}">
                        <a ui-sref="app.candidate.history({candidateId: candidateId })">History</a>
                    </li>
                </ul>
                <div class="tab-content col-xs-12">
                    <div ui-view>
                        <i>No internet connection</i>
                    </div>
                </div>
            </section>
        </div>

    </div>

    <div class="sidemenu right-sidebar">
        <div ng-include="'views/candidate/_rightmenu.html'"></div>
    </div>
</div>