
      <div class="modal-content modal-content-560">

        <div class="modal-header">
                    <h4 class="modal-title">Request for Maternity Pay</h4>
        </div><!-- /modal-header -->

         <form name="mpForm" novalidate ng-submit="submitInformation(mpForm.$valid)">
        <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 form-group control-label">Candidate name:</div>
                        <div class="col-xs-6 col-sm-3 form-group control-label no-padding-left">{{contactdetail.firstName}}</div>
                        <div class="col-xs-6 col-sm-3 form-group control-label">Candidate ID</div>
                        <div class="col-xs-6 col-sm-2 form-group control-label no-padding-left">{{contactdetail.candidateNo}}</div>
                    </div>
                    <div class="line-horizontal"></div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 form-group control-label">Start date</div>
                        <div class="col-xs-6 col-sm-2 form-group control-label no-padding-left">

                           <input ng-model="mp.startDate" name="start" type="text" orig-datepicker class="form-control" required/>
                           <span ng-if="mpForm.start.$invalid && submitted">
                             <p ng-if="mpForm.start.$error.required">Please enter start date/informed date.</p>
                           </span>

                        </div>
                        <div class="col-xs-6 col-sm-3 form-group control-label">Baby due date</div>
                        <div class="col-xs-6 col-sm-4 form-group no-padding-left">
                            <div class="input-group date" id="datepickerDate">
                                 <input type="text" name="due" ng-model="mp.babyDueDate" orig-datepicker class="form-control" required/>
                                 <span ng-if="mpForm.due.$invalid && submitted">
                                 <p ng-if="mpForm.due.$error.required">Please enter baby due date.</p>
                                 </span>

                             </div>
                        </div>
                    </div>

                    <div class="line-horizontal"></div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 control-label">Intended start date</div>
                        <div class="col-xs-6 col-sm-4 form-group no-padding-left">
                            <div class="input-group date" id="datepickerStartDate">
                                 <input type="text" name="intend" ng-model="mp.intendedStartDate" class="form-control" orig-datepicker required/>
                                 <span ng-if="mpForm.intend.$invalid && submitted">
                                   <p ng-if="mpForm.intend.$error.required">Please enter intended start date.</p>
                                 </span>

                             </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 form-group text-right">
                            <button type="button" class="btn btn-primary" ng-click="checkDateMp()">Calculate</button>
                        </div>
                    </div>
                     <div class="row" ng-if="!validateDate">
                     {{errorMsg}}
                    </div>
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-striped table-maternityPay">
                <thead>
                  <tr>
                                        <th>Week No.</th>
                    <th>Paid</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <tr ng-repeat="s in mp.days">

                    <td ng-if="s.monthNumber >0">
                                            Month Number:{{s.monthNumber}}
                                           </td>
                                           <td ng-if="s.monthNumber <=0 || !s.monthNumber">
                                             Week Number:{{s.weekNumber}}
                                           </td>
                     <td ng-init="indexCount=$index;$indexCount=true;"><p ng-if='$indexCount'>{{s.amount | number : 2}}</p>

                          <input type="number"  ng-model="s.amount" ng-if='!$indexCount'><a ng-click='$indexCount=true' ng-show='!$indexCount'>Ok</a></td>
                      <td>
                      <a ng-click="$indexCount=false;" class="pull-right"><i class="fa fa-edit"></i></a>
                       <a ng-click='remove($index);'><i class="fa fa-trash"></i></a>
                    </td>


                  </tr>

                </tbody>
              </table>
            </div>
          </div>

        </div><!-- /modal-body -->

        <div class="modal-footer modal-footer-textLeft">
                    <div class="row rowFooter">
                        <div class="col-xs-6 col-sm-6">
                            <fieldset class="fieldsetSMP">
                                <legend>Upload certificate</legend>
                                  <div class="row" style="margin-top: 38px;">
                                        <div class="col-xs-5 col-sm-4">
                                            <div class="fileUpload btn btn-primary form-control">
                                                <span onclick="$('#upload_company_logo').click();">Browse</span>
                                                <input file-model="fileupload" type="file"
                                                       id="upload_company_logo" name="companyLogo" style="display: none;" />
                                            </div>
                                        </div>


                                        <div class="col-xs-5 col-sm-6 no-padding">
                                            <button type="button" class="btn btn-primary form-control img-details"
                                                ng-disabled="isLogoUploading" ng-click="uploadCompanyLogo()">
                                                <span ng-show="!isLogoUploading" >Upload New Image</span>
                                                <span ng-show="isLogoUploading" class="ng-hide">Uploading...</span>
                                            </button>
                                        </div>
                                    </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="col-xs-4 col-sm-3 label-control">Name</div>
                                            <div class="col-xs-8 col-sm-9 label-control file-details" id="uploadFile">{{temp.logoFileName}}</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="col-xs-4 col-sm-3 label-control">Size</div>
                                            <div class="col-xs-8 col-sm-9 label-control file-details" id="filesize">{{temp.logoSize}}</div>
                                        </div>
                                    </div>
                                </div>
              </fieldset>
                        </div>

                        <div class="col-xs-6 col-sm-6  text-right btnFooter">
                            <a ng-click="closeModal()" type="button" class="btn" data-dismiss="modal">Cancel</a>
                            <button type="submit" class="btn btn-primary">Send for approval</button>
                        </div>
                     </div>
                </div><!-- /modal footer -->
      </div>
    </form>
