<div class="modal-window">
    <div class="modal-header">
        <h3 class="modal-title">Edit default payroll</h3>
    </div>
    
    <div class="modal-body">
        <form class="form-horizontal" name="form" role="form" novalidate>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label>Product Type</label>
                            <label ng-if="status == 'Live'? true:false">*</label>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control" ng-model="data.productType" ng-options="item.code as item.description for item in serviceUsed" ng-required="status == 'Live'? true:false"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-9 col-sm-6">
                            <label>Margin Charged to agency</label>
                            <label ng-if="status == 'Live'? true:false">*</label>
                        </div>
                        <div class="col-xs-3 col-sm-6">
                            <!--<div class="make-switch">
                              <label class="switch_wrap pull-right" for="fieldMargin">
                                <input id="fieldMargin" type="checkbox" ng-model="data.marginChargedToAgency" />
                                <div class="switch"><span class="bullet"></span></div>
                              </label>
                            </div>-->
                            <select class="form-control" ng-options="item.code as item.value for item in options" ng-model="data.marginChargedToAgency" ng-required="status == 'Live'? true:false"></select>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <div class="col-sm-6">
                            <label>Margin Type</label>
                            <label ng-if="status == 'Live'? true:false">*</label>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control" ng-model="data.marginType" ng-options="item.code as item.description for item in marginTypes" ng-required="status == 'Live'? true:false"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label>Margin Amount</label>
                            <label ng-if="status == 'Live'? true:false">*</label>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon">&#163;</div>
                                <input class="form-control" type="number" ng-model="data.marginAmount" ng-required="status == 'Live'? true:false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label>Holiday Amount</label>
                            <label ng-if="status == 'Live'? true:false">*</label>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon">&percnt;</div>
                                <input class="form-control" type="number" ng-model="data.holidayAmount" ng-required="status == 'Live'? true:false" />
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()"><i class="fa fa-close"></i> &nbsp; Cancel</button>
        <button class="btn btn-primary" ng-click="ok()" ng-disabled="isSaving || form.$invalid">
            <span ng-show="!isSaving"><i class="fa fa-save"></i> &nbsp; Save </span>
            <span ng-show="isSaving"><i class="fa fa-spinner fa-spin"></i> &nbsp; Saving... </span>
        </button>
    </div>
</div>