<a class="pull-right pointer" ng-click="direction('back')" ui-sref="app.admin.home"><i class="fa fa-reply"></i>&nbsp; Back</a>
<br />

<div class="candidate-layout">
  <div class="candidate-center">
    <!-- <div ng-include="'views/candidate/_meta.html'"></div> -->

    <div class="candidate-main meta-box container-fluid">
      
      <section class="tabs-wrapper row">
        <ul class="nav nav-tabs candidate-tabs collapse navbar-collapse" collapse="tab.isMenuCollapsed">
          <li ng-class="{active: tab == 'contact'}">
            <a ng-click="tab = 'contact'" ui-sref="app.admin.company_profile.contact">Contact</a>
          </li>
          <li ng-class="{active: tab == 'accounts'}">
            <a ng-click="tab = 'accounts'" ui-sref="app.admin.company_profile.accounts">Accounts</a>
          </li>
          <li ng-class="{active: tab == 'bankDetails'}">
            <a ng-click="tab = 'bankDetails'" ui-sref="app.admin.company_profile.bank_details">Bank Details</a>
          </li>
          <li ng-class="{active: tab == 'defaults'}">
            <a ng-click="tab = 'defaults'" ui-sref="app.admin.company_profile.defaults">Defaults</a>
          </li>
          
        </ul>
        <div class="tab-content col-xs-12">
          <div ui-view></div>
          <br />
          <button class="btn btn-success" ng-click="save()"> Save </button>
        </div>
      </section>
    </div>

  </div>

</div>