<div class="row form-header">
    Congratulations
</div>
<div class="row form-body">
    <div class="col-md-12">
        <div class="from-title">
            Registration completed
        </div>        
        <span>        
        Your registration has been successful.<br/>
        You will received email from Originem<br/>
        Please check your email inbox and activate your accout.
        </span>
        <!--div class="form-group">
                This Is Your Account ID:
        </div>
        <div class="form-group col-md-6 nonepadding">
             <div class="well">
                 <span class="lead">{{firstName| lowercase | capitalize}} {{lastName| lowercase | capitalize}}</span><br/>
                 <span>{{emailAddress}}</span>
             </div>
         </div>
         <div class="clear">
         </div>
         <div class="form-group">
             You need to verify account with {{emailAddress}}.
         </div-->
    </div>    
</div>