<div ng-if="!(permissions.leftMenu.hide)" class="sidemenu left-sidebar">
  <div ng-include="'views/partials/left-menu.html'"></div>    
</div>
<div class="main-content">
  <div style="height:20px;" class="breadcrumb">
  <div  ng-if="!hideBreadcrumbs && !permissions.breadCrump.hide">
    <a ng-href="{{b.link}}" ng-repeat-start="b in breadcrumbs" ng-class="{active: $last}">{{ b.text}}</a>
    <span ng-repeat-end ng-hide="$last"></span>
  </div>
    <!--<a href="#">Home</a>
    <span></span>
    <a href="#">Candidates</a>
    <span></span>
    <a href="#">{candidateName}</a>
    <span></span>
    <a class="active">History</a>-->
  </div>
  <div ui-view></div>
</div>