<div class="sidemenu left-sidebar">
  <div ng-include="'views/partials/left-menu.html'"></div>    
</div>
<div class="main-content">
  <div class="breadcrumb">
    <a ng-href="{{b.link}}" ng-repeat-start="b in breadcrumbs" ng-class="{active: $last}">{{b.text}}</a>
    <span ng-repeat-end ng-hide="$last"></span>
    <!--<a href="#">Home</a>
    <span></span>
    <a href="#">Candidates</a>
    <span></span>
    <a href="#">{candidate_name}</a>
    <span></span>
    <a class="active">History</a>-->
  </div>
  <div ui-view></div>
</div>