<div class="candidate-modal">
    <div class="modal-header">
        <h3 class="modal-title">Edit Bank Details</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="form" role="form" novalidate>
            <div class="row">
                <div class="col-sm-12">
                   

                    <div class="form-group">
                        <label class="control-label col-xs-6">Bank Name <span>*</span></label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" ng-model="companyProfile.bankDetails.bankName" name="bankName" required />
                            <div ng-show="details.bankName.$invalid && submitted">
                                <p ng-show="details.bankName.$error.required">
                                    Please enter bank name.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-xs-6">Address 1 <span>*</span></label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" ng-model="companyProfile.bankDetails.address1" name="address1" required />
                            <div ng-show="details.address1.$invalid && submitted">
                                <p ng-show="details.address1.$error.required">
                                    Please enter address1.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-xs-6">Address 2</label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" ng-model="companyProfile.bankDetails.address2" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-xs-6">Town <span>*</span></label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" name="town" ng-model="companyProfile.bankDetails.town" required />
                            <div ng-show="details.town.$invalid && submitted">
                                <p ng-show="details.town.$error.required">
                                    Please enter town name.
                                </p>
                            </div>
                        </div>
                    </div>
              

                    <div class="form-group">
                        <label class="control-label col-xs-6">County</label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" ng-model="companyProfile.bankDetails.county" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-xs-6">Country</label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" ng-model="companyProfile.bankDetails.country" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-xs-6">Post Code <span>*</span></label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" ng-model="companyProfile.bankDetails.postcode" name="postcode" ng-pattern='/^([A-PR-UWYZ]([0-9]{1,2}|([A-HK-Y][0-9]|[A-HK-Y][0-9]([0-9]|[ABEHMNPRV-Y]))|[0-9][A-HJKS-UW])\ [0-9][ABD-HJLNP-UW-Z]{2}|(GIR\ 0AA)|(SAN\ TA1)|(BFPO\ (C\/O\ )?[0-9]{1,4})|((ASCN|BBND|[BFS]IQQ|PCRN|STHL|TDCU|TKCA)\ 1ZZ))$/' required />
                            <div ng-show="details.postcode.$invalid && (details.postcode.$dirty || submitted)">
                                <p ng-show="details.postcode.$error.pattern">
                                    Please enter valid postal code.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-xs-6">Account Name <span>*</span></label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" name="accountName" ng-model="companyProfile.bankDetails.accountName" required />
                            <div ng-show="details.accountName.$invalid && submitted">
                                <p ng-show="details.accountName.$error.required">
                                    Please enter bank account name.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-xs-6">Account Number <span>*</span></label>
                        <div class="col-xs-6">
                            <input type="number" class="form-control" name="accountNumber" ng-model="companyProfile.bankDetails.accountNo" ng-maxlength=8 />
                            <div ng-show="details.accountNumber.$invalid && submitted">

                                <p ng-show="details.accountNumber.$error.maxlength">Please enter not more than 8 digits.</p>
                                <p ng-show="!details.accountNumber.$error.required && !details.accountNumber.$error.maxlength">
                                    Please enter valid account number.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-xs-6">Sort Code <span>*</span></label>
                        <div class="col-xs-6">
                            <input type="number" name="sort" class="form-control" ng-model="companyProfile.bankDetails.sortCode" ng-maxlength=6 />
                            <div ng-show="details.sort.$invalid && submitted">
                                <p ng-show="details.sort.$error.maxlength">
                                    Please enter not more than 6 digits.
                                </p>
                                <p ng-show="!details.sort.$error.maxlength && !details.sort.$error.required">
                                    Please enter valid sort code.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-xs-6">Payroll Reference <span>*</span></label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" name="roll" ng-model="companyProfile.bankDetails.payrollRef" required />
                            <div ng-show="details.roll.$invalid && submitted">
                                <p ng-show="details.roll.$error.required">
                                    Please enter pay roll reference.
                                </p>
                            </div>
                        </div>
                    </div>                               
              
                    
                </div>
            </div>
        </form>
    </div>


    <div class="modal-footer"> 
        <button class="btn btn-primary" ng-click="saveBankDetails()" ng-disabled="isSaving || form.$invalid">
            <span ng-show="!isSaving"><i class="fa fa-save"></i> &nbsp; Save </span>
            <span ng-show="isSaving"><i class="fa fa-spinner fa-spin"></i> &nbsp; Saving... </span>
        </button>
        <button class="btn btn-warning" ng-click="closeProfileFunction()"><i class="fa fa-close"></i> &nbsp; Cancel</button>
    </div>

</div>