<div class="col-sm-6">
	<p class="entry-title">Accounts Details<a class="icon-edit pull-right" href="javascript:void(0);" href ng-click="openModal('_edit_accounts')"><i class="fa fa-edit"></i></a>
	</p>
	<ul class="entry-content">
		<li>Vat Number<span class="meta">{{companyProfile.accounts.vatNumber}}</span>
		</li>
		<li>Company Registration Number <span class="meta">{{companyProfile.accounts.companyRegNo}}</span>
		</li>
		<li>UTR Number <span class="meta">{{companyProfile.accounts.utrNumber}}</span>
		</li>
		<li>Tax District Number <span class="meta">{{companyProfile.accounts.taxDistrictNo}}</span>
		</li>
		<li>PAYE Reference <span class="meta">{{companyProfile.accounts.payeRef}}</span>
		</li>
		<li>Accounts Office Reference<span class="meta">{{companyProfile.accounts.accountsOfficeRef}}</span>
		</li>
	</ul>
</div>