<div class="col-sm-6">
    <p class="entry-title">Contact Details<a class="icon-edit pull-right" href="javascript:void(0);" href ng-click="openModal('_edit_bankDetails')"><i class="fa fa-edit"></i></a>
    </p>
    <div class="row entry-content">
            <div class="form-group">Bank Name<span class="meta">{{companyProfile.bankDetails.bankName}}</span>
            </div>
            <div class="form-group">Address 1 <span class="meta">{{companyProfile.bankDetails.address1}}</span>
            </div>
            <div class="form-group">Address 2 <span class="meta">{{companyProfile.bankDetails.address2}}</span>
            </div>
            <div class="form-group">Town <span class="meta">{{companyProfile.bankDetails.town}}</span>
            </div>
            <div class="form-group">County <span class="meta">{{companyProfile.bankDetails.county}}</span>
            </div>
            <div class="form-group">Country <span class="meta">{{companyProfile.bankDetails.country}}</span>
            </div>
            <div class="form-group">Post Code<span class="meta">{{companyProfile.bankDetails.postcode}}</span>
            </div>
            <div class="form-group">Account Name<span class="meta">{{companyProfile.bankDetails.accountName}}</span>
            </div>
            <div class="form-group">Account Number <span class="meta">{{companyProfile.bankDetails.accountNo}}</span>
            </div>
            <div class="form-group">Sort Code <span class="meta">{{companyProfile.bankDetails.sortCode}}</span>
            </div>
            <div class="form-group">Payroll Reference <span class="meta">{{companyProfile.bankDetails.payrollRef}}</span>
            </div>
    </div>
</div>