<div class="col-sm-6">
	<p class="entry-title">Contact Details<a class="icon-edit pull-right" href="javascript:void(0);" href ng-click="openModal('_edit_bankDetails')"><i class="fa fa-edit"></i></a>
	</p>
	<ul class="entry-content">
		<li>Bank Name<span class="meta">{{companyProfile.bankDetails.bankName}}</span> </li>
		<li>Address 1 <span class="meta">{{companyProfile.bankDetails.address1}}</span> </li>
		<li>Address 2 <span class="meta">{{companyProfile.bankDetails.address2}}</span> </li>
		<li>Town <span class="meta">{{companyProfile.bankDetails.town}}</span> </li>
		<li>County <span class="meta">{{companyProfile.bankDetails.county}}</span> </li>
		<li>Country <span class="meta">{{companyProfile.bankDetails.country}}</span> </li>
		<li>Post Code<span class="meta">{{companyProfile.bankDetails.postcode}}</span> </li>
		<li>Account Name<span class="meta">{{companyProfile.bankDetails.accountName}}</span> </li>
		<li>Account Number <span class="meta">{{companyProfile.bankDetails.accountNo}}</span> </li>
		<li>Sort Code <span class="meta">{{companyProfile.bankDetails.sortCode}}</span> </li>
		<li>Payroll Reference <span class="meta">{{companyProfile.bankDetails.payrollRef}}</span> </li>
	</ul>
</div>