<div class="col-sm-6">
	<p class="entry-title">Contact Details<a class="icon-edit pull-right" href="javascript:void(0);" href ng-click="openModal('_edit_contact')"><i class="fa fa-edit"></i></a>
	</p>
	<ul class="entry-content">
		<li>Company Name<span class="meta">{{companyProfile.contact.companyName}}</span>
		</li>
		<li>Address 1 <span class="meta">{{companyProfile.contact.address1}}</span>
		</li>
		<li>Address 2 <span class="meta">{{companyProfile.contact.address2}}</span>
		</li>
		<li>Town <span class="meta">{{companyProfile.contact.town}}</span>
		</li>
		<li>Country <span class="meta">{{companyProfile.contact.country}}</span>
		</li>
		<li>Post Code<span class="meta">{{companyProfile.contact.postcode}}</span>
		</li>
		<li>Tel<span class="meta">{{companyProfile.contact.telephone}}</span>
		</li>
		<li>Fax <span class="meta">{{companyProfile.contact.fax}}</span>
		</li>
		<li>Email
			<a ng-href="{{companyProfile.contact.email}}"><span class="meta-o">{{companyProfile.contact.email}}</span></a>
		</li>
	</ul>
</div>