<div class="col-md-6">
	<p class="entry-title">Contact Details<a class="icon-edit pull-right" href="javascript:void(0);" href ng-click="openCompanyProfileContact()"><i class="fa fa-edit"></i>edit</a></p>
</div>
<div class="col-md-12">
  <div class="row entry-content">
    <div class="col-sm-5 nonepadding">

      <div class="col-sm-12 form-group">Company Name<span class="meta-o">{{companyProfile.contact.companyName}}</span></div>

      <div class="col-sm-12 form-group">Address 1 <span class="meta-o">{{companyProfile.contact.address1}}</span></div>

      <div class="col-sm-12 form-group">Address 2 <span class="meta-o">{{companyProfile.contact.address2}}</span></div>

      <div class="col-sm-12 form-group">Town <span class="meta-o">{{companyProfile.contact.town}}</span></div>

      <div class="col-sm-12 form-group">Country <span class="meta-o">{{companyProfile.contact.country}}</span></div>

      <div class="col-sm-12 form-group">Post Code<span class="meta-o">{{companyProfile.contact.postcode}}</span></div>

      <div class="col-sm-12 form-group">Tel<span class="meta-o">{{companyProfile.contact.tel}}</span></div>

      <div class="col-sm-12 form-group">Fax <span class="meta-o">{{companyProfile.contact.fax}}</span></div>

      <div class="col-sm-12 form-group">Email 
      	<a ng-href="{{companyProfile.contact.email}}"><span class="meta">{{companyProfile.contact.email}}</span></a></div>

  </div>
</div>
</div>













