<div class="col-sm-6">
    <p class="entry-title">Contact Details<a class="icon-edit pull-right" href="javascript:void(0);" href ng-click="openCompanyProfileContact()"><i class="fa fa-edit"></i></a>
    </p>
    <div class="row entry-content">
            <div class="form-group">Company Name<span class="meta">{{companyProfile.contact.companyName}}</span>
            </div>
            <div class="form-group">Address 1 <span class="meta">{{companyProfile.contact.address1}}</span>
            </div>
            <div class="form-group">Address 2 <span class="meta">{{companyProfile.contact.address2}}</span>
            </div>
            <div class="form-group">Town <span class="meta">{{companyProfile.contact.town}}</span>
            </div>
            <div class="form-group">Country <span class="meta">{{companyProfile.contact.country}}</span>
            </div>
            <div class="form-group">Post Code<span class="meta">{{companyProfile.contact.postcode}}</span>
            </div>
            <div class="form-group">Tel<span class="meta">{{companyProfile.contact.tel}}</span>
            </div>
            <div class="form-group">Fax <span class="meta">{{companyProfile.contact.fax}}</span>
            </div>
            <div class="form-group">Email
                <a ng-href="{{companyProfile.contact.email}}"><span class="meta-o">{{companyProfile.contact.email}}</span></a>
            </div>
    </div>
</div>