<div class="">
    <div class="">
        <div class="col-xs-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Contractor ID</th>
                        <th>Contractor Name</th>
                        <th>Date Requested</th>
                        <th>Type</th>
                        <th>Period Actioned</th>
                        <th>User Requested</th>
                        <th>Request Ref.</th>
            <th>Status</th>
            <th></th>
                    </tr>

                </thead>

                <tbody>
                  <tr ng-repeat="l in lists">
                   <td>{{l.worker.candidateNo}}</td>
                   <td>{{l.worker.name | capitalizeAll}}</td>
                   <td>{{l.dateRequested | date:'MM/dd/yyyy'}}</td>
                   <td>{{l.type}}</td>
                   <td>{{l.periodActioned}}</td>
                   <td>{{l.createdBy.name  | capitalizeAll}}</td>
                   <td>{{l.requestRef}}</td>
                   <td>{{l.status | capitalize}}</td>
                   <td class="text-center">
                    <a href="javascript:void(0)" title="Edit" ng-click="callModal(l.id,l.type,l.createdBy);"> <i class="fa fa-folder-open-o"></i></a>
                   </td>

                  </tr>


        </tbody>
            </table>

        </div>
    </div>
</div><!-- /container -->
