<form nam="slFrom" novalidate ng-submit="submitAction(sl)">
<div class="modal-header">
    <h4 class="modal-title">Student Loan Request</h4>
</div><!-- /modal-header -->

<div class="modal-body">

    <div class="row">
        <div class="col-xs-6 col-sm-3 form-group">Candidate name</div>
        <div class="col-xs-6 col-sm-4 form-group no-padding-left text-right">{{candidateInfo.firstName}} {{candidateInfo.lastName}}</div>
        <div class="col-xs-6 col-sm-3 form-group">Candidate ID</div>
        <div class="col-xs-6 col-sm-2 form-group no-padding-left text-right">{{candidateInfo.candidateRef}}</div>
    </div>
    <div class="line-horizontal"></div>
        <table>
            <tbody>
                <tr>
                    <td>

                        <div class="alert alert-success" role="alert">
                            <div></div>
                                {{constantsLists[0].description}}
                       <!--     Have you left a course of UK higher education before last April and received your first UK Student Loan instalment on or after 1 September 1998 and not fully repaid your student loan?   -->
                        </div>
                    </td>
                    <td style="padding-left: 10px;">
                        <label class="switch_wrap" for="field">
                            <input id="field" type="checkbox" ng-model="sl.haveLoan" />
                                <div class="switch">
                                    <span class="bullet"></span>
                                </div>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="alert alert-success" role="alert">
                            {{constantsLists[1].description}}
                        </div>
                    </td>
                    <td style="padding-left: 10px;">
                        <label class="switch_wrap" for="field1">
                            <input id="field1" type="checkbox" ng-model="sl.payDirectly" />
                                <div class="switch">
                                    <span class="bullet"></span>
                                </div>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
</div><!-- /modal-body -->

    <div class="modal-footer">
        <a ng-click="closeModal()" type="button" class="btn" data-dismiss="modal">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
    </div><!-- /modal footer -->

</form>
