
				<div class="modal-header">
                    <h4 class="modal-title">Request Statutory Maternity Pay</h4>
				</div><!-- /modal-header -->

				<div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 form-group">Candidate name</div>
                        <div class="col-xs-6 col-sm-3 form-group no-padding-left text-right">Mark Gentry</div>
                        <div class="col-xs-6 col-sm-3 form-group">Candidate ID</div>
                        <div class="col-xs-6 col-sm-3 form-group no-padding-left text-right">900001</div>
                    </div>
                    <div class="line-horizontal"></div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 control-label">Start date</div>
                        <div class="col-xs-6 col-sm-3 form-group no-padding-left">
                             <div class="input-group date" id="datepickerStartDate">
                                 <input type="text" class="form-control">
                                 <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                             </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 control-label">Baby due date</div>
                        <div class="col-xs-6 col-sm-3 form-group  no-padding-left">
                            <div class="input-group date" id="datepickerDate">
                                 <input type="text" class="form-control">
                                 <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                             </div>
                        </div>
                    </div>
                    <div class="line-horizontal"></div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 control-label no-padding-right">Intended start date</div>
                        <div class="col-xs-6 col-sm-3 form-group no-padding-left">
                            <div class="input-group date" id="datepickerIndendedStartDate">
                                 <input type="text" class="form-control">
                                 <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                             </div>
                        </div>
                    </div>
					<div class="row">
						<div class="col-sm-12">
							<table class="table table-striped table-maternityPay">
								<thead>
									<tr>
                                        <th>Week No.</th>
										<th>Worked</th>
										<th>Paid</th>
										<th>Excluded</th>
										<th>Amount</th>
										<th>Total</th>
										<th>Notes</th>
										<th></th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<td>Week 1</td>
										<td>
											<input type="checkbox">
										</td>
										<td>
											<input type="checkbox">
										</td>
										<td>
											<input type="checkbox">
										</td>
										<td>£138.18</td>
										<td>£138.18</td>
										<td>Worked </td>
										<td>
											<a href="#" class="pull-right"><i class="fa fa-edit"></i></a>
										</td>
									</tr>
									<tr>
										<td>Week 2</td>
										<td>
											<input type="checkbox">
										</td>
										<td>
											<input type="checkbox">
										</td>
										<td>
											<input type="checkbox">
										</td>
										<td>£138.18</td>
										<td>£138.18</td>
										<td>Worked</td>
										<td>
											<a href="#" class="pull-right"><i class="fa fa-edit"></i></a>
										</td>
									</tr>
									<tr>
										<td>Week 3</td>
										<td>
											<input type="checkbox">
										</td>
										<td>
											<input type="checkbox">
										</td>
										<td>
											<input type="checkbox">
										</td>
										<td>£138.18</td>
										<td>£138.18</td>
										<td>Worked</td>
										<td>
											<a href="#" class="pull-right"><i class="fa fa-edit"></i></a>
										</td>
									</tr>
									<tr>
										<td>Week 4</td>
										<td>
											<input type="checkbox">
										</td>
										<td>
											<input type="checkbox">
										</td>
										<td>
											<input type="checkbox">
										</td>
										<td>£138.18</td>
										<td>£138.18</td>
										<td>Worked </td>
										<td>
											<a href="#" class="pull-right"><i class="fa fa-edit"></i></a>
										</td>
                                    </tr>
									<tr>
										<td>Week 5</td>
										<td>
											<input type="checkbox">
										</td>
										<td>
											<input type="checkbox">
										</td>
										<td>
											<input type="checkbox">
										</td>
										<td>£138.18</td>
										<td>£138.18</td>
										<td>Worked</td>
                                        <td>
											<a href="#" class="pull-right"><i class="fa fa-edit"></i></a>
										</td>
									</tr>
									<tr>
										<td>Week 6</td>
										<td>
											<input type="checkbox">
										</td>
										<td>
											<input type="checkbox">
										</td>
										<td>
											<input type="checkbox">
										</td>
										<td>£138.18</td>
										<td>£138.18</td>
										<td>Worked</td>
										<td>
                                            <a href="#" class="pull-right"><i class="fa fa-edit"></i></a>
										</td>
									</tr>
									<tr>
										<td>Week 7</td>
										<td>
											<input type="checkbox">
										</td>
										<td>
											<input type="checkbox">
										</td>
										<td>
											<input type="checkbox">
										</td>
										<td>£138.18</td>
										<td>£138.18</td>
										<td>Worked</td>
										<td>
                                            <a href="#" class="pull-right"><i class="fa fa-edit"></i></a>
										</td>
									</tr>
									<tr>
										<td>Week 8</td>
										<td>
											<input type="checkbox">
										</td>
										<td>
											<input type="checkbox">
										</td>
										<td>
											<input type="checkbox">
										</td>
										<td>£138.18</td>
										<td>£138.18</td>
										<td>Worked</td>
										<td>
                                            <a href="#" class="pull-right"><i class="fa fa-edit"></i></a>
										</td>
									</tr>
									<tr>
										<td>Week 9</td>
										<td>
											<input type="checkbox">
										</td>
										<td>
											<input type="checkbox">
										</td>
										<td>
											<input type="checkbox">
										</td>
										<td>£138.18</td>
										<td>£138.18</td>
										<td>Worked</td>
										<td>
                                            <a href="#" class="pull-right"><i class="fa fa-edit"></i></a>
										</td>
									</tr>
									<tr>
										<td>Week 10</td>
										<td>
											<input type="checkbox">
										</td>
										<td>
											<input type="checkbox">
										</td>
										<td>
											<input type="checkbox">
										</td>
										<td>£138.18</td>
										<td>£138.18</td>
										<td>Worked</td>
										<td>
                                            <a href="#" class="pull-right"><i class="fa fa-edit"></i></a>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
                    <div class="line-horizontal"></div>
                    <div class="row rowFooter">
                        <div class="col-xs-6 col-sm-5">
                           <fieldset class="fieldsetSMP">
                                <legend>Upload certificate</legend>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 form-group">
                                       <div class="fileUpload btn btn-primary form-control">
                                            <span>Browse</span>
                                            <input id="uploadBtn" type="file" class="upload">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 form-group">
                                        <button type="button" class="btn btn-primary form-control">Upload</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="col-xs-12 label-control">
                                                <p>File details</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="col-xs-4 col-sm-3 label-control">Name</div>
                                            <div class="col-xs-8 col-sm-9 label-control file-details" id="uploadFile"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="col-xs-4 col-sm-3 label-control">Size</div>
                                            <div class="col-xs-8 col-sm-9 label-control file-details" id="filesize"></div>
                                        </div>
                                    </div>
                                </div>
							</fieldset>
                        </div>
                        <div class="col-xs-6 col-sm-7">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 control-label no-padding-right no-padding-left">
                                    <span>Date employer informed</span>
                                </div>
                                 <div class="col-xs-12 col-sm-6 form-group no-padding-left">
                                     <div class="input-group date" id="datepickerInformedDate">
                                         <input type="text" class="form-control">
                                         <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                     </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 control-label no-padding-left">
                                    <span>Actual start date</span>
                                </div>
                                 <div class="col-xs-12 col-sm-6 form-group no-padding-left">
                                     <div class="input-group date" id="datepickerActualStartDate">
                                         <input type="text" class="form-control">
                                         <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                     </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 no-padding-left">
                                    <span>Baby early?</span>
                                </div>
                                 <div class="col-xs-6 col-sm-6 form-group no-padding-left">
                                    <div class="checkbox" style="margin: 0;">
                                        <label>
                                            <input type="checkbox"> Yes
                                        </label>
                                        &nbsp;
                                        <label>
                                            <input type="checkbox"> No
                                        </label>
                                        <a href="#" class="pull-right"><i class="fa fa-question-circle"></i></a>
                                     </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 control-label no-padding-left">
                                    <span>Actual birth date</span>
                                </div>
                                 <div class="col-xs-12 col-sm-6 form-group no-padding-left">
                                     <div class="input-group date" id="datepickerActualBirthDate">
                                         <input type="text" class="form-control">
                                         <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                     </div>
                                </div>
                            </div>
                        </div>
					</div>
                </div><!-- /modal-body -->

				<div class="modal-footer">
					<a href="#" type="button" class="btn" data-dismiss="modal">Cancel</a>
					 <!-- Split button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">Action</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <span class="caret"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="#">Save</a></li>
                            <li><a href="#">Save and Approve</a></li>
                            <li><a href="#">Save and Reject</a></li>
                            <li><a href="#">Save and Refer</a></li>
                        </ul>
                    </div>
                </div><!-- /modal footer -->
