<div class="modal-content">

        <div class="modal-header">
                    <h4 class="modal-title">Student Loan Request</h4>
        </div><!-- /modal-header -->

        <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 form-group">Candidate name</div>
                        <div class="col-xs-6 col-sm-4 form-group no-padding-left text-right">{{candidateInfo.firstName}} {{candidateInfo.lastName}}</div>
                        <div class="col-xs-6 col-sm-3 form-group">Candidate ID</div>
                        <div class="col-xs-6 col-sm-2 form-group no-padding-left text-right">{{candidateInfo.candidateRef}}</div>
                    </div>
                    <div class="line-horizontal"></div>
                     <table>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="alert alert-success" role="alert">
                                       {{constantsLists[0].description}}
                                    </div>
                                </td>
                                <td style="padding-left: 10px;">
                                    <label class="switch_wrap" for="field">
                                      {{studentLoad.haveLoan}}
                                        <input id="field" type="checkbox" ng-checked="studentLoan.haveLoan" ng-click="studentLoan.haveLoan =!studentLoan.haveLoan">
                                        <div class="switch">
                                            <span class="bullet"></span>
                                        </div>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="alert alert-success" role="alert">
                                      {{constantsLists[1].description}}
                                    </div>
                                </td>
                                <td style="padding-left: 10px;">
                                    <label class="switch_wrap" for="field1">
                                        <input id="field1" type="checkbox" ng-checked="studentLoan.payDirectly" ng-click="studentLoan.payDirectly =!studentLoan.payDirectly" >
                                        <div class="switch">
                                            <span class="bullet"></span>
                                        </div>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
        </div><!-- /modal-body -->

        <div class="modal-footer">
                    <a ng-click="closeModal()" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <button type="button" ng-click="submitStudentLoan()" class="btn btn-primary">Save</button>
                </div><!-- /modal footer -->
      </div>
